 <div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">

                            <h2><span>My Profile</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                    <app-leftbar></app-leftbar>
                </div>
                <div class="col-sm-9">
                    <div class="loginpage">

                        <form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>

                                <div class="form-group">
                                    <label for="name">Name <span class="text-danger">*</span></label>
                                    <!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
                                    <input type="text" class="form-control" name="name" [(ngModel)]="userForm.name" #name="ngModel" required />
                                    <div *ngIf="f.submitted && name.invalid" class="text-danger" >
                                        <div *ngIf="name.errors.required">Name is required</div>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label for="email">Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="email" [(ngModel)]="userForm.email" #email="ngModel" required email disabled />
                                    <div *ngIf="f.submitted && email.invalid" class="text-danger">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input id="phone" class="form-control" name="phone" placeholder="Enter Your Phone Number" [(ngModel)]="userForm.phone" #phone="ngModel" minlength="10">

                                    <div *ngIf="f.submitted && phone.invalid" class="text-danger">
                                        <div *ngIf="phone.errors.required"> Phone is required.</div>
                                        <div *ngIf="phone.errors.minlength"> Phone must be at least 10 characters long.</div> 
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
                                    <input type="text" class="form-control" name="address" [(ngModel)]="userForm.address" #address="ngModel" />
                                    <div *ngIf="f.submitted && address.invalid" class="text-danger" >
                                        <div *ngIf="address.errors.required">Address is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="facility">Facility</label>
                                    <!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
                                    <input type="text" class="form-control" name="facility" [(ngModel)]="userForm.facility" #facility="ngModel" />
                                    <div *ngIf="f.submitted && facility.invalid" class="text-danger" >
                                        <div *ngIf="facility.errors.required">Facility is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="license_number">License Number</label>
                                    <!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
                                    <input type="text" class="form-control" name="license_number" [(ngModel)]="userForm.license_number" #license_number="ngModel" />
                                    <div *ngIf="f.submitted && license_number.invalid" class="text-danger" >
                                        <div *ngIf="license_number.errors.required">License Number is required</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="disipline">Disipline</label>
                                    <!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
                                    <input type="text" class="form-control" name="disipline" [(ngModel)]="userForm.disipline" #disipline="ngModel" />
                                    <div *ngIf="f.submitted && disipline.invalid" class="text-danger" >
                                        <div *ngIf="disipline.errors.required">Disipline is required</div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                        </form>
                        
                    </div>


                    <div class="loginpage"  *ngIf="plandata && plandata.elp_id" style="margin-top: 10px;">
                                <div class="form-group"><h4>MY PLAN DETAIL</h4></div>
                                <div class="form-group">
                                   <div><label><h5>Plan name: </h5></label> {{plandata.elp_id?.name}}</div> 
                                   <div><label><h5>Price: </h5></label> ${{plandata.elp_id?.price}}</div>
                                    <div *ngIf="plandata.elp_provider_payment_id || plandata.elp_payment_id?.facility_name"><label><h5>Facility Name: </h5></label> {{plandata.elp_provider_payment_id ? plandata.elp_provider_payment_id?.facility_name : plandata.elp_payment_id?.facility_name}}</div> 
                                   <div  *ngIf="plandata.elp_id?.persons > 1"><label><h5>No. of Person: </h5></label> {{plandata.elp_id?.persons}}</div> 
                                   <!-- <div><label for="name"><h5>Duration: </h5></label> {{plandata.elp_id?.duration}} months</div> -->
                                   <div><label><h5>Purchase Date: </h5></label> {{this.userForm?.elp_purchase | date: 'dd/MM/yyyy'}}</div>
                                   <div><label><h5>Expire Date: </h5></label> {{this.userForm?.elp_expire | date: 'dd/MM/yyyy'}}</div>
                                    <div  *ngIf="plandata.elp_id?.persons > 1"><label><h5>Coupon Code: </h5></label> {{plandata.elp_payment_id?._id}}</div>
                                    <div  *ngIf="plandata.elp_id?.persons > 1"><label><h5>No. of times coupon is used: </h5></label> {{plandata.elp_payment_id?.coupon_used}}</div>

                                </div>
                                <!-- {{valueDate | date: 'dd/MM/yyyy'}} -->
                    </div>

                    <ng-container *ngFor="let elpdatas of this.elpdata ">
                        <ng-container *ngIf="elpdatas._id != plandata.elp_payment_id?._id">
                        <div class="loginpage" style="margin-top: 10px;">
                            <div class="form-group">
                                <div><label><h5>Plan name: </h5></label> {{elpdatas.elp_id?.name}}</div> 
                                <div><label><h5>Price: </h5></label> ${{elpdatas.elp_id.price}}</div>
                                 <div *ngIf="elpdatas.elp_provider_payment_id || elpdatas?.facility_name"><label><h5>Facility Name: </h5></label> {{elpdatas.elp_provider_payment_id ? elpdatas.elp_provider_payment_id?.facility_name : elpdatas?.facility_name}}</div> 
                                <div  *ngIf="elpdatas?.persons > 1"><label><h5>No. of Person: </h5></label> {{elpdatas?.persons}}</div> 
                                <!-- <div><label for="name"><h5>Duration: </h5></label> {{elpdatas?.duration}} months</div> -->
                                <div><label><h5>Purchase Date: </h5></label> {{this.userForm?.elp_purchase | date: 'dd/MM/yyyy'}}</div>
                                <div><label><h5>Expire Date: </h5></label> {{this.userForm?.elp_expire | date: 'dd/MM/yyyy'}}</div>
                                 <div  *ngIf="elpdatas.elp_id?.persons > 1"><label><h5>Coupon Code: </h5></label> {{elpdatas._id}}</div>
                                 <div  *ngIf="elpdatas.elp_id?.persons > 1"><label><h5>No. of times coupon is used: </h5></label> {{elpdatas?.coupon_used}}</div>

                             </div>
                        </div>
                    </ng-container>
                    </ng-container>


                </div>


            </div>

        </div>
    </div>