<app-pinkbar page="webinar" banner_image="{{this.banner_image}}"></app-pinkbar>

<div id="content">
    <div class="product-detail-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 w-100"  *ngFor="let categoryitem of this.categories">
                    <div class="webinar-outer">
                        <a routerLink="/webinars/upcoming/{{categoryitem.slug}}">
                        	<div class="img-webinar-box">
                            <img src="{{env.serverUrl+env.galleryDir+categoryitem.image}}" *ngIf="categoryitem.image" />
                        </div>
                        <h4>{{categoryitem.name}}</h4> </a>
                        <div [innerHTML]="categoryitem.short_description | safeHtml"></div>
                    </div>
                </div>
            </div>

            <div class="row pt-5 webniar_outer">
                <div class="col-smm-12 col-md-3">
                	<div class="left_sidebar service_shop_sidebar">
                        <!--<h5>Upcoming</h5>-->
                        <ul>
                            <li *ngFor="let categoryitem of this.categories" [class.active]="this.type=='upcoming' && this.category==categoryitem.slug"><a routerLink="/webinars/upcoming/{{categoryitem.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>{{categoryitem.name}}</a> </li>
                            <li><a routerLink="/webinars/recording"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>All On Demand</a> </li>
                            <li><a routerLink="/webinars"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>Upcoming Webinars</a> </li>
                        </ul>
                    </div>
                    <br/>
                   <app-elp></app-elp>                   
                </div>

                <div class="col-sm-12  col-md-9">

                    <div class="row">
                    	<div class="col-md-4 align_left" *ngIf="this.webinar.speaker_id">
                    		<ng-container *ngFor="let speaker of this.webinar.speaker_id">
	                    		<img src="{{env.serverUrl+env.galleryDir+speaker.image}}" />
	                    		<h6>Instructor:</h6>
								<h5><a routerLink="/instructor/{{speaker.slug}}">{{speaker.name}}</a></h5>
								<h6><i>{{speaker.tag_line}}</i></h6>
	                   			<div class="desc_" [innerHTML]="speaker.bio | safeHtml"></div>
                   			</ng-container>
                    	</div>
                    	<div class="col-md-8 align_right">
                    		<h2>{{this.webinar.title}}</h2>
                    		<div class="date_wrap">
                    			<h4>&nbsp;
                    				<span *ngIf="this.recording == false" style="float: left">{{this.webinar.date_time_1 | date: 'MMMM d ':this.timeZone}}<sup>{{getDateSuffix(this.webinar.date_time_1 | date: 'd')}}</sup> </span>
                    				<span *ngIf="this.webinar.price>=1">${{this.webinar.price}}</span>
                    				<span *ngIf="this.webinar.price==0">Free</span>
                    			</h4>
                    		</div> 
                    		
                    		<div class="purchase_step webinar_purchase_dv">
                    			<div class="align_left">
                    				<h4 *ngIf="this.webinar.contact_hours">contact hours <span>{{this.webinar.contact_hours}}</span></h4>
                    				<h4 *ngIf="this.webinar.contact_hours ==''"></h4>
                    			</div>
                    			<div class="align_right">
                    				<ul>
										<li>&nbsp;<span *ngIf="this.recording == false">{{this.webinar.date_time_1 | date: 'h:mm a':this.timeZone}} {{TZNameDateTime1}}</span> 

											<ng-container *ngIf="this.webinar._id !==undefined && this.webinar.speaker_id[0] !==undefined">
											
											<!-- If not purchased webinar -->
											<a href="javascript:void(0)" *ngIf="checkPurchasedWebinar == false" class="btn addcart" attr.data-id="{{this.webinar._id}}" attr.data-name="{{this.webinar.title}}" attr.data-price="{{this.webinar.price}}" attr.data-image="{{(this.webinar.speaker_id)?this.webinar.speaker_id[0].image:''}}" attr.data-slug="{{this.webinar.slug}}" attr.data-category="{{this.webinar.category._id}}" attr.data-categoryslug="{{this.webinar.category.slug}}" data-datetime="date_time_1" attr.data-datetimereal="{{this.webinar.date_time_1}}" data-ptype="webinar">Register</a>
											
											<!-- If already purchased webinar -->
											<a href="javascript:void(0)" style="cursor: no-drop;" *ngIf="checkPurchasedWebinar == true" class="btn" title="Purchased webinar">Register</a>


											
											<a  *ngIf="this.user.elp_plan >=1"   type="button" class="btn addcart"  style=" background: #ab3585;  "  attr.data-id="{{this.webinar._id}}" attr.data-name="{{this.webinar.title}}" attr.data-price="{{this.webinar.price}}" attr.data-image="{{(this.webinar.speaker_id)?this.webinar.speaker_id[0].image:''}}"  attr.check_plan="{{this.user.elp_plan}}" attr.data-slug="{{this.webinar.slug}}" attr.data-category="{{this.webinar.category._id}}" attr.data-categoryslug="{{this.webinar.category.slug}}"data-datetime="date_time_1" attr.data-datetimereal="{{this.webinar.date_time_1}}" data-ptype="webinar"  (click)="purchase_by_plan('date_time_1')" >ELP Register</a>
											</ng-container>
                                        </li>

										<li *ngIf="this.recording == false">&nbsp;<span>{{this.webinar.date_time_2 | date: 'h:mm a':this.timeZone}} {{TZNameDateTime2}}</span> 
											<ng-container *ngIf="this.webinar._id !==undefined  && this.webinar.speaker_id[0] !==undefined">
                    						<a  href="javascript:void(0)" class="btn addcart" attr.data-id="{{this.webinar._id}}" attr.data-name="{{this.webinar.title}}" attr.data-price="{{this.webinar.price}}" attr.data-image="{{(this.webinar.speaker_id)?this.webinar.speaker_id[0].image:''}}"  attr.data-slug="{{this.webinar.slug}}" attr.data-category="{{this.webinar.category._id}}" attr.data-categoryslug="{{this.webinar.category.slug}}" data-datetime="date_time_2" attr.data-datetimereal="{{this.webinar.date_time_2}}" data-ptype="webinar"  >Register</a>
											 <a  *ngIf="this.user.elp_plan >=1"  type="button" class="btn addcart"  style="background: #ab3585;  "  attr.data-id="{{this.webinar._id}}" attr.data-name="{{this.webinar.title}}" attr.data-price="{{this.webinar.price}}" attr.data-image="{{(this.webinar.speaker_id)?this.webinar.speaker_id[0].image:''}}"  attr.check_plan="{{this.user.elp_plan}}" attr.data-slug="{{this.webinar.slug}}" attr.data-category="{{this.webinar.category._id}}"  attr.data-categoryslug="{{this.webinar.category.slug}}" data-datetime="date_time_2" attr.data-datetimereal="{{this.webinar.date_time_2}}" data-ptype="webinar"  (click)="purchase_by_plan('date_time_2')" >ELP Register</a>
											</ng-container>
                                    	</li> 

                    				</ul>
                    			</div>
                    		</div>
                    		
                    		<h5 *ngIf="this.webinar.descriptions">Course Descriptions</h5>
                    		<div *ngIf="this.webinar.description" [innerHTML]="this.webinar.description | safeHtml"></div>
							
							
                    		<h5 *ngIf="this.webinar.objective" class="approved_state">Course Objectives:</h5>
                    		<div *ngIf="this.webinar.objective" [innerHTML]="this.webinar.objective | safeHtml"></div>

                    		<!-- <h5 class="approved_state">Course Topics:</h5> -->
                    		<!-- <div [innerHTML]="this.webinar.topics | safeHtml"></div> -->
                            <!-- <div [innerHTML]="isArray(this.webinar.topics) ? this.webinar.topics.join('<br />') : this.webinar.topics"></div> -->
							
							<ng-container *ngIf="this.webinar.contact_hours && this.webinar.contact_hours !=='0' ">
								<h5 class="approved_state">Approved in my state?</h5>
								<form action="">
									<select name="" id="" *ngIf="this.states" (change)="checkState($event.target.value)">
										<option value="">Select Your State</option>
										<option value="{{state.name}}" *ngFor="let state of this.states">{{state.name}}</option>
									</select>
									<div class="bg-success" *ngIf="approved_state_txt !=''" style="padding: 10px" [innerHTML]="this.approved_state_txt | safeHtml"></div>
									<div class="bg-danger" *ngIf="approved_state_txt_false !=''" style="padding: 10px" [innerHTML]="this.approved_state_txt_false | safeHtml"></div>
								</form>
							</ng-container>
                    		
                    		<ul class="approved_state">
                    			<li *ngIf="this.webinar.pre_requisite"><span>Prerequisites</span> {{this.webinar.pre_requisite}}</li>
                    			<li *ngIf="this.webinar.education_level"><span>Educational Level</span> {{this.webinar.education_level}}</li>                    			
                    		</ul>
                    		
                    	</div>
                    	
                    </div>

                    <app-pagetestimonials *ngIf="this.webinar._id" page="webinar" id="{{this.webinar._id}}"></app-pagetestimonials>
                </div>


            </div>


		</div> <!-- end  container -->
    </div> <!-- end  product-detail-page -->
</div> <!-- end content -->
