<!--<div class="slider">
    <div class="featured_image">
        <img src="assets/images/news-banner.jpg" alt="" />
    </div>
</div>-->
<app-pinkbar page="news"></app-pinkbar>

<div id="content">
    <div class="container"> 
    	<div class="pagehead" *ngIf="slug==null"><h2><span>News</span></h2></div>
    	<div class="product_grid_icon grid_view_icon">
         
           <div class="product_grid_select">
                <!--<div class="view_icon_outer"><span>View By </span> <a href="#"><i class="fas fa-th"></i></a><a href="#" class="active"><i class="fas fa-list"></i></a></div>-->

                <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
                <div class="product_sort_select" style="width: 40%">
                    <label>Search by</label>
                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
                </div>                           
            </div>                   
            <span class="show_number"> Showing {{ (this.p - 1) * this.itemsPerPage + 1 }} - {{ this.p * this.itemsPerPage }} of {{ this.filterMetadata.count }} items</span>            
        </div>
        <div class="news_content" *ngIf="slug==null">            
            <ul>
                <li *ngFor="let news of this.newsData | stringfilter: {title: keyword, description: keyword} : false : filterMetadata | orderBy:'name' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">
                   	<div class="news_image" *ngIf="news.image">
                        <img src="{{env.serverUrl+env.galleryDir+news.image}}" alt="" style="width:225px;height:225px"/>
                    </div>
                    <div class="new_content" style="width:100%">
                        <h4>{{news.title}}</h4>
                        <p>{{news.short_description}}</p>
                        <a routerLink="/news/{{news._id}}" class="news_btn">View More</a>
                    </div>
                </li>               
            </ul>
            <pagination-controls (pageChange)="p = $event" class="pagination_dev"></pagination-controls>
            <!--<div class="view_all">
                <a href="#">View All News </a>
            </div>-->
        </div>

         <div class="news_content" *ngIf="slug!=null">
        	<h2><span>{{this.newsData.title}}</span> </h2>
        	<div class="news_content">
        		<div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4" *ngIf="newsData.image">
                        <img src="{{env.serverUrl+env.galleryDir+this.newsData.image}}" style="width:225px;height:225px"/>                        
                    </div>
                    <div [innerHTML]="this.newsData.description | safeHtml"></div>
		            <br/><div class="view_all col-xs-12 col-sm-12 col-md-12">
		                <a routerLink="/news">View All News </a>
		            </div>
                </div>    
        	</div>                                                            
        </div>        
    </div> 
</div>