<app-pinkbar page="service"></app-pinkbar>

<div id="content">
    <div class="container-fluid">
    	<div class="row" >	    	
	    	<div class="col-xs-12">

			    <div class="product_help">
			        <div class="container">
			            <div class="pagehead"><h2><span>Contact Service & Parts Department</span></h2></div>
			            <p>Get help with Litegait products, troubleshoot unit issues, or request replacement hardware.</p>
			        </div>
			    </div>

			    <!--- Select Product ---->

			    <div class="select_product_outer">
			        <div class="container">			            
			            <div class="row">
			            	<div class="col-sm-3 text-center" style="padding-top: 100px;">
			            		<a href="https://meetings.hubspot.com/joel144/device-check" target="_blank">Schedule a service call <br/>or <br/>An Equipment check</a>
			            		<br/><br/><br/>
			            		<a routerLink="/page/service-check-video">Watch new equipment <br/>service check video</a>
			            	</div>
			            	<div class="col-sm-9">
			            		<div class="select_product_outer_heading">
			                		<h3>Submit a Service Assistance Request Ticket</h3>
			            		</div>
			            		<form [formGroup]="userForm" #formDir="ngForm">   
									<div class="form-group">
										<div class="row">
											<div class="col-xs-6">
												<input id="first_name" class="form-control " formControlName="first_name"  placeholder="Enter Your First Name" required/>
												<div *ngIf="userForm.controls.first_name.invalid && (userForm.controls.first_name.dirty || userForm.controls.first_name.touched)" class="text-danger">
													<div *ngIf="userForm.controls.first_name.errors.required"> First Name is required.</div>
												</div>          
											</div>
											<div class="col-xs-6">
												<input id="last_name" class="form-control " formControlName="last_name"  placeholder="Enter Your Last Name" required/>
												<div *ngIf="userForm.controls.last_name.invalid && (userForm.controls.last_name.dirty || userForm.controls.last_name.touched)" class="text-danger">
													<div *ngIf="userForm.controls.last_name.errors.required"> Last Name is required.</div>
												</div>          
											</div>
										</div>
									</div>
									<div class="form-group">										
										<input id="email" class="form-control" formControlName="email"  placeholder="Enter Your Email" required/>
										<div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
											<div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
											<div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
										</div>
									</div>
									<div class="form-group">                          
                                		<input id="address" class="form-control " formControlName="address"  placeholder="Address" />                             
                                	</div>
                                	<div class="form-group">
                                		<textarea class="form-control" placeholder="Your Message"   id="message"  formControlName="message"  placeholder="Message" required></textarea>
                                		<div *ngIf="userForm.controls.message.invalid && (userForm.controls.message.dirty || userForm.controls.message.touched)" class="text-danger">
                                			<div *ngIf="userForm.controls.message.errors.required"> Message is required.</div>
                                		</div>
                                	</div>
                                	<button type="submit" class="btn" value="Submit"  [disabled]="userForm.invalid" (click)="sendContactEmail()">Submit</button>
                            	</form>
			            	</div>	
			            </div>				            
			           
			        </div>
			    </div>


			   

			</div>	
		</div>
	</div>
</div>			