.select_product_outer .select_product_slider.trainers_list .item{ text-align: center; margin-left: 0px; margin-right: 0px; margin-bottom: 20px;}
.select_product_outer .select_product_slider.trainers_list [class*="col-"]{ padding-left: 8px; padding-right: 8px;}


.trainers_list_block{ border: 1px solid rgba(0,0,0,0.15); text-align: center; padding: 5px 10px; margin-bottom: 16px;}
.trainers_list_block .cat_dis{ width: 100%; position: static;}
.instructore_img_class{ width: 140px; height: 140px; border-radius: 50%; margin: 0px auto;}
.instructore_img_class img{ width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}