<app-pinkbar page="product"></app-pinkbar>
<div class="product_page">
    <div class="container">         
        <div class="pagehead"><h2><span>Products</span></h2></div>
        <p>LiteGait provides a broad selection of innovative products, education and rehabilitation solutions. Our products are clinically relevant, cost
            rffective and designed to help you, the busy clinician, be more effective with your patients. LiteGait products meet the clinical gait therapy needs of patients of all ages in the clinic and in the home. Browse our devices and request a quote for your specific needs.</p>
            
            <div class="product_grid_icon grid_view_icon">
                <div class="product_grid_select">
                    <div class="view_icon_outer"><span>View By </span> <a href="javascript:void(0);"  [ngClass]="!show?'active':''" (click)="onbtnClick('grid')"><i class="fas fa-th"></i></a><a href="javascript:void(0);"   [ngClass]="show?'active':''"   (click)="onbtnClick('list')"><i class="fas fa-list"></i></a></div>
                    <form class="product_sort_select_outer">
                        <div class="product_sort_select">
                            <label>Sort by</label>
                            <select class="form-control" (change)="onChange($event.target.value)">
                                <option value="asc">Product Name: A to Z</option>
                                <option value="desc">Product Name: Z to A</option>
                            </select>
                        </div>
                        <!-- <div class="product_number_select">
                            <label>Show</label>
                            <select class="form-control">
                                <option>10</option>
                                <option>9</option>
                                <option>8</option>
                            </select>
                        </div> -->
                    </form>
                </div>
                <!-- <span class="show_number"> Showing 1 - 8 of 18 items</span> -->

                <span class="show_number"> Showing {{ (this.p - 1) * this.itemsPerPage + 1 }} - {{ this.p * this.itemsPerPage }} of {{ this.filterMetadata.count }} items</span>
            </div>



        <div class="select_product_outer">  
            <div class="row" *ngIf="!show">   
            	<div class="product_search_slider select_product_slider">

<!-- orderBy:'name' : this.orderByType | -->

                  <div class="col-xs-6 col-sm-3 col-lg-3" *ngFor="let category of this.categories | stringfilter: {title: keyword, description: keyword} : false : filterMetadata |  paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p, id: 'photo_list' }" style="padding: 0px">
                   		<div class="item item-block"   (mouseover)="overlay_show($event)" (mouseout)="overlay_hide($event)"> 
    		                <div class="crouserl_img">    		                   	
			                    <!--<span class="new">New</span>-->
			                    <h6>{{category.name}}</h6>
		                      	<div class="cat_dis" [innerHTML]="category.feature | safeHtml"></div>
			                    <div class="crousel_img"><img src="{{env.serverUrl+env.galleryDir+category.image}}" alt="" /></div>
    		                </div>
    		                <div class="overlay-block item-hover-class" style="display: none">
                                <ul>
                                	<ng-container *ngFor="let product of this.products">
                                    	<li *ngIf="product.category == category._id">
                                        	<a routerLink="/product/{{product.slug}}">{{product.name}}</a>
                                    	</li>
                                	</ng-container>
                                </ul>
                            </div>
                  		</div>
                	</div> 
                </div>  <!-- end product_search_slider -->  
            </div>

            <div class="row" *ngIf="show">
                <div class="news_content">
                <ul class="accessory_list">
                    <!-- orderBy:'name' : this.orderByType | -->
                    <li *ngFor="let category of this.categories | stringfilter: {title: keyword, description: keyword} : false : filterMetadata |  paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p, id: 'photo_list' }">
                        <div class="accessory_image"  *ngIf="category.image">
                            <a routerLink="/productlist/{{category.slug}}">
                                <img src="{{env.serverUrl+env.galleryDir+category.image}}" alt="" />
                            </a>
                        </div>
                        <div class="accessory_content accessory_cotent">
                            <a routerLink="/productlist/{{category.slug}}"><h5>{{category.name}}</h5></a> 
                            <!-- <div class="cat_dis cat_dis_list_view" [innerHTML]="category.feature | safeHtml"></div> -->
                            <!-- <strong>Short description</strong>  -->
                            <div class="cat_dis cat_dis_list_view" [innerHTML]="truncateText(category.short_description,800)"></div>
                              <!-- <p [innerHTML]="(category.short_description.length>450)? (category.short_description | slice:0:450)+'...':(category.short_description)"></p> -->
                            <a  routerLink="/productlist/{{category.slug}}" class="read_btn a_btn">Read more</a>
                            <!-- <a href="#" class="accessory_buy_btn">Buy Now </a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- end select_product_outer -->
            <pagination-controls (pageChange)="p = $event" class="pagination_dev" id="photo_list"></pagination-controls>
    </div>   
</div>