<div id="content">
    <div class="container">
    	<div class="row" >
	    	<div class="pagehead" *ngIf="this.slug==null"><h2><span>{{this.title}}</span></h2></div>
	    	<div class="col-xs-12">
		    	<div class="product_grid_icon grid_view_icon">	
		    		<div class="product_grid_select">
                		<i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
                		<div class="product_sort_select" style="width: 40%">
                    		<label>Search by</label>
                    		<form class="accessory_search" (ngSubmit)="searchBySerialNo()">
                    			<input class="form-control" [(ngModel)]="this.serialno" name="serialno" (blur)="searchBySerialNo()" placeholder="Search by Keyword or Serial No"/>
                    			<button type="submit"><i class="fas fa-search"></i></button>
                    		</form>                    		
                		</div>     
                		<div class="text-danger text-left" *ngIf="this.error !=''" style="width: 100%;margin-top: 15px;" [innerHTML]="this.error"></div>                      
            		</div>	         		                             		            
		        </div>
		        <div class="gallery_content">	           	
		            <div class="gallery_content">		                
		                <div class="row" >
			                <div class="news_content gallery_page_listview">			                	
			                	<ul *ngFor="let category of this.categories">			                		
			                		<li *ngIf="checkcatHasProduct(category._id) == true"><div class="pagehead col-sm-12"><h2 style="font-size: 24px; text-transform: capitalize; margin-bottom: 0px;">{{category.name}}</h2></div></li>
			                		<!--<ng-container *ngFor="let product of this.products | stringfilter: {name: keyword,description: keyword,service_description: keyword,serial_no: keyword} : false : filterMetadata  | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p, id: 'photo_list' };  let i = index;">-->
			                		<ng-container *ngFor="let product of this.products | stringfilter: {name: keyword,description: keyword,service_description: keyword,serial_no: keyword} : false : filterMetadata;  let i = index;">

						                <li *ngIf="product.category == category._id && this.slug==null">
						                	<span *ngIf="updatecatHasProduct(category._id,true)"></span>
					                		<div class="col-xs-9 text-justify">
							                   	<div class="news_image gall_image" style="width: 20%;text-align: left">
							                        <img src="{{env.serverUrl+env.galleryDir+product.service_image}}" style="height:120px;" *ngIf="product.service_image && product.service_image!=''"/>
							                        <img src="{{env.serverUrl+env.galleryDir+product.image}}" style="height:120px;" *ngIf="!product.service_image || product.service_image==''"/>
							                    </div>
							                    <div class="new_content" style="width:100%">
							                       <a routerLink="/service/product/{{product.slug}}"><h4>{{product.name}}</h4></a>
							                        <p [innerHTML]="product.service_description" *ngIf="product.service_description && product.service_description!=''"></p>
							                        <p [innerHTML]="product.description | striphtml | slice:0:400" *ngIf="!product.service_description || product.service_description==''"></p>
							                    </div>	
							                </div>
							                <div class="col-xs-3 text-right">
							                	<ng-container *ngFor="let document of this.documents">						                			
							                		<ng-container *ngIf="document.product_id==product._id">
							                			<ng-container *ngFor="let keys of getKeys(document)">						                			
							                			<div *ngIf="document[keys]!='' && keys!='product_datasheet' && keys!='product_datasheet_name'">
															<a href="{{env.serverUrl+env.galleryDir+document[keys]}}" class="documentlink" target="_blank">{{showKeys(keys)}}</a>
														</div>
														</ng-container>	
														<ng-container *ngFor="let item of document.product_datasheet;let j = index;let last = last;">
                                	 						<div><a href="{{env.serverUrl+env.galleryDir+item}}" class="documentlink" target="_blank">{{this.document.product_datasheet_name[j]}}</a></div>
                                	 					</ng-container>							
							                		</ng-container>	
							                	</ng-container>
							                	<div><a routerLink="/parts/product/{{product.slug}}" class="documentlink">Parts</a></div>
							                </div>    					                    					                   
						                </li> 

						                <div class="col-xs-3 text-justify faqheadding" *ngIf="product.category == category._id && this.slug!=null">
						                	<span *ngIf="updatecatHasProduct(category._id,true)"></span>					                		
							                <a routerLink="/service/product/{{product.slug}}">{{product.name}}</a>
							            </div>							                   					                    					                   
						            </ng-container>
					            </ul>
					        </div>
		                </div>              
		                <!--<pagination-controls (pageChange)="p = $event" class="pagination_dev" id="photo_list"></pagination-controls>-->
		            </div>     
		        </div> <!-- end gallery_content -->
	    	</div>	    	   	
    	</div>
    </div>       	   
</div>