<app-pinkbar page="login"></app-pinkbar>

<div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2 style="margin-bottom:0px;"><span>Request A Quote For <i>{{this.product.name}}</i></span></h2>
                        </div>
                    </div>
                    <!-- <p><b>Please fill out the information below and our customer service representatives will email you with a quote as soon as possible.</b></p>
                	<div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

					<ng-container *ngIf="hugNgoProduct">
						<div formid="e4850c9f-f30c-4752-aceb-be925f4a1b8a" id="hubspotForm" portalid="5543041" class="newsletterEmail" style="margin:0 auto;width: 55%;"></div>
					</ng-container>


					<ng-container *ngIf="homeProducts">
						<div formid="b2c8b6e0-bd4f-460c-bfa1-46b5326f5068" id="hubspotForm" portalid="5543041" class="newsletterEmail" style="margin:0 auto;width: 55%;"></div>
					</ng-container>

					<ng-container *ngIf="tredmillProduct">
						<div formid="d2985c3b-2c1c-4f36-9b1e-8568de26093d" id="hubspotForm" portalid="5543041" class="newsletterEmail" style="margin:0 auto;width: 55%;"></div>
					</ng-container>




					<ng-container *ngIf="anyProduct">
						<div formid="074d2ab3-a2c2-42ac-b0dc-0b47ec1cde9e" id="hubspotForm" portalid="5543041" class="newsletterEmail" style="margin:0 auto;width: 55%;"></div>
					</ng-container>



					<ng-container *ngIf="partProducts">
						<div formid="d07b23f4-2349-4f78-b34b-017a2b306f74" id="hubspotForm" portalid="5543041" class="newsletterEmail" style="margin:0 auto;width: 55%;"></div>
					</ng-container>

					
                    <!-- <div class="loginpage">
		                <form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
		                    <div class="form-group">
		                        <label for="name">Name <span class="text-danger">*</span></label>
		                        <input type="text" class="form-control" name="name" [(ngModel)]="quoteForm.name" #name="ngModel" required />
		                        <div *ngIf="f.submitted && name.invalid" class="text-danger">
		                            <div *ngIf="name.errors.required">Name is required</div>
		                        </div>
		                    </div>
		                   
		                    <div class="form-group">
		                        <label for="email">Email <span class="text-danger">*</span></label>
		                        <input type="text" class="form-control" name="email" [(ngModel)]="quoteForm.email" #email="ngModel" required email />
		                        <div *ngIf="f.submitted && email.invalid" class="text-danger">
		                            <div *ngIf="email.errors.required">Email is required</div>
		                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
		                        </div>
		                    </div>

		                    <div class="form-group">
						        <label for="phone">Phone <span class="text-danger">*</span></label>
						        <input id="phone" class="form-control" name="phone" placeholder="Enter Your Phone Number" [(ngModel)]="quoteForm.phone" #phone="ngModel" required minlength="10">

						        <div *ngIf="f.submitted && phone.invalid" class="text-danger">
									<div *ngIf="phone.errors.required"> Phone is required.</div>
									<div *ngIf="phone.errors.minlength"> Phone must be at least 10 characters long.</div> 
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="phone">Message <span class="text-danger">*</span></label>
						        <textarea id="message" class="form-control" name="message" placeholder="Enter Your Message" [(ngModel)]="quoteForm.message" #message="ngModel" required rows="5"> </textarea>

						        <div *ngIf="f.submitted && message.invalid" class="text-danger">
									<div *ngIf="message.errors.required"> Message is required.</div>							
						        </div>
					      	</div>

					      	<div class="form-group" *ngFor="let item of quoteFormData"> 
					      		<label for="phone">{{item.title}} <span class="text-danger" *ngIf="item.required==1">*</span></label>
					      		<ng-container *ngIf="item.type=='textbox'"> 
					      			<input id="{{item.title}}" class="form-control" name="{{item.title}}" [(ngModel)]="quoteFormCustom[item.title]" #itemInput="ngModel" placeholder="{{item.placeholder}}" [required]="item.required==1" >
					      			<div *ngIf="f.submitted && itemInput.invalid" class="text-danger">
									<div *ngIf="itemInput.errors.required"> {{item.title}} is required.</div>							
						        </div> 				      			
					      		</ng-container>	
					      		<ng-container *ngIf="item.type=='textarea'">
						        	<textarea id="{{item.title}}" class="form-control" name="{{item.title}}" [(ngModel)]="quoteFormCustom[item.title]" #itemInput="ngModel" placeholder="{{item.placeholder}}"  [required]="item.required==1" rows="5"> </textarea>
						        	<div *ngIf="f.submitted && itemInput.invalid" class="text-danger">
										<div *ngIf="itemInput.errors.required"> {{item.title}} is required.</div>							
						        	</div> 	
						    	</ng-container>
					      		<ng-container *ngIf="item.type=='checkbox'">
					      			<input type="checkbox" id="{{item.title}}" class="form-control1" name="{{item.title}}" [(ngModel)]="quoteFormCustom[item.title]" #itemInput="ngModel" value="1"  [required]="item.required==1"  style="width: 16px;height: 16px;margin-left:20px;vertical-align: text-bottom;">
					      			<div *ngIf="f.submitted && itemInput.invalid" class="text-danger">
										<div *ngIf="itemInput.errors.required"> {{item.title}} is required.</div>							
						       		</div> 	
					      		</ng-container>
					      		<ng-container *ngIf="item.type=='selectbox'">
					      			<select id="{{item.title}}" class="form-control" name="{{item.title}}"  [(ngModel)]="quoteFormCustom[item.title]" #itemInput="ngModel" [required]="item.required==1" >
					      				<option value="">Select Option</option>
					      				<option *ngFor="let keyopt of stringtoArray(item.options);" value="{{keyopt}}">{{keyopt}}</option>
					      			</select>	
					      			<div *ngIf="f.submitted && itemInput.invalid" class="text-danger">
										<div *ngIf="itemInput.errors.required"> {{item.title}} is required.</div>							
						        	</div> 	
					      		</ng-container>	
					      					      					      		
					      	</div>	
		                    
		                    <div class="form-group btns">
		                        <button class="btn btn-primary">Submit</button>
		                    </div>
		                    <div class="sighup-account">
                               <a routerLink="/product/{{this.product.slug}}" *ngIf="this.type=='product'">Back to Product Page</a>
                               <a routerLink="/part/{{this.product.slug}}" *ngIf="this.type=='part'">Back to Part Page</a>
                            </div>
		                </form>

                    	
                        
                    </div>  -->


                </div>


            </div>

        </div>
    </div>