<app-pinkbar page="webinar" banner_image="{{this.banner_image}}"></app-pinkbar>
<div id="content">
    <div class="product-detail-page">

        <div class="container">

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 w-100"  *ngFor="let categoryitem of this.categories">
                    <div class="webinar-outer">
                        <a routerLink="/webinars/upcoming/{{categoryitem.slug}}">
                        	<div class="img-webinar-box">
                            <img src="{{env.serverUrl+env.galleryDir+categoryitem.image}}" *ngIf="categoryitem.image" />
                        </div>
                        <h4>{{categoryitem.name}}</h4> </a>
                        <div [innerHTML]="categoryitem.short_description | safeHtml" class="continue_text"></div>
                    </div>
                </div>
            </div>

            <div class="row pt-5">

                <div class="col-sm-12">                    
                    <div class="pagehead"><h2 style="text-transform: capitalize;"><span>{{this.titleService.getTitle()}}</span></h2></div>  
                </div>

                <div class="col-smm-12 col-md-3">

                    <div class="left_sidebar service_shop_sidebar">
                        <!--<h5>Upcoming</h5>-->
                        <ul>
							<!-- <li><a routerLink="/webinars" ><span><img src="assets/images/arrow-sidebar.png" > </span>All Webinars</a> </li> -->
							<li><a routerLink="/webinars/upcoming" ><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>Upcoming Webinars</a> </li>
							<li>
								<a routerLink="/webinars/recording"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>All On Demand</a>
								<ul style="padding-left: 15px;">
									<li *ngFor="let categoryitem of this.categories"><a routerLink="/webinars/recording/{{categoryitem.slug}}" routerLinkActive="active"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>{{categoryitem.name}}</a> </li>
								</ul>
							</li> 
                        </ul>
                        <!--<h5>On Demand</h5>
                        <ul>
                            <li *ngFor="let categoryitem of this.categories" [class.active]="this.type=='recording' && this.category==categoryitem.slug"><a routerLink="/webinars/recording/{{categoryitem.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>{{categoryitem.name}}</a> </li>
                            <li><a routerLink="/webinars/recording"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>All On Demand</a> </li>
                        </ul> -->                                            

                    </div>

                    <app-elp></app-elp>

                </div>

                <div class="col-sm-12  col-md-9">

                	 <div class="product_grid_icon grid_view_icon" style="margin-top: 0px">
         
			           <div class="product_grid_select" style="width:100%">
			           		<div class="col-sm-1">			                
			                <i class="fa fa-filter btn-lg " aria-hidden="true"></i>
			            	</div>
			                <div class="col-sm-5">                
			                <div class="product_sort_select">
			                    <!--<label>Search by</label>-->
			                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
			                </div>	
			                </div>
			                <div class="col-sm-5">		                          
			                <ng-multiselect-dropdown
									  [placeholder]="'Choose Topics'"
									  [data]="this.topics"
									  [(ngModel)]="search_topic"
									  [settings]="dropdownSettings"
									  (onSelect)="onItemSelect($event)"
									  (onSelectAll)="onSelectAll($event)"
									  (onDeSelect)="onItemUnSelect($event)"
									>
								</ng-multiselect-dropdown>
							</div>
			            </div>                   
			        </div>

			        <!-- <ng-container *ngFor="let webinar of this.webinars  | webinarsearch: {title: keyword, description: keyword,objective: keyword, topics:search_topic_arr} : false : filterMetadata "> -->

						<ng-container *ngFor="let webinar of this.webinars  | webinarsearch: {title: keyword,description: keyword,speakers: keyword,objective: keyword,topics:search_topic_arr} : false : filterMetadata| paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p } ">
	                    <div class="webinars-list" *ngIf="checkRecording(webinar.date_time_2,this.serverTime) == false">
	                        <div class="webinars-img">
	                            <div class="boximg">
	                            	<span class="ondemand" *ngIf="this.category || this.type=='recording'">On Demand</span>
	                                <!--<img src="{{env.serverUrl+env.galleryDir+webinar.speaker_id[0].image}}" alt="" style="max-height: 250px" />-->
	                                <img src="{{env.serverUrl+env.galleryDir+webinar.image}}" alt="" style="max-height: 250px" />
	                            </div>
	                        </div>
	                        <div class="webinars-info">
	                            <span class="web_calendar"> <img src="assets/images/icon-calendar.png" alt="" /> </span>
	                            <div class="web-info">
	                                <ul>
	                                    <li><img src="assets/images/arrow-fly.png" alt="" /><a routerLink="/webinar/{{webinar.slug}}">{{webinar.title}}</a></li>
	                                    <li class="datetime">
	                                    	<img src="assets/images/icon-watcha.png" alt="" />
	                                    	{{webinar.date_time_1 | date: 'MMMM d, y h:mm a':getTiemzone(webinar.date_time_1)}} {{getTiemzone(webinar.date_time_1)}}
	                                    	<span *ngIf="webinar.date_time_2 !=''">, {{webinar.date_time_2 | date: 'MMMM d, y h:mm a':getTiemzone(webinar.date_time_1)}} {{getTiemzone(webinar.date_time_2)}}</span>
	                                    </li>                                   
										<li *ngFor="let speaker of webinar.speaker_id">
											<img src="assets/images/user-icon.png" alt="" />                                    	
	                                    	<a routerLink="/instructor/{{speaker.slug}}">{{speaker.name}}</a>
	                                    </li>
	                                    <li><img src="assets/images/info.png" alt="" />
	                                    	<div [innerHTML]="webinar.description | truncateText:200" class="courseinfo">         	<a routerLink="/webinar/{{webinar.slug}}" >View More</a></div> 
	                           
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="clearfix"></div>
	                    </div> 
	                </ng-container> 

	                <!--<ng-container *ngIf="this.category || this.type=='recording'"> -->
	                <div *ngFor="let webinar of this.webinars  | webinarsearch: {title: keyword, description: keyword,objective: keyword,speakers: keyword,topics:search_topic_arr} : false : filterMetadata| paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p } ">
	                    <div class="webinars-list" *ngIf="checkRecording(webinar.date_time_2,this.serverTime) == true">
	                        <div class="webinars-img">
	                            <div class="boximg">
	                            	<span class="ondemand">On Demand</span>
	                                <!--<img src="{{env.serverUrl+env.galleryDir+webinar.speaker_id[0].image}}" alt="" style="max-height: 250px" />-->
	                                <img src="{{env.serverUrl+env.galleryDir+webinar.image}}" alt="" style="max-height: 250px" />
	                            </div>
	                        </div>
	                        <div class="webinars-info">
	                            <span class="web_calendar"> <img src="assets/images/icon-calendar.png" alt="" /> </span>
	                            <div class="web-info">
	                                <ul>
	                                    <li><img src="assets/images/arrow-fly.png" alt="" /><a routerLink="/webinar/{{webinar.slug}}">{{webinar.title}}</a></li>
										<li *ngFor="let speaker of webinar.speaker_id">
											<img src="assets/images/user-icon.png" alt="" />                                    	
	                                    	<a routerLink="/instructor/{{speaker.slug}}">{{speaker.name}}</a>
	                                    </li> 
	                                    <li><img src="assets/images/info.png" alt="" />
	                                    	<div [innerHTML]="webinar.description | truncateText:200" class="courseinfo"></div> 
	                                    	<a routerLink="/webinar/{{webinar.slug}}">View More</a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="clearfix"></div>
						</div> 
						
					</div> 
					<div style="margin-left: auto;text-align:center" *ngIf="this.type !=='recording'"><a class="anchor" routerLink="/webinars/recording/{{category}}">
					<img style="width:300px;" src="assets/images/on-demand-webinar-button.png" alt="" /> 
					<!-- <h4 style="text-transform: capitalize;"> {{category}} On-Demand Recordings</h4> -->
					</a></div>
					<div class="pagination_sec">
						<pagination-controls (pageChange)="p = $event"></pagination-controls>
					</div>
	                <!--</ng-container>  -->
                </div>

            </div>

        </div> <!-- end  container -->
    </div> <!-- end  product-detail-page -->
</div> <!-- end content -->
<style type="text/css">
.pagination_sec{ display: flex; align-items: center;}
.anchor{ font-size: 16px;}

</style>
