<app-pinkbar page="register"></app-pinkbar>

<div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>Sign Up</span></h2>
                        </div>
                    </div>
                </div>
			</div>
		

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="loginpage">

                    	<form [formGroup]="userForm" #formDir="ngForm">
					     	<div class="form-group">
						        <label for="name">Name</label>
						        <input id="name" class="form-control fields" formControlName="name" placeholder="Enter Your Name" required >

						        <div *ngIf="userForm.controls.name.invalid && (userForm.controls.name.dirty || userForm.controls.name.touched)" class="text-danger">
									<div *ngIf="userForm.controls.name.errors.required"> Name is required.</div>
									<div *ngIf="userForm.controls.name.errors.minlength"> Name must be at least 4 characters long.</div>          
						        </div>
					      	</div>

					      	<div class="form-group">
					        	<label for="email">Email</label>
					        	<input id="email" class="form-control fields" formControlName="email"  placeholder="Enter Your Email" required/>

					        	<div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
									<div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
									<div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
									<div *ngIf="userForm.controls.email.errors.isEmailUnique">This email has been registered already</div>     		   
						        </div>	        
					      	</div>

					      	<div class="form-group">
						        <label for="phone">Phone</label>
						        <input id="phone" class="form-control fields" formControlName="phone" placeholder="Enter Your Phone Number" >

						        <div *ngIf="userForm.controls.phone.invalid && (userForm.controls.phone.dirty || userForm.controls.phone.touched)" class="text-danger">
									<div *ngIf="userForm.controls.phone.errors.required"> Phone is required.</div>
									<div *ngIf="userForm.controls.phone.errors.minlength"> Phone must be at least 10 characters long.</div>          
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="password">Password</label>
						        <input id="password" type="password" class="form-control fields" formControlName="password" placeholder="Enter Password" required >

						        <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
									<div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
									<div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="confirm_password">Confirm Password</label>
						        <input id="confirm_password" type="password" class="form-control fields" formControlName="confirm_password" placeholder="Re-enter Password" required >

						        <div *ngIf="userForm.controls.confirm_password.invalid && (userForm.controls.confirm_password.dirty || userForm.controls.confirm_password.touched)" class="text-danger">
									<div *ngIf="userForm.controls.confirm_password.errors.required"> Confirm Password is required.</div>
									<div *ngIf="userForm.controls.confirm_password.errors.minlength"> Confirm Password must be at least 6 characters long.</div> 

						        </div>
						         <div *ngIf="userForm.controls.confirm_password.touched && userForm.hasError('validConfirmPassword')" this.seminar>
						        	<div *ngIf="userForm.hasError('validConfirmPassword')">Confirm Your Password.</div>
						        </div>
							  </div>
							  <re-captcha (resolved)="resolved($event)" formControlName="captcha" siteKey="6LcZjrEZAAAAALwVwXIJLI0fg1xXLQNylcUtzz7P"> </re-captcha>
					      	<div class="btns">    	
					      		<button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Submit</button>
					      	</div>

	      					<div class="sighup-account">
                                Already have an account? <a routerLink="/login">Login</a>
                            </div>					      	
	    
	  					</form>
                        
                    </div>


                </div>


            </div>

        </div>
    </div>