
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 sitemap">
                <h5>Sitemap</h5>
                <ul>           
                    <li *ngFor="let menu of this.menu1Data | keyvalue">                    	
                    	<a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}">{{menu.value.name}}</a>
                    </li>                   
                </ul>
            </div>
            <!-- <ng-container *ngIf="!this.user.user_id"> -->
                <div class="col-md-4 login_course">
                    <h5>Login to View Your Courses</h5>
                    <form [formGroup]="userForm" #formDir="ngForm">   
                    <div class="form-group">
                            <label>E-mail or username</label>
                            <input id="email" class="form-control fields" formControlName="email"  placeholder="Enter Your Email" required/>
                            <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
                                <div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
                                <div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
                                <div *ngIf="userForm.controls.email.errors.isEmailUnique">This email has been registered already</div>     		   
                            </div>	
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input id="password" type="password" class="form-control fields" formControlName="password" placeholder="Enter Password" required >

                            <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
                                <div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
                                <div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <a routerLink="/register" class="register">Create new account</a>
                            <a  routerLink="/forgot-password" class="new_pwd">Request new password</a>
                        </div>
                        <button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Login</button>
                        <!-- <button type="submit" value="Log in">Log in</button> -->
                    </form>
                </div>
            <!-- </ng-container> -->
            
            <div class="col-md-4 education_resource">
                <h5>Educational Resources</h5>
                <ul>
                	<li *ngFor="let menu of this.menu2Data | keyvalue">                    	
                    	<a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}">{{menu.value.name}}</a>
                    </li>                    
                </ul>
            </div>
            
        </div>
    </div>
    <div class="copyright">
       <div class="container">
        <p>Copyright © 2020. LiteGait. All Rights Reserved.</p>
        <div class="social_media">    
            <a routerLink="/blogs" class="live_chat">Our Blogs</a>      
            <ul style="margin-top: 6px;">
                <li *ngIf="env.instagramUrl!=''"><a href="{{env.instagramUrl}}" target="_blank"> <i class="fab fa-instagram"></i> </a></li>
                <li *ngIf="env.facebookUrl!=''"><a href="{{env.facebookUrl}}" target="_blank"> <i class="fab fa-facebook-square"></i> </a></li>
                <li *ngIf="env.twitterUrl!=''"><a href="{{env.twitterUrl}}" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
                <li *ngIf="env.vimeoUrl!=''"><a href="{{env.vimeoUrl}}" target="_blank"> <i class="fab fa-vimeo"></i> </a></li>
                <li *ngIf="env.linkedinUrl!=''"><a href="{{env.linkedinUrl}}" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
                <!--<li *ngIf="env.bingUrl!=''"><a href="{{env.bingUrl}}" target="_blank"> <img src="assets/images/bing.jpg" alt="" /> </a></li>-->
            </ul>
        </div>
    </div>
    </div>
</footer>

