<div id="content">
    <div class="product-detail-page">
        <div class="container">
            <div class="row pt-5 webniar_outer">
                <div class="col-smm-12 col-md-3">
                   <app-elp></app-elp>
                </div>

                <div class="col-sm-12  col-md-9">

                    <div class="row">
                    	<div class="col-md-4 align_left">                    		
	                    		<img src="{{env.serverUrl+env.galleryDir+instructor.image}}" />
	                    		<h6>Instructor:</h6>
								<h5>{{this.instructor.name}}</h5>
								<h6><i>{{this.instructor.tag_line}}</i></h6>	                   			                  			
                    	</div>
                    	<div class="col-md-8 align_right">
                    		<h2>{{this.instructor.name}}</h2>                    		
                    		<h5>Instructor Bio</h5>
                    		<div [innerHTML]="this.instructor.bio | safeHtml"></div>
                    		
                    		
                    		<div class="approved_state webinarlist" *ngIf="this.instructor.webinars && this.instructor.webinars.length>=1">
                    			<h5>Webinar's by this Instructor</h5>
                    			<ul>
                    				<ng-container *ngFor="let webinar of this.instructor.webinars">
                    					<li><a routerLink="/webinar/{{webinar.slug}}"><img _ngcontent-c4="" alt="" src="assets/images/arrow-sidebar.png">{{webinar.title}}</a></li>
                    					<!--<li  *ngIf="checkRecording(webinar.date_time_1)==false"><a routerLink="/webinar/{{webinar.slug}}"><img _ngcontent-c4="" alt="" src="assets/images/arrow-sidebar.png">{{webinar.title}}</a></li>-->
                    				</ng-container>
                    			</ul>
                    		</div>
                    		<!--<div class="approved_state">
                    			<h5>Recorded Webinar by this Instructor</h5>
                    			<ul>
                    				<ng-container *ngFor="let webinar of this.instructor.webinars">
                    					<li  *ngIf="checkRecording(webinar.date_time_1)==true"><a routerLink="/webinar/{{webinar.slug}}"><img _ngcontent-c4="" alt="" src="/assets/images/arrow-sidebar.png">{{webinar.title}}</a></li>
                    				</ng-container>
                    			</ul>
                    		</div>-->
                    		
                    		<div class="approved_state seminarlist" *ngIf="this.instructor.seminars && this.instructor.seminars.length>=1">
                    			<h5>Seminar's by this Trainer</h5>
                    			<ul>
                    				<li *ngFor="let seminar of this.instructor.seminars"><a routerLink="/seminar/{{seminar.slug}}"><img _ngcontent-c4="" alt="" src="assets/images/arrow-sidebar.png">{{seminar.title}}</a></li>
                    			</ul>
                    		</div>
                    		
                    	</div>
                    	
                    </div>

                    <app-pagetestimonials *ngIf="this.instructor._id" page="speaker" id="{{this.instructor._id}}"></app-pagetestimonials>

                </div>


            </div>


		</div> <!-- end  container -->
    </div> <!-- end  product-detail-page -->
</div> <!-- end content -->
