<app-pinkbar page="register"></app-pinkbar>

<div id="content">
        <div class="container">
            <!-- <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>Sign Up</span></h2>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="loginpage">

                    	<form [formGroup]="userForm" #formDir="ngForm">
                            <div class="form-group">
                                <label for="name">Name <span class="text-danger">*</span></label> 
                                <input class="form-control" placeholder="Name" id="name" formControlName="name">
                                <div *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid && userForm.controls.name.errors.required" class="text-danger">First Name is required.</div>                           
                            </div>			     	

					      	<div class="form-group">
					        	<label for="email">Email</label>
					        	<input id="email" class="form-control fields" formControlName="email"  placeholder="Enter Your Email" required/>

					        	<div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
									<div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
									<div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
									<div *ngIf="userForm.controls.email.errors.isEmailUnique">This email has been registered already</div>     		   
						        </div>	        
					      	</div>

					      	

					      	

					      	
					      	
					      	<div class="btns">    	
					      		<button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Submit</button>
					      	</div>

	      					<div class="sighup-account">
                                Already have an account? <a routerLink="/login">Login</a>
                            </div>					      	
	    
	  					</form>
                        
                    </div>


                </div>


            </div>

        </div>
    </div>