<!--- Newsletter ---->      
      
<div class="newsletter">
    <div class="container text-center">     
        <!-- <h3>Subscribe to our newsletter or webinar schedule</h3>    -->
        <!-- <form [formGroup]="newsletterForm" #formDir="ngForm">                              	
	        <input type="email" class="newsletterEmail" formControlName="email" ngModel='{{this.newsletterForm.value.email}}' placeholder="Enter Your Email" required/>
            <input type="submit" value="Subscribe" [disabled]="newsletterForm.invalid" (click)="newsletter_subscribe()"/>            
        </form> -->
        <div formid="1e0dded4-c48f-46c5-b7b6-975d2b299424" id="hubspotForm" portalid="5543041" class="newsletterEmail" style="margin:0 auto;width: 55%;"></div>
    </div>
</div>