<div class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 align_left regionList">
                <a *ngFor="let region of this.regionData" routerLink="/changeRegion/{{region.code}}" [class.active]="region.code==this.user.regionCode"><img src="{{env.serverUrl+env.galleryDir+region.image}}" alt="{{region.name}}" title="{{region.name}}"/></a>               
                <span>Call Us - 800.332.9255</span>
            </div>
            <div class="col-sm-7">
                <!-- <div class="search_box">   
                    <form>
                        <input type="search">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div> -->
                <div class="secondary_menu">
                    <ul>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{this.user.languageName}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li *ngFor="let language of this.languageData"><a routerLink="/changeLanguage/{{language.code}}/{{language.name}}">{{language.name}}</a></li>                              
                            </ul>
                        </li>
                        <li *ngIf="this.user.user_id != null"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{this.user.name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a routerLink="/user/dashboard">Dashboard</a></li>
                              <li><a routerLink="/logout">Logout</a></li>
                            </ul>
                        </li>
                        <li *ngIf="!this.user.user_id"><a routerLink="/register">Register</a></li>
                        <li *ngIf="!user.user_id"><a href="javascript:void(0)" (click)="openLoginModal()">Log in</a></li>
                        <!--<li><a routerLink="/checkout">Checkout</a></li>-->
                        <li><a routerLink="/cart"><i class="fas fa-shopping-cart"></i><span class="cartcnt" style="display:none">0</span></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="container clearfix">
        <div class="main_menu desktop_menu">
        	<ul class="main_menu_left" style="width:100%;text-align: center;">
        		<ng-container *ngFor="let menu of this.mainMenuData | keyvalue : disableSort; let rowIndex = index">         			
        			<li *ngIf="rowIndex == 4">
        				<div class="logo"><a routerLink="/home"><img src="assets/images/logo.png" alt="" /></a></div>							
	                </li>

        			<li>
        				<ng-container *ngIf="sizeOf(menu.value.childs) >= 1">
        					<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{menu.value.name}} <span class="caret"></span></a>-->
        					<a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
                			<a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
                			<a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
                			<a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
		                    <ul class="dropdown-menu">
		                    	<li *ngFor="let menu2 of menu.value.childs | keyvalue : disableSort; ">
		                    		<a *ngIf="menu2.value.type=='page'" routerLink="/page/{{menu2.value.slug}}">{{menu2.value.name}}</a>
		                			<a *ngIf="menu2.value.type=='category'" routerLink="/category/{{menu2.value.slug}}">{{menu2.value.name}}</a>
		                			<a *ngIf="menu2.value.type=='product'" routerLink="/product/{{menu2.value.slug}}">{{menu2.value.name}}</a>
		                			<a *ngIf="menu2.value.type=='static_url'" routerLink="{{menu2.value.slug}}">{{menu2.value.name}}</a>
		                		</li>	
		                    </ul>
        				</ng-container>

        				<ng-container *ngIf="sizeOf(menu.value.childs) == 0">
    						<a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}">{{menu.value.name}}</a>
		                	<a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}">{{menu.value.name}}</a>
		                	<a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}">{{menu.value.name}}</a>
		                	<a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}">{{menu.value.name}}</a>
        				</ng-container>	        				
	                </li>		                
                </ng-container>
        	</ul>           
        </div>
        
        <div class="mobile_menu">
           <div class="logo">
                <a routerLink="/home"><img src="assets/images/logo.png" alt="" /></a>
            </div>
           
            <a href="javascript:void(0);" class="hamburger_icon"><i class="fas fa-bars"></i></a>
            <ul class="mobile_menu_list">
            <ng-container *ngFor="let menu of this.mainMenuData | keyvalue;let rowIndex = index">  
            <li>
                    <ng-container *ngIf="sizeOf(menu.value.childs) >= 1">
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{menu.value.name}} <span class="caret"></span></a>-->
                        <a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
                        <a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
                        <a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
                        <a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}" data-toggle="dropdown" class="dropdown-toggle">{{menu.value.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let menu2 of menu.value.childs | keyvalue;">
                                <a *ngIf="menu2.value.type=='page'" routerLink="/page/{{menu2.value.slug}}">{{menu2.value.name}}</a>
                                <a *ngIf="menu2.value.type=='category'" routerLink="/category/{{menu2.value.slug}}">{{menu2.value.name}}</a>
                                <a *ngIf="menu2.value.type=='product'" routerLink="/product/{{menu2.value.slug}}">{{menu2.value.name}}</a>
                                <a *ngIf="menu2.value.type=='static_url'" routerLink="{{menu2.value.slug}}">{{menu2.value.name}}</a>
                            </li>   
                        </ul>
                    </ng-container>

                    <ng-container *ngIf="sizeOf(menu.value.childs) == 0">
                        <a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}">{{menu.value.name}}</a>
                        <a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}">{{menu.value.name}}</a>
                        <a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}">{{menu.value.name}}</a>
                        <a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}">{{menu.value.name}}</a>
                    </ng-container>                         
                </li>  
                </ng-container>                   
            </ul>        
        </div>       
        
    </div>
</header>


<div class="addcart_success" style="display:none">
	<div class="container ">
		<p class="message"><i class="fas fa-check-circle"></i> Battery for LiteGait 200E added to your cart.</p>
		<div class="pag-nav">
			<a routerLink="/cart">View Cart</a> <span>/</span> 
			<a routerLink="/products">Continue Shopping</a> <span>/</span> 
			<a routerLink="/checkout">Proceed to Checkout</a>			
		</div>
		<i class="far fa-times-circle close_addcart_success"></i> 
	</div>
</div>




<ng-template #loginPopupTemplate >
    <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">

        <div class="row">                
                <div class="col-sm-12">
                    <div class="loginpage">

                        <form [formGroup]="userForm" #formDir="ngForm">         
                            <div *ngIf="error"  class="text-danger"  > {{error}}</div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" class="form-control fields" formControlName="email"  placeholder="Enter Your Email" required/>

                                <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
                                    <div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
                                    <div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
                                    <div *ngIf="userForm.controls.email.errors.isEmailUnique">This email has been registered already</div>             
                                </div>          
                            </div>          

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control fields" formControlName="password" placeholder="Enter Password" required >

                                <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
                                    <div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
                                    <div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
                                </div>
                            </div>

                            <div class="forgot_remember_sec">
                                <div class="pull-right"><a class="forgot"  routerLink="/forgot-password"  (click)="closeLoginModal(template)">Forgot password?</a> </div>
                            </div> 

                            <div class="btns">      
                                <button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Login</button>
                                <!--&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>-->
                            </div>

                            <div class="sighup-account">
                                Don’t have an account yet? <a routerLink="/register" (click)="closeLoginModal(template)">Sign Up</a>
                            </div>
        
                        </form>
                        
                    </div>
                </div>
        </div>
        
    </div>
</ng-template>



<div class="modal fade" id="addtocartModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left">1 item added to your cart</h3>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body addcartpopup">	
		        <div class="row">                
	                <div class="col-sm-12">
	                    <div class="">
	                        <div class="row">
	                            <div class="col-sm-12">
	                                <div class="col-sm-3">
	                                    <div> 
	                                        <img class="purchase_item_img" attr.img_attr="{{env.serverUrl+env.galleryDir}}" />
	                                    </div>
	                                </div>
	                                <div class="col-sm-3">
	                                    <div class="prod_title"></div>
	                                </div>
	                                 <div class="col-sm-6 cartsection"></div>  
	                            </div>
	                        </div> 
	                        <div class="row">
	                            <div class="col-sm-12">
	                                <div class="col-sm-6">
	                                </div>
	                                <div class="col-sm-6">
	                                    <div><a routerLink="/cart"  class="btn request_btn viewcartbtn"  data-dismiss="modal"  >VIEW CART AND CHECKOUT</a></div>
	                                    <div><a routerLink="/products"  class="btn request_btn"  data-dismiss="modal"  >CONTINUE SHOPPING</a></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
		        </div> 
            </div>
        </div>
    </div>
</div>