.titlelink a
{
	display: block;
    margin-bottom: 5px;
    background: url(/assets/images/arrow-sidebar.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}