<app-pinkbar page="register"></app-pinkbar>

<div id="content">
    <div class="container">
        <div class="accessory_cotent">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pagehead">
                        <h2><span>Distributors</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="distributors_block" *ngFor="let list of this.distributersLists">
            <div class="table-responsive ">
                <table class="distributors_list" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><strong>Name</strong></td>
                        <td colspan="7">{{list.name}}</td>
                    </tr>
                    <tr>
                        <td><strong>Address</strong></td>
                        <td colspan="7">{{list.address}}</td>
                    </tr>
                    <tr *ngIf="list.authorized">
                        <ng-container *ngIf="list.authorized">
                            <td><strong>Authorized</strong></td>
                            <td><img class="distributercheckbox" src="assets/images/checkmark.png" alt=""></td>
                        </ng-container>
                        <ng-container *ngIf="list.exclusive">
                            <td><strong>Exclusive</strong></td>
                            <td><img class="distributercheckbox" src="assets/images/checkmark.png" alt=""></td>
                        </ng-container>
                        <ng-container *ngIf="list.certified">
                            <td><strong>Certified</strong></td>
                            <td><img class="distributercheckbox" src="assets/images/checkmark.png" alt=""></td>
                        </ng-container>
                        <ng-container *ngIf="list.independent">
                            <td><strong>Independent</strong></td>
                            <td><img class="distributercheckbox" src="assets/images/checkmark.png" alt=""></td>
                        </ng-container>

                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>