<!--- Home Slider ---->

<div class="slider">
    <div class="owl-carousel home_banner">
    	<ng-container *ngFor="let banner of bannerData">
	    	<div class="item" *ngIf="banner.type=='top'">	    		
	  			<img src="{{env.serverUrl+env.galleryDir+banner.image}}" alt="" />
	          	<div class="caption">
	              <h1>{{banner.title}}</h1>
	              <div class="first" [innerHTML]="banner.banner_text_one | safeHtml"></div>
	              <div class="second" [innerHTML]="banner.banner_text_two | safeHtml"></div>	              
	          	</div>	          	
	  		</div>
	  	</ng-container>	
    </div>
</div>

<!--<app-pinkbar page='home' </app-pinkbar>-->
<!-- <div class="slider_bottom" style="display: none;">
    <div class="container">
        <div class="social_media">    
            <a routerLink="/blogs" class="live_chat">Our Blogs</a>      
            <ul>
                <li *ngIf="env.instagramUrl!=''"><a href="{{env.instagramUrl}}" target="_blank"> <i class="fab fa-instagram"></i> </a></li>
                <li *ngIf="env.facebookUrl!=''"><a href="{{env.facebookUrl}}" target="_blank"> <i class="fab fa-facebook-square"></i> </a></li>
                <li *ngIf="env.twitterUrl!=''"><a href="{{env.twitterUrl}}" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
                <li *ngIf="env.vimeoUrl!=''"><a href="{{env.vimeoUrl}}" target="_blank"> <i class="fab fa-vimeo"></i> </a></li>
                <li *ngIf="env.linkedinUrl!=''"><a href="{{env.linkedinUrl}}" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
            </ul>
        </div>
    </div>
</div> -->


<!--- About ---->

<div class="about_us">
    <div class="container">
        <div class="heading"><h2> Home of LiteGait - the <span style="font-style: italic;">Original</span> Supported Gait Therapy Device<br> and other Clinician-Inspired Solutions</h2>
            <div class="dots"><span></span><span></span><span></span><span></span> </div></div>
        <!-- <p class="para_strong">Innovative - Solutions - Versatile - Strong - Original - Supportive – Unique - Quality - Evidence-Based Safe </p> -->
        <p>LiteGait is a company of rehabilitation professionals dedicated to the transfer of the latest technology and research knowledge to the rehabilitation arena. We are a team of clinicians, researchers, educators, and engineers working to provide products, education, and rehabilitation solutions for pediatric and adult populations with motor control related disabilities.</p>    
    </div>
</div>

<!--- Video ---->

<div class="video_section">
    <!-- <div class="heading col-md-12"><h2> Got a few minutes? Watch 'LiteGait Explained:</h2> <div class="dots"><span></span><span></span><span></span><span></span> </div></div> -->
    <div class="heading col-md-12"><h2>30 years of Innovation will Never be Duplicated</h2> <div class="dots"><span></span><span></span><span></span><span></span> </div></div>
    <div class="video">
          <video controls  disablePictureInPicture controlsList="nodownload" [muted]="'muted'" id="video">
            <source src="assets/images/LG-2020-A.mp4" type="video/mp4">
          </video>
        <!-- <img src="assets/images/video.jpg" alt="" /> -->
        <!-- <span><i class="fas fa-play-circle"></i></span> -->
    </div>
</div>

<!--- Featured Product ---->

<div class="featured_product" *ngIf="this.featuredProductMain && this.featuredProductMain.featured_product">
    <div class="container">
        <div class="row">    
            <div class="col-md-4" style="padding-top: 60px">
                <ul class="align_right">
                    <li *ngIf="this.featuredProductMain.featured_product.left_1_title!=''">
                        <div class="content">    
                            <h5>{{this.featuredProductMain.featured_product.left_1_title}}</h5>
                            <p>{{this.featuredProductMain.featured_product.left_1_text}}</p>
                        </div>
                        <div class="image">
                            <span class="icon pink"><img src="{{env.serverUrl+env.galleryDir+this.featuredProductMain.featured_product.left_1_icon}}" alt="" /></span>
                        </div>
                    </li>                    
                    <li *ngIf="this.featuredProductMain.featured_product.left_2_title!=''">
                        <div class="content">    
                            <h5>{{this.featuredProductMain.featured_product.left_2_title}}</h5>
                            <p>{{this.featuredProductMain.featured_product.left_2_text}}</p>
                        </div>
                        <div class="image">
                            <span class="icon pink"><img src="{{env.serverUrl+env.galleryDir+this.featuredProductMain.featured_product.left_2_icon}}" alt="" /></span>
                        </div>
                    </li>
                   <li *ngIf="this.featuredProductMain.featured_product.left_3_title!=''">
                        <div class="content">    
                            <h5>{{this.featuredProductMain.featured_product.left_3_title}}</h5>
                            <p>{{this.featuredProductMain.featured_product.left_3_text}}</p>
                        </div>
                        <div class="image">
                            <span class="icon pink"><img src="{{env.serverUrl+env.galleryDir+this.featuredProductMain.featured_product.left_3_icon}}" alt="" /></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="featured_box">
                    <h2>Featured Product </h2>
                    <div class="featured_img">
                        <img *ngIf="this.featuredProductMain.image" src="{{env.serverUrl+env.galleryDir+this.featuredProductMain.image}}" alt="" />
                        <p> <ng-container *ngIf="this.featuredProductMain.name !==undefined">
                            <span>{{this.featuredProductMain.name}}</span>
                            </ng-container>
                        </p>
                        
                        <ng-container *ngIf="this.featuredProductMain.featured_product.description !==undefined">
                            <div [innerHTML]="this.featuredProductMain.featured_product.description | safeHtml"></div>
                         </ng-container>
                    </div>
                </div>   
            </div>
            <div class="col-md-4" style="padding-top: 60px">
                <ul class="align_left">
                    <li *ngIf="this.featuredProductMain.featured_product.right_1_title!=''">
                       <div class="image">
                            <span class="icon pink"><img src="{{env.serverUrl+env.galleryDir+this.featuredProductMain.featured_product.right_1_icon}}" alt="" /></span>
                        </div>
                        <div class="content">    
                           	<h5>{{this.featuredProductMain.featured_product.right_1_title}}</h5>
                            <p>{{this.featuredProductMain.featured_product.right_1_text}}</p>
                        </div>
                    </li>
                     <li *ngIf="this.featuredProductMain.featured_product.right_2_title!=''">
                       <div class="image">
                            <span class="icon pink"><img src="{{env.serverUrl+env.galleryDir+this.featuredProductMain.featured_product.right_2_icon}}" alt="" /></span>
                        </div>
                        <div class="content">    
                           	<h5>{{this.featuredProductMain.featured_product.right_2_title}}</h5>
                            <p>{{this.featuredProductMain.featured_product.right_2_text}}</p>
                        </div>
                    </li>
                     <li *ngIf="this.featuredProductMain.featured_product.right_3_title!=''">
                       <div class="image">
                            <span class="icon pink"><img src="{{env.serverUrl+env.galleryDir+this.featuredProductMain.featured_product.right_3_icon}}" alt="" /></span>
                        </div>
                        <div class="content">    
                           	<h5>{{this.featuredProductMain.featured_product.right_3_title}}</h5>
                            <p>{{this.featuredProductMain.featured_product.right_3_text}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--- Product Overviews  ---->
<div class="dots"><span></span></div>
<div class="product_overview">
    <div class="container">    
        <ul class="product_points">
            <li>Lite<strong>Gait</strong></li>
            <li><strong>Gait</strong>Keeper</li>
            <li><strong>Gait</strong>Sens</li>
            <li><strong>HugN</strong>-Go</li>
            <li>L<strong>G</strong>4<strong>Home</strong></li>
            <li><strong>Therapy</strong>Mouse</li>
            <li><strong>Q</strong>-pads</li>
            <li>L<strong>G</strong> Vet</li>
        </ul>
        <div *ngIf="this.featuredProductMain !==undefined" [innerHTML]="this.featuredProductMain.description | slice:0:500 | safeHtml"></div>
    </div>
 </div>

    
<!--- overview crousel ----> 
   
<div class="overview_slider_outer">
    <div class="container">
    <div class="owl-carousel overview_slider featuredProducts">    	
    	<div class="item" *ngFor="let category of this.categories">
    		<div class="crouserl_img">
           
                  <h6>{{category.name}}</h6>

				<div class="cat_dis" [innerHTML]="category.feature | safeHtml"></div>		  		
		    	<div class="crousel_img"><img src="{{env.serverUrl+env.galleryDir+category.image}}" alt="" /></div>
				<!--<div class="slide_btn">
					<a routerLink="/product/{{this.featuredProduct.slug}}">More</a>
				</div>-->
				<div class="slide_btn">
					<div class="modal_list">
						<div *ngIf="this.products.length > 0">
                            <ng-container *ngFor="let product of this.products">
                                <ng-container *ngIf="product.name !==undefined">
                                <a routerLink="/product/{{product.slug}}" *ngIf="product.category == category._id">{{product.name}}</a>
                                </ng-container>                                	
                            </ng-container>					
                        </div>
                </div>
				</div>
			</div>
    	</div>

    </div>
    </div>
</div>
    
    
<!--- Support and training ---->    
<div class="support_section">
    <div class="tab_menu">     
       <div class="container">	
            <ul class="nav nav-pills">
            	<ng-container *ngFor="let banner of bannerData;let i = index">
			    	<li *ngIf="banner.type=='support'"><a  href="#{{i}}a" data-toggle="tab">{{banner.title}}</a></li>
			  	</ng-container>	
            </ul>
        </div>
    </div>   
        
    <div class="container-fluid"> 
		<div class="tab-content clearfix">
			<ng-container *ngFor="let banner of bannerData;let i = index">
				<div class="tab-pane" id="{{i}}a" *ngIf="banner.type=='support'">
					<img src="{{env.serverUrl+env.galleryDir+banner.image}}" alt="" *ngIf="banner.image!=''"/>
					<div class="container"> 
						<div class="row"> 
            				<div class="heading col-md-12"><h2>{{banner.title}}</h2> <div class="dots"><span></span><span></span><span></span><span></span> </div></div>
              				<div class="first" [innerHTML]="banner.banner_text_one | safeHtml"></div>
              			</div>
              		</div>
          		</div>
			</ng-container>				  	
       </div>
  	</div>
   
</div>
    
<!--- Upcoming Webinars ---->

<div class="upcoming_webinars">   
   <div class="container">
       <div class="heading col-md-12"><h2>Upcoming Webinars</h2> <div class="dots"><span></span><span></span><span></span><span></span> </div></div>
       <div class="row">
           <div class="col-md-6" *ngFor="let webinar of this.webinars">
               <div class="calender">
                    <div class="align_left"> 
                       <div class="date_outer">  
                        <div class="date">
                            <span class="caledner_icon"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <h4>{{webinar.date_time_1 | date:'MMM'}} <span>{{webinar.date_time_1 | date:'dd'}}</span></h4>
                        </div>
                   </div>
                   <div class="align_right">
                       <p><span><i class="far fa-clock"></i></span>{{webinar.title}}</p>
                       
                       <p *ngIf="webinar.speaker_id[0] > 0"><span><i class="fas fa-location-arrow"></i></span>{{webinar.speaker_id[0].name}}</p>
                        
                       <p><span><i class="fas fa-user"></i></span><a routerLink="/webinar/{{webinar.slug}}">View More</a> </p>
                   </div>
               </div>
           </div>
           
          
       </div>
       <div class="view_all_btn">
           <a routerLink="/webinars">View All</a>
       </div>
   </div>
</div>
   
<!--- Blog Testimonial ---->
     
<div class="blog_testimonial">
    <div class="container">    
        <div class="row">
            <div class="col-md-4">
            	<!-- https://developers.facebook.com/docs/plugins/page-plugin -->
            	<div class="fb-page" data-href="https://www.facebook.com/litegait/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/litegait/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/litegait/">LiteGait</a></blockquote></div>
                
            </div> 
            <div class="col-md-8">
                <div class="testimonial_outer">      
                   <div class="testimonial_outer_heading">          
                    <p>Don't just take our word for it, take a look at what our customers have to say.</p>
                    <h3>What Our Customers Are Saying</h3>
                   </div>
                    <div id="testimonialSlider">
                        <ul id="testimonial" class="gallery list-unstyled cS-hidden">
                            <ng-container *ngFor="let testimonial of this.testimonials;let myIndex = index">
                                <li attr.data-thumb="{{env.serverUrl+env.galleryDir+testimonial.image}}" > 
                                    <div class="testimonial_text">
                                        <p>{{testimonial.feedback}}
                                        <span>{{testimonial.facility}}</span></p>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news_block">   
   <div class="container">
       <div class="heading col-md-12"><h2>Latest News</h2> <div class="dots"><span></span><span></span><span></span><span></span> </div></div>
       <div class="row">
			<div class="news_slider">
			    <div class="owl-carousel newslist">
			    	<div class="item" *ngFor="let news of this.news">  			
			          	<div class="caption">
			              <h3>{{news.title}}</h3>
			              <p class="first">{{news.short_description}} <a routerLink="/news/{{news._id}}">See More</a></p>              
			          	</div>
			  		</div>
			    </div>
			</div>
		</div>
	</div>
</div>			
     
      
<app-newsletter></app-newsletter>