<div id="content">
    <div class="container"> 
    	<div class="pagehead"><h2><span>Bulletin Archives</span></h2></div>
        <div class="news_content">        	
			<div class="row">
				<div class="col col-xs-12 bulletinbox recent" style="margin-bottom: 0px"> Recent Bulletin </div>				
				<div class="col-sm-6" style="padding: 0px">
					<div class="col col-xs-12 bulletinbox" *ngIf="this.bulletinData[0]">
		        			<a href="{{env.serverUrl+'/uploads/bulletin/'+this.bulletinData[0].htmlfile}}" target="_blank" style="margin-top: -5px;"><strong>{{this.bulletinData[0].publish_date | date: 'MMMM, yyyy'}}</strong></a>
		        			<div [innerHTML]="this.bulletinData[0].description | safeHtml"></div>
		        			<!--<p>{{this.bulletinData[0].title}}</p>		        			-->
		        			<p><img src="{{env.serverUrl+env.galleryDir+this.bulletinData[0].image}}" /></p>
		        			 		
		        	</div>
				</div>
				<div class="col-sm-6">
	        		<ng-container *ngFor="let bulletin of this.bulletinData;let i=index">

	        			<ng-container *ngIf="i>=1">
		        			<!--<div class="col col-xs-12 bulletinbox monthheading" *ngIf="i>=1 && getYear(bulletin)==true">		        			
			        			{{bulletin.publish_date | date: 'yyyy'}}
			        		</div>-->
			        		<div class="col col-xs-12 bulletinbox monthheading" attr.rel="{{bulletin.publish_date | date: 'yyyy'}}">		        			
			        			{{bulletin.publish_date | date: 'yyyy'}}
			        		</div>
			        		<div class="col col-xs-3 bulletinbox list" *ngIf="i>=1">		        			
			        			<a href="{{env.serverUrl+'/uploads/bulletin/'+bulletin.htmlfile}}" target="_blank">{{bulletin.publish_date | date: 'MMMM'}}</a>
			        		</div>
		        		</ng-container>
	        		</ng-container>
        		</div>
        	</div>	
        </div>        
    </div>            
</div>