<div id="content">
    <div class="container">
    	<div class="row" style="margin-top: 20px">
    		<div class="col-xs-8">
				<div class="pagehead"><h2><span>Make Payment</span></h2></div>  
				<div class="col-xs-12" style="margin-top: 20px;" *ngIf="this.elp">
					<span style="font-style: italic;
					text-align: left;" *ngIf="this.elp.display_name== 'ELP One'">One year of unlimited access to our clinical webinars- both LIVE and on-demand, for an individual clinician.<br>
					<b>After purchase:</b>
					In your account dashboard under “My Profile” it will reflect the ELP Plan information, you can find the expiration date here.Webinars will have an ELP registration button for you to add webinars directly into your account, you must be logged in to see </span>
					
					<span style="font-style: italic;
					text-align: left;" *ngIf="this.elp.display_name== 'ELP Six'">One year of unlimited access to our clinical webinars- both LIVE and on-demand- for up to 6 clinicians.<br>
					<b>After purchase:</b>
					In your account dashboard under “My Profile” it will reflect the ELP Plan information. In here you will find the coupon code that you will share with the 6 clinicians that will be participating in this plan. Each individual will utilize that code to purchase an ELP One. Upon their checkout it will ask for this code, which will zero out the amount and simply add the ELP information into each individual’s user account profile. The expiration date can also be found in the user account under “My Profile” Webinars will have an ELP registration button for you to add webinars directly into your account, you must be logged in to see. </span>
					
					<span style="font-style: italic;
					text-align: left;" *ngIf="this.elp.display_name== 'ELP 12'">One year of unlimited access to our clinical webinars- both LIVE and on-demand- for up to 12 clinicians.<br>
					<b>After purchase:</b>
					In your account dashboard under “My Profile” it will reflect the ELP Plan information. In here you will find the coupon code that you will share with the 12 clinicians that will be participating in this plan. Each individual will utilize that code to purchase an ELP One. Upon their checkout it will ask for this code, which will zero out the amount and simply add the ELP information into each individual’s user account profile. The expiration date can also be found in the user account under “My Profile” Webinars will have an ELP registration button for you to add webinars directly into your account, you must be logged in to see   </span>
				
				</div> 
    			<div class="col-xs-12 text-center" *ngIf="!show"  style="margin-top: 20px">
    				<label>Facility Name :</label>
					<input id="facility_name" class="form-control" style="width: 250px; margin-left: 3px;  border-radius: 0px; display: inline-block; "  placeholder="Enter Facility Name" #facility_name /> 
				<!-- 	<button style="margin-left: 5px; " class=" payment_page_btn" (click)="checkValue(facility_name.value)">Next</button>
					 <div *ngIf="showFacilityError" class="text-danger"> Facility name is required.</div>  -->

					<!-- <div>
						<button class=" payment_page_btn" (click)="checkValue(facility_name.value)">Next</button>
					</div> -->
				</div>  				    					
    			<div class="col-xs-12 text-center"  style="margin-top: 50px">
					<ngx-paypal [config]="payPalConfig"></ngx-paypal>
				</div>    			
    		</div>
    		<div class="col-xs-4" *ngIf="this.elp">
				<div class="pagehead2">ELP Plan Detail</div> 
				<table class="order_info">
					<tr><th>Product</th><th>Total</th></tr>
					<tr class="item"> 
						<td>Package Name</td>
						<td> {{ this.elp.name }} ({{ this.elp.display_name }}) </td>
					</tr>					
					<tr class="item"> 
						<td>Unlimited Access to the Full Webinar Library <div *ngIf="this.elp.persons > 1" style="font-style: italic; font-size: 11px; color: #aaa; font-weight: bold;  ">For a group of up to 12 clinicians</div></td>
						<td> {{ this.elp.duration}}  Months</td>
					</tr>
					<tr class="item"> 
						<td>Price</td>
						<td> ${{ this.elp.price }} </td>
					</tr>
				</table>

			<ng-container *ngIf="show">
			<div class="">
               <form [formGroup]="userForm" #formDir="ngForm">
 				<div class="col-xs-12 text-center" style="padding: 0px">
					<div class="pagehead2">Coupon Code</div>
					<div class="form-group">
						<div class="col-sm-12">					
							<div class="input-group input-group-sm">
					        	<input id="coupon_code" class="form-control" formControlName="coupon_code"  placeholder="Enter Coupon Code" required/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-success btn-lrg ajax gen_code"  [disabled]="userForm.invalid"  (click)="submitForm()"><i class="fa fa-refresh"></i>&nbsp; Apply</button>
								</span>
							</div>
							<span *ngIf="userForm.controls.coupon_code.invalid && (userForm.controls.coupon_code.dirty || userForm.controls.coupon_code.touched)" class="text-danger">
								<span *ngIf="userForm.controls.coupon_code.errors.required"> Coupon code is required.</span>
							</span>

							<span class="col-sm-12 text-left text-success couponmsg" style="padding-left: 0px;">{{this.couponSuccessMsg}}</span>	
							<span class="col-sm-12 text-left text-danger couponmsg" style="padding-left: 0px;">{{this.couponErrorMsg}}</span>	
						</div>
					</div>
				</div> 

	  			</form>
                        
                </div>

				</ng-container>
    		</div>
    	</div>
    </div>	
</div> 
