@media (max-width: 1919.98px){
    header:after{ bottom: -40px;}
}

@media (max-width: 1599.98px){
    header:after{ bottom: -35px;}
}

@media (max-width: 1439.98px){
    header:after{ bottom: -30px;}
}

@media (max-width: 1299.98px) {}

@media (max-width: 1199.98px) {
    header:after {
        bottom: -25px;
    }

    .main_menu ul li a {
        font-size: 16px;
        padding: 20px 13px;
    }

    .main_menu ul.main_menu_right li a {
        padding: 20px;
    }

    .slider .caption h1 {
        font-size: 110px;
    }

    .crousel_img img {
        max-height: 200px;
    }

    .calender .align_left .date_outer {
        padding: 25px 10px 15px;
    }

    .date_outer h4 {
        font-size: 27px;
    }

    .calender .align_right {
        padding: 10px 15px 0;
    }

    .calender {
        margin-bottom: 30px;
    }

    .testimonial_outer .carousel-indicators li {
        width: 14%;
    }

    .testimonial_outer .carousel-indicators li img {
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    .featured_product ul li {
        margin: 0 0 20px;
    }

    /* .slider .owl-theme .owl-controls {
        max-width: 970px;
    } */

    .product_help ul li .box h4 {
        font-size: 21px;
    }

    .select_product_slider .crousel_img img {
        max-height: 170px;
    }


    .litegait_video .cap_text {
        top: 30px;
    }

    .litegait_video .cap_text h2 {
        margin-bottom: 0px;
    }


    .product_grid_select {
        width: 72%;
    }

    .search_box {
        max-width: 150px;
    }

    .secondary_menu ul li a {
        padding: 0 9px;
    }


    .pricecheck strong {
        font-size: 22px;

    }

    .pricecheck {
        font-size: 18px;
        padding-left: 28px;
    }


    .pricecheck span {

        font-size: 14px;
    }

    .extended-sub > .titlebox {
        font-size: 20px;
    }

    .pricecheck input {

        width: 15px;
        height: 15px;
    }

    .purchase_step .align_right ul li {
        font-size: 15px;
    }

    .purchase_step .align_right ul li a {
        padding: 1px 30px;
        font-size: 14px;
    }
    
    .education_img_block .container{ top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
    .education_img_title{ font-size: 42px;}

}

@media (max-width: 991.98px) {
    header:after {
        bottom: -18px;
    }
    .search_box {
        max-width: 150px;
        position: absolute;
        right: 20px;
        bottom: -60px;
    }


    .top_bar .container {
        width: 100%;
    }

    .search_box form button {
        top: 6px;
        font-size: 14px;
    }

    .secondary_menu ul li a {
        padding: 0 5px;
    }

    .main_menu ul li a {
        font-size: 13px;
        padding: 15px 6px;
    }

    .main_menu ul.main_menu_right li a {
        padding: 15px 12px;
    }

    .main_menu > ul {
        margin-top: 18px;
    }

    .slider .caption h1 {
        font-size: 90px;
    }

    .slider .caption {
        max-width: 560px;
    }

    .slider .caption p {
        font-size: 24px;
    }

    .slider .caption p.first {
        margin-right: 130px;
    }

    /* .slider .owl-theme .owl-controls {
        max-width: 750px;
    } */

    h2 {
        font-size: 28px;
    }

    .featured_product ul.align_right li .content {
        float: right;
        padding-right: 0;
        padding-left: 20px;
    }

    .featured_product ul.align_right li .image {
        float: left;
    }

    .featured_product ul li .image {
        width: 15%;
    }

    .featured_product ul li .content {
        width: 85%;
    }

    .featured_box {
        margin-bottom: 30px;
    }

    .featured_product ul li {
        text-align: left;
    }

    .support_section .tab-content .support p {
        line-height: 38px;
        font-size: 19px;
    }

    .support_section .owl-theme .owl-controls {
        top: 0px;
    }

    .blog img {
        margin: 10px auto;
        display: block;
    }

    .blog {
        margin-bottom: 30px;
    }

    .login_course {
        clear: both;
        margin: 25px 0;
    }

    .education_resource ul li {
        width: 50%;
        float: left;
    }

    footer ul:after {
        clear: both;
        display: block;
        content: "";
    }



    .accessory_content {
        width: 70%;
        padding-right: 130px;
    }

    .accessory_content p {
        font-size: 14px;
    }

    .accessory_content .read_btn {
        font-size: 15px;
    }

    .accessory_buy_btn {
        font-size: 14px;
        padding: 10px 30px;
    }


    .product_help ul li .box a {
        padding: 30px 15px;
    }

    .product_help ul li .box {
        min-height: 220px;
    }

    .ft_img_overlay:after {
        background-size: 100% 100%;
        height: 40px;
    }

    .video_section {
        padding-top: 25px;
    }

    .video_section h2.inner_heading {
        margin-bottom: 25px;
    }

    .contact_detail li a,
    .contact_detail h5 {
        font-size: 15px;
    }

    .contact_detail ul li {
        margin: 0 0 6px;
    }

    .contact_detail p {
        margin-bottom: 20px;
    }

    .contact_us form .form-group {
        margin-bottom: 15px;
    }

    .contact_us h4 {
        margin-top: 0px;
    }


    .litegait_video .cap_text h2 {
        font-size: 32px;
        line-height: 48px;
    }

    .litegait_video .cap_text span {
        font-size: 70px;
    }

    .litegait_accordian {
        padding: 50px 0;
    }


    .product_sort_select select {
        max-width: 190px;
    }

    .product_sort_select {
        max-width: 260px;
    }

    .product_number_select {
        max-width: 125px;
    }

    .product_sort_select_outer {
        max-width: 400px;
    }

    .product_grid_select {
        width: 76%;
    }

    .product_sort_select_outer label {
        font-size: 13px;
        margin-right: 10px;
    }

    .product_grid_select .view_icon_outer span {
        font-size: 13px;
    }

    .product_grid_select .view_icon_outer a {
        margin-left: 10px;
    }

    .grid_view_icon .view_icon_outer {
        margin-right: 10px;
    }

    .select_product_outer .crousel_img {
        margin-top: 0px;
    }

    .crouserl_img ul {
        min-height: 130px;
    }

    .product_list_btn a {
        display: inline-block;
    }

    .accessory_image {
        width: 30%;
    }


    .table-outer {
        width: 100%;
        overflow-y: scroll;

    }

    .table-outer table {
        width: 900px;

    }

    .boxline:after {
        display: none;
    }

    .product_grid_icon.service_part_sorting {
        margin-top: 40px;
    }

    .webniar_outer .align_right {
        margin-top: 20px;
    }

    .date_wrap {
        margin: 20px 0 10px;
    }

    .webniar_outer .purchase_step .align_right {
        margin-top: 0px;
    }

    .purchase_step .align_right ul li a {
        float: none;
    }

    .approved_state li span {
        font-size: 14px;
    }

    .scrolling_testi h2 {
        padding: 100px 0 200px;
    }
    .main_menu ul li .logo a img{ max-width: 160px;}


}

@media (max-width: 767.98px) {

    header:after {
        display: none;
    }

    .search_box {
        max-width: 190px;
        position: static;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        float: none;
    }

    .secondary_menu {
        float: none;
        text-align: center;
    }

    .top_bar {
        background-repeat: repeat;
    }

    .top_bar .align_left {
        margin: 0 0 10px;
        text-align: center;
    }

    .top_bar .col-sm-7 {
        max-width: 433px;
        margin: 0 auto;
    }

    .slider .caption h1 {
        font-size: 60px;
        margin-top: 0;
    }

    .slider .caption {
        max-width: 370px;
    }

    .slider .caption {
        top: 20px;
    }

    .slider .caption p.first {
        margin-right: 60px;
    }

    .slider .caption {
        padding-top: 20px;
    }

    .about_us {
        padding: 20px 0;
    }

    .video_section {
        padding-top: 25px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 22px;
    }

    .heading {
        margin-bottom: 20px;
    }

    .heading .dots {
        margin-top: 10px;
    }

    .video span {
        font-size: 60px;
    }

    .product_overview h2 {
        margin-bottom: 12px;
    }

    .crousel_img img {
        max-height: 100%;
    }

    .support_section .tab-content {
        padding-top: 30px;
    }

    .owl-wrapper-outer {
        z-index: 999;
    }

    .support_section .tab-content .support p {
        line-height: 28px;
        font-size: 15px;
    }

    .support_section .tab-content .support p span {
        margin-top: 10px;
    }

    .support_section .view_more {
        margin-top: 25px;
    }

    .newsletter,
    .blog_testimonial,
    .product_overview,
    .overview_slider_outer,
    .featured_product,
    .upcoming_webinars {
        padding: 30px 0;
    }

    .testimonial_text p span {
        margin-top: 20px;
    }

    .testimonial_text {
        padding: 25px 50px 20px;
    }

    .newsletter h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .login_course form:after {
        clear: both;
        display: block;
        content: "";
    }

    .login_course form .form-group {
        width: 50%;
        float: left;
        padding: 0 15px;
    }

    .login_course form {
        margin: 0 -15px;
    }

    .copyright {
        padding: 15px 0;
    }

    .login_course form button[type="submit"] {
        clear: both;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        display: block;
        margin: 0 15px;
    }

    .login_course form input {
        max-width: 100%;
    }

    .login_course form {
        max-width: 100%;
    }

    .desktop_menu {
        display: none;
    }

    .mobile_menu {
        display: block;
        position: relative;
    }

    .logo {
        float: left;
        max-width: 90px;
    }

    .mobile_menu:after {
        clear: both;
        display: block;
        content: "";
    }

    .hamburger_icon {
        float: right;
        color: #fff;
        font-size: 30px;
        margin-top: 14px;
    }

    header {
        padding: 10px 0;
    }

    .hamburger_icon:active,
    .hamburger_icon:focus,
    .hamburger_icon:hover {
        color: #fff;
    }

    .mobile_menu_list {
        display: none;
        margin: 0;
        padding: 0;
        background: #fff;
        position: absolute;
        z-index: 9999;
        width: 100%;
        left: 0;
        top: 80px;
    }

    .mobile_menu_list li {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
    }

    .dropdown-menu {
        min-width: 100%;
        position: static;
        border: 0;
    }

    .mobile_menu_list .dropdown-menu > li > a {
        padding: 10px 30px;
    }

    .mobile_menu_list li a {
        padding: 10px 15px;
        display: block;
        color: #000;
    }

    .mobile_menu_list li a:hover {
        color: #fff;
        background: #ab3585;
    }

    .accessory_cotent h2 {
        font-size: 23px;
    }

    h2.inner_heading:after {
        width: 70px;
    }

    .view_icon_outer span {
        font-size: 14px;
    }

    .view_icon_outer a {
        font-size: 20px;
        margin-left: 10px;
    }

    .grid_view_icon .view_icon_outer {
        margin-right: 10px;
    }

    .product_help ul li .box h4 {
        font-size: 18px;
    }

    .product_help ul li .box p br {
        display: none;
    }

    .product_help ul li .box p {
        font-size: 16px;
        margin: 0;
        line-height: 23px;
    }

    .product_help {
        padding: 30px 0;
    }

    .select_product_outer_heading h3 {
        font-size: 16px;
        margin: 6px 0 0;
    }

    .product_circle_outer {
        margin-top: 50px;
    }

    .select_product_search .accessory_search {
        width: 200px;
    }

    .select_product_search span {
        margin-right: 5px;
        font-size: 14px;
    }

    .product_circle_outer .one_third {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 30px;
    }

    .product_circle_outer {
        text-align: center;
    }

    .select_product_outer {
        padding-bottom: 30px;
    }

    .summer_sale {
        padding: 50px 0 100px;
    }

    .contact_detail {
        margin-top: 30px;
    }

    .litegait_video .cap_text h2 {
        font-size: 25px;
        line-height: 36px;
    }

    .product_page {
        padding: 50px 0;
    }

    .product_page .select_product_slider .crousel_img img {
        max-width: 220px;
    }

    .product_grid_select {
        width: 100%;
        margin-bottom: 15px;
    }

    .product_grid_icon .show_number {
        float: none;
        margin-top: 0;
        display: block;
        clear: both;
    }

    .summer_sale_product h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .summer_caption p {
        line-height: 16px
    }

    .summer_sale_product img {
        margin-right: 10px;
        max-width: 100px;
    }

    .summer_caption {
        padding-top: 0;
    }

    .summer_sale_product {
        padding: 30px 0;
    }

    .zoom-icon {
        display: none;

    }

    .product-dis {
        min-height: inherit;

    }


    .webinars-img {
        width: 135px;
        height: 135px;

    }

    .webinars-info {
        width: calc(100% - 135px);
    }

    .scrolling_testi h2 {
        padding: 100px 0;
    }

    .scrolling_testi {
        margin: 0px 0 30px;
    }
    
    .education_img_block .container{ position: static; -webkit-transform: translate(0%, 0%); transform: translate(0%, 0%);}
    .education_img_title{ font-size: 32px; color: #000000; padding-top: 30px;}
    .education_img_title small{ color: #000000;}

}

@media (max-width: 639.98px) {}


@media (max-width: 575.98px) {
    .slider .caption {
        padding-top: 0;
        padding-left: 20px;
    }

    .slider .caption h1 {
        font-size: 40px;
        margin-bottom: 0px;
        letter-spacing: 0px;
    }

    .slider .caption p {
        font-size: 18px;
        line-height: 25px;
    }

    .slider .caption {
        max-width: 280px;
    }

    /* .slider .owl-buttons {
        position: static;
        float: left;
    } */

    /* .slider .owl-controls {
        max-width: 100%;
        border-top: 3px solid #333333;
        background: #ab3585;
        padding-top: 10px;
    } */

    .slider .owl-theme .owl-controls .owl-buttons div {
        width: 35px;
        height: 35px;
        /* padding-top: 11px; */
    }

    .slider .owl-theme .owl-controls .owl-buttons div img {
        max-width: 8px;
        display: block;
        margin: 0 auto;
    }

    .slider .owl-pagination {
        position: static;
        float: right;
        margin-top: 13px;
    }

    .slider .owl-controls:after {
        clear: both;
        display: block;
        content: "";
    }

    .slider_bottom {
        padding: 10px 0;
        border: 0;
    }

    .social_media {
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .live_chat {
        margin-right: 10px;
    }

    h2 {
        font-size: 21px;
    }

    .heading {
        margin-bottom: 10px;
    }

    .about_us p {
        line-height: 26px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    .video span {
        font-size: 45px;
    }

    .crousel_img img {
        max-height: 150px;
    }

    .support_section .support .item {
        padding: 0 40px;
    }

    .support_section .owl-theme .owl-controls .owl-buttons div {
        max-height: 40px;
    }

    .support_section {
        padding-bottom: 30px;
    }

    .view_all_btn {
        margin-top: 10px;
    }

    .testimonial_outer_heading h3 {
        font-size: 20px;
    }

    .testimonial_text {
        padding: 35px 20px 30px;
    }

    .newsletter h3 {
        font-size: 16px;
    }

    .newsletter form input[type="submit"] {
        width: 35%;
    }

    .newsletter form input[type="email"] {
        width: 65%;
    }

    .login_course form .form-group {
        width: 100%;
        float: none;
    }

    .support_section .owl-theme .owl-controls .owl-buttons div img {
        max-height: 40px;
    }

    .new_content h4 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .new_content p {
        line-height: 20px;
        font-size: 13px;
    }

    .new_content a.news_btn {
        margin-top: 0px;
        font-size: 14px;
        padding: 7px 14px;
        border-radius: 4px;
    }

    .news_content ul li {
        margin: 0 0 20px;
        padding: 0 0 20px;
    }

    .view_all a {
        display: inline-block;
    }

    .view_all {
        margin-top: 25px;
    }

    .place_ad span {
        font-size: 45px;
    }

    .place_ad {
        padding: 100px 0;
    }

    .accessory_buy_btn {
        position: static;
    }

    .accessory_content {
        padding-right: 0px;
    }

    .accessory_cotent h2 {
        display: block;
        margin-bottom: 20px;
    }

    .accessory_cotent .grid_view_icon {
        margin-bottom: 20px;
        display: block;
        float: none;
    }

    .select_product_outer {
        padding-bottom: 0px;
    }

    .product_help ul li {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 15px;
        float: none;
    }

    .product_help ul {
        text-align: center;
    }

    .select_product_outer_heading h3 {
        font-size: 18px;
        margin: 0 0 10px;
        display: block;
        float: none;
    }

    .select_product_outer_heading {
        text-align: center;
    }

    .product_circle {
        min-height: 410px;
    }

    .select_product_search {
        float: none;
    }


    .ft_img_overlay:after {
        height: 25px;
    }

    .video_section h2.inner_heading {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .mobile_no_pt {
        padding: 0;
    }

    .about_content h4 {
        margin: 0 0 15px;
        font-size: 18px;
    }

    .our_mission .about_list,
    .purpose .about_list {
        margin-bottom: 20px;
    }

    .about_list li {
        margin: 0 0 8px;
    }

    h4.about_sub_head span {
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .contact_us {
        padding: 30px 0;
    }

    .litegait_video .cap_text {
        top: 0;
        padding: 15px;
    }

    .litegait_video .cap_text span {
        font-size: 50px;
    }


    .product_page p {
        font-size: 12px;
        line-height: 22px;
    }

    .product_page h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .product_page {
        padding: 25px 0;
    }

    .product_grid_icon {
        margin: 15px 0;
    }

    .grid_view_icon .view_icon_outer {
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
    }

    .crouserl_img ul li {
        line-height: 18px;
    }

    .crouserl_img ul {
        padding: 0;
    }

    .select_product_slider .item .new:after {
        display: none;
    }

    .select_product_slider .item .new {
        top: -15px;
        right: -15px;
        background: #102747;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 12px 0 0;
        text-align: center;
    }

    .img-webinar-box {
        width: 180px;
        height: 180px;
    }

    .img-webinar-box img {

        max-width: 180px;
        height: 180px;
    }

    .img-webinar-box:after {
        width: 180px;
        height: 180px;

    }

    .scrolling_testi {
        margin: 0 0 15px;
    }

    .scrolling_testi h2 {
        padding: 50px 0;
        font-size: 20px;
    }
    
    .education_blog_text, 
    .education_lastblog_text{ font-size: 16px;}
    .text_with_img{ width: 100%; margin: 20px 0px;}
    .education_img_title{ font-size: 28px;}

}

@media (max-width: 479.98px) {
    .search_box {
        max-width: 100%;
    }

    .secondary_menu {
        float: none;
        text-align: center;
        padding-top: 5px;
        clear: both;
    }

    .slider .caption {
        top: 10px;
        padding-left: 15px;
    }

    .slider .caption h1 {
        font-size: 30px;
    }

    .slider .caption p.first {
        margin-right: 0px;
    }

    .slider .caption p {
        font-size: 15px;
        line-height: 19px;
        text-align: left;
    }

    .social_media ul li {
        margin: 0 0 0 7px;
    }

    .slider .owl-theme .owl-controls {
        padding: 0 15px;
    }

    h2 {
        font-size: 19px;
        line-height: 24px;
    }

    .featured_product ul li .image {
        width: 20%;
    }

    .featured_product ul li .image .icon {
        width: 55px;
        height: 55px;
    }

    .featured_product ul li .image .icon img {
        max-height: 40px;
        max-width: 40px;
    }

    .featured_product ul.align_right li .content,
    .featured_product ul.align_left li .content,
    .featured_product ul li .content {
        width: 80%;
        padding-left: 10px;
    }

    .product_overview p {
        line-height: 22px;
    }

    .owl-theme .owl-controls .owl-buttons div img {
        max-height: 30px;
    }

    .overview_slider {
        padding: 0 20px;
    }

    .crousel_img {
        margin-top: 12px;
    }

    .crousel_img img {
        max-height: 100%;
    }

    .tab_menu .nav-pills > li a {
        padding: 13px 8px;
        font-size: 12px;
    }

    .featured_product ul li h5 {
        font-size: 16px;
    }

    .featured_product ul li p {
        line-height: 20px;
    }

    .featured_product {
        padding-bottom: 0px;
    }

    .calender .align_left {
        width: 35%;
    }

    .calender .align_left {
        padding: 5px;
    }

    .calender .align_left .date_outer {
        padding: 18px 5px 10px;
    }

    .date_outer h4 {
        font-size: 22px;
    }

    .date_outer h4 span {
        font-size: 17px;
    }

    .calender .align_right {
        width: 65%;
    }

    .calender .align_right {
        padding: 5px 10px 0;
    }

    .view_all_btn a {
        padding: 14px 50px;
    }

    .newsletter form input[type="submit"] {
        width: 35%;
        padding: 12px 10px;
        font-size: 13px;
    }

    .newsletter form input[type="email"] {
        width: 65%;
    }

    .newsletter,
    .blog_testimonial,
    .product_overview,
    .overview_slider_outer,
    .featured_product,
    .upcoming_webinars {
        padding: 20px 0;
    }

    .education_resource ul li {
        width: 100%;
    }

    .copyright {
        text-align: center;
    }

    footer .copyright ul {
        float: none;
    }

    .testimonial_outer .carousel-indicators li.active {
        margin-top: -10px;
    }

    .testimonial_outer .carousel-indicators {
        margin-top: 20px;
    }

    .calender .align_right p {
        padding-bottom: 1px;
        margin-bottom: 2px;
        font-size: 12px;
    }



    .news_image {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 15px;
    }

    .new_content {
        float: none;
        width: 100%;
    }

    .place_ad span {
        font-size: 28px;
    }

    .place_ad {
        padding: 50px 0;
    }


    .accessory_image {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .accessory_content {
        text-align: center;
        width: 100%;
    }

    .pagination_dev {
        margin-bottom: 0px;
    }

    .accessory_cotent ul.accessory_list li {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .grid_view_icon .view_icon_outer {
        margin-bottom: 10px;
        margin-right: 10px;
        display: block;
    }

    .grid_view_icon .accessory_search {
        display: block;
        max-width: 100%;
        width: 100%;
    }

    .product_help ul li {
        width: 100%;
        display: block;
        margin-bottom: 15px;
        min-height: 0;
    }

    .product_help ul li .box {
        min-height: 0px;
    }

    .product_circle {
        min-height: 0;
        padding: 0;
    }

    .product_circle_outer .one_third {
        width: 100%;
    }

    .product_circle_outer {
        margin-top: 30px;
    }

    .product_circle a {
        margin: 10px 0 0;
        position: static;
    }

    .summer_sale {
        padding: 30px 0;
    }

    .summer_sale p {
        font-size: 15px;
        line-height: 25px;
    }

    .summer_sale p br {
        display: none;
    }

    .select_product_search span {
        display: block;
        margin: 0 0 10px;
    }

    .select_product_search .accessory_search {
        width: 100%;
        max-width: 100%;
        float: none;
    }

    .select_product_search {
        width: 100%;
    }

    .product_search_slider {
        padding: 0 20px;
    }


    .about_content {
        padding: 30px 0 20px;
    }

    .contact_us form textarea.form-control {
        min-height: 90px;
    }

    .distrobutor_list ul li h5 {
        font-size: 15px;
    }

    .distrobutor_list ul li .align_left {
        float: none;
        margin-bottom: 10px;
    }

    .distrobutor_list ul li .align_right {
        float: none;
    }

    .litegait_video .cap_text h2 br {
        display: none;
    }

    .litegait_accordian .panel-title {
        font-size: 14px;
    }

    .litegait_accordian .panel-body p {
        line-height: 18px;
        font-size: 13px;
    }

    .litegait_video .cap_text h2 {
        font-size: 14px;
        line-height: 20px;
    }

    .litegait_video .cap_text span {
        font-size: 30px;
    }

    .litegait_accordian .panel-title a {
        position: relative;
        padding: 10px 24px 10px 15px;
    }

    .panel-default > .panel-heading a:after {
        right: 5px;
        top: 9px;
        position: absolute;
    }


    .product_number_select,
    .product_sort_select_outer {
        max-width: 100%;
    }

    .product_sort_select {
        max-width: 100%;
        margin: 0 0 10px;
    }

    .product_sort_select_outer label {
        width: 60px;
    }

    .select_product_outer .col-xs-6 {
        width: 100%;
    }

    .crouserl_img ul {
        min-height: 0;
        margin-bottom: 20px;
    }

    .product_page .select_product_slider .crousel_img img {
        max-width: 100%;
        max-height: 100%;
    }

    .summer_content {
        text-align: center;
    }

    .summer_sale_product img {
        margin: 0 0 10px;
        max-width: 125px;
    }

    .product_list_btn a {
        display: inline-block;
    }

    .w-100 {
        width: 100% !important;

    }


    .purchase_step .align_left {
        width: 40%;
    }

    .purchase_step .align_right {
        width: 60%;
    }

    .webniar_outer .align_right h2 {
        font-size: 22px;
    }

    .date_wrap h4 {
        font-size: 16px;
    }

    .webinar-outer {
        margin-bottom: 20px;
        min-height: 0;
    }
    
    .education_img_title{ font-size: 22px;}
    .education_img_title small{ line-height: 20px; padding-top: 10px;}


}

@media (max-width: 360px) {
    .contact_us form .form-group .col-xs-6 {
        width: 100%;
        margin-top: 15px;
    }

    .contact_us h4 {
        margin-bottom: 0px;
    }

    .approved_state li {
        width: 100%;
        margin-bottom: 10px;
    }

    .approved_state li span {
        margin-bottom: 0px;
    }

}

/*@media (max-width: 767px) {
   .open>.dropdown-menu{  display:none;   }
}*/