/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css"; */

div.featured_img img {
    width: 100%; 
    max-width: 100%;
}

div.featuredProducts img {
    max-width: 154px;
    max-height: 252px;
}

.testimonial_outer img {
    width: 90px;
    height: 90px;
}

.main_menu ul li ul li a {
    border: none;
}

.gallery_outer {}

.gallery_outer_img {
    height: 100px;
    overflow: hidden;
}

.gallery_outer h6 {
    padding: 7px 10px;
    height: 25px;
}

.regionList .active {
    border-bottom: 2px solid #161616;
    padding-bottom: 7px;
}

span.cartcnt {
    background: #ab3585;
    border-radius: 50%;
    padding: 0px 4px;
    font-size: 8px;
    color: #FFF;
    position: absolute;
}

div.addcart_success {
    background: rgba(140, 33, 106, 0.9);
    padding: 15px;
    color: #FFF;
    font-size: 18px;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 999;
}

div.addcart_success .fa-check-circle {
    color: #5cb85c;
    padding-right: 10px;
}

div.addcart_success .fa-times-circle {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

div.addcart_success .message {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 16px;
}

div.addcart_success .message i.fa-check-circle {
    color: #fff;
}

div.addcart_success .pag-nav {
    color: #ffc3ec;
}

div.addcart_success .pag-nav a {
    color: #ffc3ec;
    font-weight: 400;
    font-size: 14px;
}

div.addcart_success .pag-nav span {
    color: #ffc3ec;
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    padding: 0 8px;
}

div.addcart_success .pag-nav a:hover,
div.addcart_success .pag-nav a:focus {
    color: #fff;
}

.b-bottom {
    border-bottom: 1px solid #CCC;
    padding: 8px;
    margin-bottom: 10px;
}

.cartlist .fa-caret-square-down,
.cartlist .fa-caret-square-up,
.cartlist .fa-trash {
    font-size: 20px;
    cursor: pointer;
}

.cartlist .qty {
    padding: 0px 10px;
    vertical-align: top;
}

.pagehead2 {
    color: #ab3585;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid #000;
    font-size: 18px;
}

table.order_info {
    background-color: #fafafa;
    padding: 25px 0 0px 0;
    border-bottom: 3px solid #ebebeb;
    margin-bottom: 40px;
    width: 100%;
}

.order_info th {
    border-top: 1px dashed #ebebeb;
    padding: 10px 30px;
    font-weight: 600;
    color: #444444;
}

.order_info td {
    border-top: 1px dashed #ebebeb;
    padding: 10px 30px;
}

.product_price {
    position: absolute;
    bottom: 4px;
    right: 132px;
    color: #ab3585;
    font-size: 22px;
    font-weight: 600;
}

div.flash-message {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 999;
    text-align: center;
}


/* order status bar css */

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 49%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 33%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 24%;
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
}


/* end order status bar css */

.service_part_product .crousel_img {
    max-height: 200px;
    overflow: hidden;
    min-height: 200px;
}

.product_content .part_desc {
    max-height: 45px;
    overflow: hidden;
}

.slider .caption h1 {
    font-size: 80px;
}

.slider .caption p {
    font-size: 22px;
}

.faqheadding {
    padding-left: 0px;
    padding-right: 20px;
}

.faqheadding a {
    font-size: 14px;
    padding: 10px;
    background-color: #f4f6f6;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #000;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.faqheadding a:hover {
    color: #00adef;
}

.product_search_slider .crousel_img {
    height: 250px;
}
.product_search_slider .crousel_img img {    
    max-height: 250px;
    max-width: 100%;
}

.left_sidebar ul li a.active {
    background-color: #ab3585;
    color: #fff;
}

.product-gallery .lSSlideWrapper li {
    min-height: auto;
}

.product-gallery .lSSlideWrapper li .img-big {
    min-height: 320px;
    text-align: center;
}

.courseinfo,
.courseinfo p {
    font-size: 13px;
}

div.instructorlist h6 {
    color: #000;
    font-size: 14px;
}

div.instructorlist .cat_dis {
    font-size: 12px;
    color: #8e908f;
}

div.instructorlist .product_search_slider .crousel_img {
    /*height: 200px;*/
    height: 100px;
}

div.instructorlist .product_search_slider .crousel_img img {
    /* width: 100%;
    max-height: unset;
    max-width: unset; */
    max-height: 100px;
    max-width: 100%;
}

div.instructorlist .select_product_slider .item>.crouserl_img {
    padding: 5px;
}

.news_block {
    padding: 60px 0 40px;
    background: #fff;
}

.news_block h3 {
    font-size: 25px;
    color: #1c2e63;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.news_block .owl-item {
    border: 2px solid #f0f0f0;
    padding: 18px 15px 0;
}

.news_block p {
    font-size: 15px;
    color: #2e2e2e;
    margin: 10px 0 10px;
    line-height: normal;
}

.page_testimonail_slider {
    margin: 40px 0 30px 0;
    border: 1px solid #ccc;
    padding: 20px 0;
}

.page_testimonail_slider h1 {
    color: #ab3585;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 8px;
}

.page_testimonail_slider p {
    font-size: 14px;
    text-align: center;
    padding: 10px 60px 0 60px;
    margin-bottom: 0;
}

.client-testimonial {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.client-testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

img {
    max-width: 100%;
}

.page_testimonail_slider .owl-buttons {
    display: none;
}

.main_menu_left li:hover>.dropdown-menu {
    display: block;
}

div.featuredProducts img {
    max-width: unset;
    max-height: unset;
    max-height: 250px;
    max-width: 100%;
}

div.featuredProducts .owl-controls img {
    height: auto;
}

div.crouserl_img:before {
    display: none;
}

.featuredProducts .item .slide_btn {
    top: unset;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    top: 0;
    height: 100%;
}

.featuredProducts .item .slide_btn a {
    /* width: 100%;
    float: left; */
    font-size: 12px;
    padding: 7px;
}

.home_banner .item img {
    /* max-height: 450px; */
    height: 380px;
}

.support_section {
    background: rgba(246, 222, 178, 0.4);
    padding: 0px;
}

.support_section .tab-content,
.support_section .container-fluid {
    padding: 0px;
}

.support_section .tab-pane {
    padding: 60px 0px;
    position: relative;
}

.support_section .tab-pane img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    /* opacity: 0.2; */
}

.support_section .tab-pane div {
    position: relative;
    z-index: 999;
}

.webinarlist a,
.seminarlist a {
    color: #1c2e63;
    font-weight: bold;
}

.modal_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide_btn .modal_list a {
    text-align: center;
    display: block;
    border: 0;
}

.slide_btn .modal_list a:hover {
    color: #ab3585;
    background: none;
}

.product-gallery img {
    /*width: 406px;
    height: 365px;*/
    margin-top: 19px; 
    width: 100%;
}

.support_section .tab-pane a {
    /* background: #ab3585; */
    color: #fff;
    border: 0;
    padding: 11px 30px;
    font-size: 15px;
    /* text-transform: uppercase; */
}

.cartbtn a {
    margin-left: 20px;
}

modal-container.modal {
    z-index: 9999;
}


/* 26-06-19 */

.addcartpopup .request_btn {
    position: relative;
    width: 100%;
    color: #000;
    background: transparent;
    border: 2px solid #000;
    margin-bottom: 3px;
}

.addcartpopup .request_btn.viewcartbtn {
    color: #fff;
    background: #ab3585;
    border: 2px solid #ab3585;
    margin-top: 10px;
}


/*.addcartpopup .request_btn:hover{ color: #fff; background: #ab3585; border: 2px solid #ab3585; margin-bottom: 2px;  }*/

.modal-body.addcartpopup {
    font-size: 18px;
}

.modal-body.addcartpopup .highlight {
    color: #ab3585;
}

.modal-body.addcartpopup hr.subtotal {
    border: none;
    height: 2px;
    color: #ccc;
    background-color: #ccc;
}

.modal-body.addcartpopup img {
    max-width: 150px;
    float: right;
}

.modal-body.addcartpopup .cartsection img {
    max-width: 80px;
    float: left;
}

.modal-body.addcartpopup div.prod_title {
    margin-top: 20px;
    font-size: 20px;
}

.subhead {
    margin-top: 0px;
    margin-bottom: 30px;
}

.leftcol {
    border-right: 1px solid #CCC;
}

.slider .featured_image img {
    max-height: 450px;
    width: 100%;
}

.product-gallery .lSSlideOuter .lSPager.lSGallery img {
    width: 90px;
    height: 90px;
}
.news_image.gall_image{ float: left; margin-right: 20px;  }
.select_product_slider .item { padding-bottom: 10px;  }
.select_product_slider .item>.crouserl_img { min-height: 360px !important;  }
.select_product_outer.instructorlist .item>.crouserl_img { min-height: auto !important;  }


@media (max-width: 767.98px){ 
    .mobile_menu .dropdown-menu {    min-width: 100%;    position: absolute;     border: 0; }

}

.faqheadding a:hover{ color: #ab3585;  }
/* 22-07-19 */ 
.gallery_page_listview .news_image.gall_image { text-align: center; }
.gallery_page_listview .news_image.gall_image img{ border: none; }
.gallery_page_listview .new_content a.news_btn{ font-size: 15px; padding: 5px 10px;  }
.gallery_page_listview .new_content p {  margin-bottom: 2px; font-size: 13px;  }
.gallery_page_listview .new_content h4{ margin-bottom: 5px;  }
.gallery_page_gridview .gallery_outer ul { padding: 8px 3px 5px; }
.gallery_page_gridview .gallery_outer ul li { padding: 0px; margin: 0 0 7px; } 
.gallery_page_gridview .gallery_outer .view_icon {    width: 35px;    height: 37px;    font-size: 19px;    padding-top: 5px;  margin-left: -15px; bottom: -20px; }

.product-detail-page .img-big .cap { padding: 0px;  }

.payment_page_btn, .payment_page_btn:hover, .payment_page_btn:active {    font-size: 20px;    color: #fff;    background: #1c2e63;    border: none;    font-weight: normal;    padding: 10px 16px;    margin-top: 20px;    display: inline-block;    font-size: 15px;    padding: 5px 10px; }
.featured_product .featured_box .featured_img { padding-top: 0px; }
/* 06-08-19 */ 
.left_sidebar ul.webinar_topic li:hover, .left_sidebar ul.webinar_topic li.active {    background: none ; }
.left_sidebar ul.webinar_topic li a:hover, .left_sidebar ul.webinar_topic li.active a {     color: #232323;  }
.left_sidebar ul.webinar_topic li a{ cursor: auto;  }

.webinar_topic .pricecheck strong {   font-size: 14px;    color: #232323;    font-weight: 500; }
.webinar_topic .pricecheck {  font-size: 21px;  padding-left: 24px; padding-bottom: 0px; }
.webinar_topic  .pricecheck input {   top: 3px;   width: 20px;  height: 20px;}
.webinar_topic { margin-left: 11px !important;  }

 h3.gallery_subhead {    color: #ab3585;    font-weight: 600;    font-family: 'Open Sans', sans-serif;    margin-bottom: 35px;    position: relative;    padding-bottom: 15px;    display: inline-block; }
 h3.gallery_subhead:after {    width: 100%;    height: 2px;    background: #1c2e63;    left: 0;    bottom: 0;    position: absolute;    content: ""; }
.webinar_purchase_dv.purchase_step .align_right ul li a { float: right; margin-left: 5px; padding: 1px 16px; } 

@media (max-width: 480px){
.webinar_purchase_dv.purchase_step .align_right ul li a {    margin-left: 0px;    padding: 1px 54px;    margin-top: 5px;}  
}

a.read_btn
{
	color: #ab3585;
}

.seminartop
{
	padding: 0 0 25px 0;
}
.seminartop p
{
	font-size: 12px;
	font-style: italic;
}