::-webkit-scrollbar{ width: 8px; height: 8px; -webkit-box-shadow: inset 0px 0px 6px rgba(0,0,0,0);  -webkit-border-radius: 8px; border-radius: 8px;}
/*add a shadow to the scrollbar here*/
::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,0);  -webkit-border-radius: 8px; border-radius: 8px;}
/*this is the little scrolly dealio in the bar*/ 
::-webkit-scrollbar-thumb{ border-radius: 8px; background-color: rgba(0,0,0,0.2); height: 3px;}
/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/  
::-webkit-scrollbar-corner{ display: none; height: 0px; width: 0px;}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #1c2e63;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.heading .dots span {
    width: 7px;
    height: 7px;
    border: 2px solid #ab3585;
    display: inline-block;
    margin: 0 2px;
}

.heading .dots {
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #000000;
    font-weight: 300;
    line-height: 26px;
}

h6 {
    font-size: 15px;
    color: #1c2e63;
    margin-top: 0;
}

a {
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -webit-transition: 0.4s ease all;
    outline: none;
    text-decoration: none;
    /* color: #ab3585; */
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}


/*========== Top Bar ===============*/

.top_bar {
    background: url(/assets/images/top_bar_bg.png) repeat-x left top;
    padding: 5px 0;
    font-family: 'Open Sans', sans-serif;
}

.top_bar .align_left a {
    margin-right: 7px;
}

.top_bar .align_left span {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
}

.top_bar .align_left {
    margin-top: 5px;
}

.search_box {
    float: right;
    max-width: 200px;
    width: 100%;
}

.search_box form {
    position: relative;
}

.search_box form input {
    border: 1px solid #9d9c9c;
    border-radius: 0;
    background: #fff;
    padding: 6px 10px;
    width: 100%;
}

.search_box form button {
    position: absolute;
    background: none;
    border: 0;
    top: 3px;
    right: 4px;
    color: #747070;
    font-size: 17px;
}

.secondary_menu {
    float: right;
}

.secondary_menu ul {
    margin: 5px 0 0;
    padding: 0;
    left: 15px;
}

.secondary_menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.secondary_menu ul li .dropdown-menu li {
    display: block;
    border: 0;
}

.secondary_menu ul li .dropdown-menu li a {
    display: block;
    padding: 10px;
    border: 0;
}

.secondary_menu ul li .dropdown-menu li a:hover {}

.secondary_menu ul li a {
    color: #333333;
    font-size: 13px;
    padding: 0 15px;
    border-left: 1px solid #333;
    vertical-align: middle;
}

.secondary_menu ul li a:hover {
    color: #ab3586;
}

.secondary_menu ul li:first-child a {
    border: 0;
}


/*========== Header ===============*/

.mobile_menu {
    display: none;
}

header {
    background: #fff;
    background-image: url(/assets/images/header-bg.jpg);
    background-repeat: repeat-x;
    padding: 3px 0 34px;
    position: relative;
    padding-bottom: 34px;
}
.main_menu ul {
    margin: 0;
    padding: 0;
}

.main_menu>ul {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.main_menu:after {
    clear: both;
    display: block;
    content: "";
}

.main_menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.main_menu ul li a:hover {
    color: #ab3586
}

.main_menu ul li a {
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 20px 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: -2px;
}

.main_menu .logo {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
}

.main_menu ul.main_menu_right li a {
    padding: 20px 25px;
}

.main_menu ul li .logo a {
    padding: 0 20px;
    margin: -10px 0;
    border: 0;
}

.dropdown-menu {
    min-width: 200px;
    z-index: 9994;
}

.main_menu ul .dropdown-menu li {
    display: block;
}

.main_menu ul .dropdown-menu li a {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    margin: 0;
    border: inherit;
}

.main_menu ul .dropdown-menu li a:hover {
    /* background: #ab3586;
    color: #fff; */
    color: #ab3586;
    background: transparent;
}


/*========== Slider ===============*/

.slider {
    position: relative;
}

.slider .caption {
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    padding-left: 44px;
    max-width: 680px;
}

.slider .caption h1 {
    color: #ab3586;
    font-size: 150px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -6px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.slider .caption h1 strong {
    font-weight: 700;
}

.slider .caption p {
    text-align: right;
    font-size: 30px;
    color: #000;
    line-height: 40px;
    margin: 0;
}

.slider .caption p strong {
    font-weight: 500;
}

.slider .caption p.first {
    margin-right: 160px;
}

.slider .item img {
    width: 100%;
}


/*========== Slider Bottom ===============*/

.slider .owl-theme .owl-controls {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    top: 50%;
    margin-top: -23px;
}

.slider .owl-pagination {
    position: absolute;
    top: 28px;
    left: 120px;
}

.slider .owl-pagination .slider .owl-theme .owl-controls .owl-page.active span,
.slider .owl-theme .owl-controls .owl-page.active span,
.slider .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #333333;
    opacity: 1;
}

.slider .owl-theme .owl-controls .owl-page span {
    background: #fff;
    opacity: 1;
}

.slider .owl-buttons {
    /* position: absolute;
    top: 10px; */ display: flex;
}

.owl-theme .owl-controls .owl-buttons div {
    background: none;
    border: 0px;
    padding: 0;
}

.slider .owl-theme .owl-controls .owl-buttons div{
    /* background: #ddaece; */
    border-radius: 50%;
    text-align: center;
    width: 46px;
    height: 46px; display: flex; align-items: center; justify-content: center;
    opacity: 1;
}
.slider .owl-theme .owl-controls .owl-buttons div.owl-next{ margin-left: auto;}

.slider_bottom {
    margin-top: 0px;
    /*  border-top: 3px solid #333333; */
    background: #ab3585;
    padding: 18px 0;
}

.social_media ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.social_media ul li {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: middle;
}

.social_media ul li a {
    color: #fff;
    font-size: 17px;
}

.live_chat {
    color: #fff;
    background: #851f64;
    background-image: url(/assets/images/blogicon.png) !important;
    background-repeat: no-repeat;
    background-position: 16px 5px;
    display: inline-block;
    font-size: 14px;
    padding: 8px 10px 8px 54px;
    margin-right: 30px;
    font-weight: 500;
}

.live_chat span {
    margin-right: 6px;
}

.social_media {
    float: right;
}

a.live_chat:hover {
    color: #851f64;
    background: #fff;
}

a.live_chat:hover span {
    color: #851f64;
}

a.live_chat:hover,
a.live_chat:focus {
    background-position: 16px -91px;
    color: #851f64;
    background-repeat: no-repeat;
}


/*========== About Uss ===============*/

.about_us {
    padding: 40px 0;
    background: #f0f0f0;
    text-align: center;
}

.about_us p {
    line-height: 30px;
}


/*========== Video ===============*/

.video_section {
    padding-top: 45px;
}

.video img {
    width: 100%;
}

.video {
    position: relative;
    clear: both;
}

.video span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 110px;
    opacity: 0.7;
    line-height: 0;
}


/*========== Featured Product ===============*/

.featured_product {
    padding: 50px 0 40px;
}

.featured_product {
    background: url(/assets/images/featured_product_bg.jpg) no-repeat center top / cover;
}

.featured_product ul {
    margin: 0;
    padding: 0;
    display: block;
}

.featured_product ul li {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
    text-align: right;
}

.featured_product ul li .content {
    float: left;
    width: 80%;
    padding-right: 25px;
}

.featured_product ul li .image {
    float: right;
    width: 20%;
}

.featured_product ul li:after {
    clear: both;
    display: block;
    content: "";
}

.featured_product ul li h5 {
    color: #555555;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
}

.featured_product ul li p {
    font-size: 13px;
    color: #474646;
    font-weight: 500;
    margin: 0;
}

.featured_product ul li .image .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 0;
    display: block;
    margin: 0 auto;
    position: relative;
}

.featured_product ul li .image .icon img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.pink {
    background: #ab3585;
}

.white {
    background: #fff;
    border: 3px double #83c8a9;
}

.blue {
    background: #1c2e63;
}

.featured_product ul.align_left li {
    text-align: left;
}

.featured_product ul.align_left li .content {
    float: right;
    padding-left: 25px;
    padding-right: 0px;
}

.featured_product ul.align_left li .image {
    float: left;
}

.featured_box {
    text-align: center;
}

.featured_box h2 {
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.featured_box h2:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 200px;
    height: 4px;
    background: #fff;
    left: 50%;
    margin-left: -100px;
    border-top: 1px solid #adadaa;
    border-bottom: 1px solid #adadaa;
}

.featured_img {
    max-width: 294px;
    margin: 0 auto;
    /* background: #000; */
    padding-top: 10px;
    border: 2px solid #a39f9f;
}

.featured_img p span {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}

.featured_img p {
    color: #FFF;
    background: #000;
    text-align: left;
    font-size: 12px;
    text-align: left;
    padding: 4px 12px 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.featured_img div {
    color: #FFF;
    background: #000;
}


/*==========  Product Overview ===============*/

.product_overview {
    padding: 60px 0 37px;
    text-align: center;
}

.product_overview h2 {
    margin-bottom: 30px;
}

.product_overview p {
    line-height: 28px;
}


/*==========  Product Overview ===============*/

.overview_slider_outer {
    background: url(/assets/images/featured_product_bg.jpg) no-repeat center top / cover;
    padding: 50px 0 60px;
}

.overview_slider .owl-item {
    height: 350px;
}

.overview_slider .item {
    margin: 0 3px;
    height: inherit;
    background: #FFF;
}

.crouserl_img h6 {}

.crouserl_img p {
    font-size: 14px;
    color: #2b2a2a;
    margin: 0;
    line-height: normal;
}

.crouserl_img {
    background: #fff;
    padding: 10px;
    position: relative;
    height: 100%;
}

.crousel_img {
    text-align: center;
    margin-top: 35px;
}

.slide_btn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -webit-transition: 0.4s ease all;
}

.slide_btn a {
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 20px;
    text-transform: uppercase;
}

.crouserl_img:before {
    background: #173f91;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -webit-transition: 0.4s ease all;
    position: absolute;
    content: "";
    opacity: 0;
    visibility: hidden;
}

.crouserl_img:hover:before {
    top: 0;
    opacity: 0.5;
    visibility: visible;
}

.crouserl_img:hover .slide_btn {
    top: 50%;
    visibility: visible;
    opacity: 1;
}

.slide_btn a:hover {
    text-decoration: none;
    color: #173f91;
    background: #fff;
}

.overview_slider,
.device-slider {
    position: relative;
    padding: 0 50px;
}

.overview_slider .owl-controls,
.device-slider .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin: -35px 0 0 0;
    z-index: 0;
}

.overview_slider .owl-controls .owl-prev,
.device-slider .owl-controls .owl-prev {
    float: left;
    margin: 0 !important;
}

.overview_slider .owl-controls .owl-next,
.device-slider .owl-controls .owl-next {
    float: right;
    margin: 0 !important;
}

.overview_slider_outer .owl-carousel .owl-wrapper-outer {
    z-index: 99;
}


/*==========  Support Section ===============*/

.support_section {
    background: url(/assets/images/clinical_support_slider1.jpg) no-repeat center top / cover;
    padding-bottom: 52px;
}

.tab_menu {
    /* background: rgba(246, 222, 178, 0.4); */
    background: #ab3585
}

.tab_menu .nav-pills {
    text-align: center;
}

.tab_menu .nav-pills>li {
    float: none;
    display: inline-block;
}

.tab_menu .nav-pills>li a:hover,
.tab_menu .nav-pills>li.active>a,
.tab_menu .nav-pills>li.active>a:focus,
.tab_menu .nav-pills>li.active>a:hover {
    /* background: #dbb567;
    color: #1a3474; */
    background: #FFF;
    color: #000;
    border-radius: 0;
}

.tab_menu .nav-pills>li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
    padding: 15px 25px;
}

.support_section .heading .dots span {
    border: 2px solid #1c2e63;
}

.support_section .heading h2 {
    color: #000;
}

.support_section .tab-content {
    padding-top: 63px;
}

.support_section .tab-content .support {
    text-align: center;
}

.support_section .tab-content .support p {
    font-size: 22px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    line-height: 48px;
}

.support_section .tab-content .support p span {
    display: block;
    font-size: 17px;
    color: #1c2e63;
    margin-top: 40px;
}

.support_section .view_more {
    margin-top: 55px;
}

.support_section .view_more a {
    font-size: 14px;
    color: #000;
    border: 2px solid #000;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 45px;
    clear: both;
    display: inline-block;
    border-radius: 3px;
}

.support_section .view_more a:hover {
    background: #000;
    color: #fff;
}

.support_section .support .item {
    padding: 0 80px;
}

.support_section .owl-theme .owl-controls {
    margin: 0;
    top: 35%;
    width: 100%;
    position: absolute;
    opacity: 1;
}

.support_section .owl-theme .owl-controls .owl-prev {
    float: left;
    opacity: 1;
}

.support_section .owl-theme .owl-controls .owl-next {
    float: right;
    opacity: 1;
}


/*==========  Upcoming Webinars ===============*/

.upcoming_webinars {
    padding: 60px 0 40px;
    background: #fff;
}

.calender .align_left {
    background: #f4f4f4;
    padding: 10px;
    width: 28%;
    float: left;
    border-right: 2px solid #fff;
}

.calender .align_left .date_outer {
    border: 2px solid #dfdfdf;
    padding: 25px 15px 15px;
    background: #fff;
    position: relative;
}

.caledner_icon {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    padding-top: 2px;
    color: #1c2e63;
    font-size: 16px;
    top: -15px;
    left: 50%;
    margin-left: -15px;
}

.date_outer h4 {
    margin: 0;
    font-size: 35px;
    color: #1c2e63;
    text-align: center;
}

.date_outer h4 span {
    display: block;
    font-size: 20px;
    color: #606060;
    margin-top: 5px;
}

.calender:after {
    clear: both;
    display: block;
    content: "";
}

.calender {
    margin-bottom: 40px;
}

.calender .align_right {
    float: right;
    width: 72%;
    border: 2px solid #f0f0f0;
    background: #fff;
    padding: 18px 15px 0;
}

.calender .align_right p {
    font-size: 14px;
    color: #606060;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

.calender .align_right p:last-child {
    border-bottom: 0px;
}

.calender .align_right p span {
    color: #ff91b8;
    margin-right: 8px;
}

.calender .align_right p a {
    color: #606060;
}

.view_all_btn a {
    font-size: 15px;
    color: #606060;
    border: 2px solid #f2f2f2;
    padding: 14px 70px;
    border-radius: 36px;
    font-weight: 500;
}

.view_all_btn {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.view_all_btn a:hover {
    background: #222;
    color: #fff;
    border-color: #222;
}

.blog_testimonial {
    background: #fafafa;
    padding: 80px 0 70px;
}

.blog {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.blog .user img {
    display: inline-block;
}

.blog .user p {
    display: inline-block;
    margin: 0 0px 0 8px;
    color: #1c2e63;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    vertical-align: middle;
}

.blog .user {
    margin-bottom: 15px;
}

.blog .user p span {
    display: block;
    color: #ccc;
}

.blog p {
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
}

.action_btn {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.action_btn a {
    color: #8e9097;
    font-size: 14px;
    font-weight: 400;
    margin-right: 14px;
}


/*==========  Testimonial Outer ===============*/

.testimonial_outer .carousel-indicators li {
    text-indent: 0px;
    width: auto;
    height: auto;
    border: 0;
    margin: 0;
    float: left;
    opacity: 0.4;
}

.testimonial_outer .carousel-indicators li.active {
    opacity: 1;
    margin-top: -20px;
}

.testimonial_outer .carousel-indicators {
    position: static;
    margin: 0;
    width: 100%;
}

.testimonial_outer {
    background: #fff;
    border: 1px solid #ccc;
}

.testimonial_outer_heading {
    padding: 15px;
    text-align: center;
    border-bottom: 4px double #d9d9d9;
}

.testimonial_outer_heading p {
    font-size: 15px;
    color: #2e2e2e;
    margin: 0 0 10px;
    line-height: normal;
}

.testimonial_outer_heading h3 {
    font-size: 25px;
    color: #1c2e63;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.testimonial_slider {
    padding: 20px 10px 10px;
}

.testimonial_text {
    border: 1px solid #ccc;
    padding: 25px 52px 50px;
    position: relative;
}

.testimonial_text p {
    font-size: 14px;
    color: #2e2e2e;
    text-align: center;
    line-height: 26px;
}

.testimonial_text p span {
    display: block;
    font-size: 14px;
    color: #223e99;
    font-weight: 600;
    text-align: right;
    margin-top: 30px;
}

.testimonial_text:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 18px;
    background: url(/assets/images/blog_up.jpg) no-repeat;
    top: 10px;
    left: 20px;
}

.testimonial_text:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 18px;
    background: url(/assets/images/blog_down.jpg) no-repeat;
    bottom: 20px;
    right: 10px;
}

.testimonial_outer .carousel-indicators {
    margin-top: 30px;
}

#quote-carousel:after {
    clear: both;
    display: block;
    content: "";
}


/*==========  Newsletter ===============*/

.newsletter {
    background: #333;
    padding: 35px 0 50px;
    text-align: center;
}

.newsletter h3 {
    color: #fff;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.newsletter form {
    max-width: 565px;
    margin: 0 auto;
}

.newsletter input[type="email"],
.newsletter input[type="text"],
.newsletter input[type="number"] {
    background: #fff;
    border: 0;
    padding: 12px 15px;
    font-size: 13px;
    color: #000000;
    max-width: 425px;
    width: 75%;
    float: left;
}

.newsletter button[type="submit"],
.newsletter input[type="button"],
.newsletter input[type="submit"],
.newsletter button {
    background: #ab3585;
    color: #fff;
    border: 0;
    padding: 11px 30px;
    font-size: 15px;
    text-transform: uppercase;
    width: 25%;
}


/*==========  Footer ===============*/

footer {
    background: url(/assets/images/featured_product_bg.jpg) no-repeat center top / cover;
    padding: 15px 0 0px;
}

footer ul {
    margin: 0;
    padding: 0;
    display: block;
}

footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: #333333;
    font-size: 14px;
}

footer h5 {
    font-size: 15px;
    color: #111111;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.sitemap ul li {
    width: 50%;
    float: left;
    margin-bottom: 4px;
}

.login_course form {
    margin-top: 20px;
    max-width: 312px;
}

.login_course form label {
    font-size: 14px;
    color: #333333;
    display: block;
    font-weight: normal;
}

.login_course form input {
    width: 100%;
    max-width: 312px;
    border: 1px solid #9d9d9d;
    background: #fff;
    padding: 7px 15px;
}

.login_course .form-group a {
    color: #1c2e63;
    font-size: 13px;
}

.login_course .form-group .new_pwd {
    float: right;
}

.login_course form button[type="submit"] {
    font-size: 15px;
    color: #fff;
    background: #333333;
    padding: 11px 40px;
    border: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.education_resource ul li {
    margin-bottom: 10px;
    padding-left: 25px;
    display: block;
    position: relative;
}

.education_resource ul li:before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: #ab3585;
    top: 1px;
}

.copyright {
    background: #ab3585;
    padding: 20px 0;
    margin-top: 10px;
}

.copyright p {
    color: #fff;
    margin: 0;
    display: inline-block;
    font-size: 12px;
}

.copyright ul li {
    display: inline-block;
    vertical-align: middle;
}

footer .copyright ul {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.copyright ul li a {
    color: #fff;
    margin-left: 9px;
    font-size: 17px;
}

.copyright ul li a:hover {
    color: #fff;
}

footer ul li a:hover {
    color: #ab3585;
}


/*================================================= News Page =======================================
 ====================================================================================================   */

.featured_image {
    text-align: center;
}

.featured_image img {
    max-width: 100%;
}

#content { padding: 30px 0;}

.news_content h2 {
    color: #ab3585;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 35px;
}

/* .news_content h2 span{ text-decoration: underline;} */

.news_content ul {
    margin: 0;
    padding: 0;
    display: block;
}

.news_content ul li:after,
.news_content ul:after {
    clear: both;
    display: block;
    content: "";
}

.news_content ul li {
    list-style: none;
    margin: 0 0 40px;
    padding: 0 0 20px;
    border-bottom: 1px solid #ccc;
}

.news_image {
    width: 25%;
    float: right;
    text-align: right;
    padding-left: 15px;
}

.new_content {
    width: 75%;
}

.new_content h4 {
    font-size: 20px;
    color: #1c2e63;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 25px;
}

.new_content p {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 20px;
}

.new_content a.news_btn {
    font-size: 20px;
    color: #fff;
    background: #1c2e63;
    border-radius: 6px;
    font-weight: 500;
    padding: 10px 16px;
    margin-top: 20px;
    display: inline-block;
}

.news_image img {
    border: 1px solid #000;
    padding: 1px;
    border-radius: 2px;
}

.view_all {
    text-align: center;
}

.view_all a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #ab3585;
    padding: 14px 50px;
    border-radius: 4px;
}

.place_ad {
    padding: 15px;
    position: relative;
    background: #feee66;
    padding: 140px 0 240px;
    text-align: center;
}

.place_ad span {
    font-size: 48px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/* ================================================= Accessories Page =======================================
   ========================================================================================================== */

.pagehead {
    width: 100%;
    display: block
}

.pagehead h2 {
    color: #ab3585;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 35px;
    position: relative;
    padding-bottom: 15px;
    display: inline-block;
}

.pagehead h2:after {
    width: 100%;
    height: 2px;
    background: #ab3585;
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
}

.accessory_cotent h2 {
    display: inline-block;
}

.accessory_cotent .grid_view_icon {
    float: right;
}

.accessory_cotent:after {
    clear: both;
    display: block;
    content: "";
}

.grid_view_icon .view_icon_outer {
    display: inline-block;
    margin-right: 15px;
}

.grid_view_icon .accessory_search {
    display: inline-block;
}

.view_icon_outer span {
    font-size: 15px;
    color: #223e99;
    text-transform: uppercase;
}

.view_icon_outer a {
    color: #1c2e63;
    font-size: 25px;
    vertical-align: middle;
    margin-left: 16px;
}

.view_icon_outer a.active,
.view_icon_outer a:hover {
    color: #ab3585;
}

.accessory_search {
    width: 255px;
    position: relative;
}

.accessory_search input {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f8f8f8;
    padding: 10px;
    width: 100%;
}

.accessory_search button {
    position: absolute;
    background: none;
    border: 0;
    top: 7px;
    right: 4px;
    color: #757575;
    font-size: 17px;
}

.accessory_cotent ul.accessory_list {
    margin: 30px 0 0;
    padding: 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.accessory_cotent ul.accessory_list li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

.accessory_image {
    width: 25%;
    float: left;
    padding-right: 15px;
}

.accessory_content {
    width: 75%;
    float: left;
    /* padding-right: 210px; */
}

.accessory_cotent ul li:after {
    clear: both;
    display: block;
    content: "";
}

.accessory_content h5 {
    font-size: 17px;
    color: #4e4e4e;
    margin: 0 0 15px;
    font-weight: 600;
}

.accessory_content p {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
}

.accessory_content p.accessory_liink {
    margin-top: 15px;
}

.accessory_content .read_btn {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    background: #010067;
    border-radius: 4px;
    padding: 5px 20px;
    /* display: inline-block;
    margin-top: 20px; */
    border: 0px solid #fff;
    cursor: pointer;
}


/* .accessory_content .read_btn:hover {
    border-color: #010067;
    background: #fff;
    color: #010067;
} */


/* .accessory_buy_btn {
    position: absolute;
    top: 50px;
    right: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background: #ab3585;
    padding: 10px 60px;
    display: inline-block;
    border: 2px solid #fff;
} */

.accessory_content .accessory_buy_btn {
    color: #fff;
    background: #ab3585;
    margin-left: 25px;
}


/* .accessory_buy_btn:hover {
    background: #fff;
    border-color: #ab3585;
    color: #ab3585;
} */

.accessory_image img {
    border: 1px solid #ccc;
}

.pagination_dev ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination_dev ul li{
    list-style: none;
    margin: 0px 5px 0px 0px;
    padding: 0;
    display: inline-block;
}

.pagination_dev ul li a{
    background: #efefef;
    font-size: 12px;
    color: #848484;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px;
    border-radius: 4px;
}

.pagination_dev ul li.active:hover,
.pagination_dev ul li.current:hover,
.pagination_dev ul li.active,
.pagination_dev ul li.current{
    font-size: 12px;
    color: #fff;
    background: #ab3585;
    padding: 5px 10px;
    border-radius: 4px;
}

.pagination_dev {
    margin-bottom: 50px;
}


/* ================================================= Service Department =======================================
   ========================================================================================================== */

.product_help {
    padding: 55px 0 38px;
    background: #f9f9f8;
}

.product_help ul {
    margin: 0;
    padding: 0;
    display: block;
}

.product_help ul li {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 33.33%;
    float: left;
}

.product_help ul:after {
    clear: both;
    display: block;
    content: "";
}

.product_help ul li .box {
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    min-height: 260px;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
}

.product_help ul li .box:hover {
    margin-top: -15px;
    background: #f9f9f9;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.product_help ul li .box h4 {
    font-size: 25px;
    color: #1c2e63;
    text-transform: uppercase;
    margin-bottom: 22px;
    margin-top: 0px;
}

.product_help ul li .box p {
    font-size: 16px;
    color: #888889;
}

.product_help ul li .box a {
    display: block;
    padding: 50px 15px 70px;
}

.select_product_outer {
    background: #f9f9f8;
    padding-bottom: 90px;
}

.select_product_outer_heading {
    margin-bottom: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.select_product_outer_heading:after {
    clear: both;
    display: block;
    content: "";
}

.select_product_outer_heading h3 {
    margin: 5px 0 0;
    display: inline-block;
    float: left;
    font-size: 25px;
    color: #1c2e63;
    font-weight: normal;
}

.select_product_search {
    display: inline-block;
    float: right;
}

.select_product_search span {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    color: #1c2e63;
    margin-top: 7px;
}

.select_product_search .accessory_search {
    float: right;
}

.select_product_search .accessory_search input {
    background: #fff;
}

.select_product_search .accessory_search button {
    color: #ab3585;
}

.select_product_slider .item {
    padding: 0 7px;
}

.select_product_slider .item .new {
    position: absolute;
    top: 10px;
    right: -9px;
    background: #102747;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    display: inline-block;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.select_product_slider .item>.crouserl_img {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
}

.select_product_slider .crouserl_img p {
    padding-right: 30px;
}

.select_product_slider .item .new:after {
    width: 0;
    content: "";
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 31px solid #102747;
    position: absolute;
    top: 0px;
    right: -14px;
}

.product_search_slider {
    padding: 0 50px;
    position: relative;
}

.product_search_slider .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin: -35px 0 0 0;
    z-index: 0;
}
.product_search_slider .owl-controls .owl-pagination{ display: none;}

.select_product_slider .owl-theme .owl-controls .owl-buttons div {
    margin: 0 !important;
}

.select_product_slider .owl-theme .owl-controls .owl-buttons .owl-prev {
    float: left;
}

.select_product_slider .owl-theme .owl-controls .owl-buttons .owl-next {
    float: right;
}

.product_circle_outer {
    margin-top: 100px;
}

.product_circle_img img {
    border-radius: 50%;
    border: 1px solid #ccc;
    object-fit: cover;
}

.product_circle_img {
    text-align: center;
    margin-bottom: 20px;
}

.product_circle {
    text-align: center;
    padding: 0 20px 60px;
    position: relative;
    min-height: 440px;
}

.product_circle h4 {
    font-size: 20px;
    color: #1d2d61;
}

.product_circle p {
    font-size: 16px;
    color: #5d5b5b;
}

.product_circle a {
    display: inline-block;
    font-size: 16px;
    color: #1a4784;
    border: 1px solid #1a4784;
    border-radius: 34px;
    padding: 12px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 200px;
    left: 50%;
    margin-left: -100px;
}

.product_circle a:hover {
    background: #1a4784;
    color: #fff;
}

.summer_sale {
    text-align: center;
    padding: 50px 0 200px;
    background: #fbec63;
}

.summer_sale p {
    font-size: 22px;
    line-height: 40px;
}

.owl-carousel .owl-wrapper-outer {
    z-index: 999;
}


/* ================================================= About Us =======================================
   ========================================================================================================== */

.about_video {
    text-align: center;
}

.about_video .inner_heading {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid #1c2e63;
}

.about_video .inner_heading:after {
    display: none;
}

.about_content {
    padding: 35px 0;
}

.purpose,
.our_mission {
    background: #f9f9f9;
}

.about_content h4 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.about_content h4.about_sub_head {
    color: #1c2e63;
    margin-top: 0px;
}

h4.about_sub_head span {
    border-bottom: 2px solid #ab3585;
}

.about_content p {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.about_list {
    padding: 0;
    display: block;
    margin: 0px;
}

.about_list li {
    font-size: 14px;
    color: #5e5e5e;
    margin: 0 0 15px;
    padding: 0 0 0 20px;
    list-style: none;
    background: url(/assets/images/gallery_list_bg.png) no-repeat left center;
}

.our_mission .about_list,
.purpose .about_list {
    margin-top: 30px;
}

.contact_us {
    background: url(/assets/images/about_contact_bg.jpg) no-repeat center top / cover;
    padding: 40px 0 60px;
}

.contact_us h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.contact_us form .form-control {
    border-radius: 0px;
    border: 1px solid #a9c0f9;
    color: #858585;
    font-size: 15px;
    padding: 8px 12px;
    height: auto;
}

.contact_us form .form-group {
    margin-bottom: 25px;
}

.contact_us form textarea.form-control {
    min-height: 170px;
}

.contact_us form button[type="submit"] {
    background: #ab3585;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border-radius: 0px;
    padding: 8px 45px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    display: block;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

.contact_us form button[type="submit"]:hover {
    background: #fff;
    color: #ab3585;
    border-color: #ab3585;
}

.contact_detail {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.contact_detail h5 {
    font-size: 18px;
    margin-top: 0px;
    font-weight: 600;
}

.contact_detail p {
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.contact_detail p.icon {
    margin-bottom: 0;
}

.contact_detail p span {
    margin-right: 10px;
}

.contact_detail ul {
    margin: 0;
    padding: 0;
    display: block;
}

.contact_detail ul li {
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
}

.contact_detail li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.distributor_sec {
    padding: 35px 0;
}

.distributor_sec h3 {
    margin: 0 0 25px;
    font-size: 22px;
    color: #0a2975;
    text-align: center;
}

.distributor_sec h3 span {
    color: #ab3585;
}

.distrobutor_list {
    max-width: 840px;
    margin: 0 auto;
}

.distrobutor_list ul {
    margin: 0;
    padding: 0;
    max-height: 490px;
    overflow-y: scroll;
}

.distrobutor_list ul li {
    list-style: none;
    margin: 0;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
}

.distrobutor_list ul li:after {
    clear: both;
    display: block;
    content: "";
}

.distrobutor_list ul li h5 {
    margin: 0 0 5px;
    font-size: 16px;
    color: #142953;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.distrobutor_list ul li p {
    font-size: 13px;
    color: #142953;
    margin: 0;
    font-weight: 400;
    line-height: 22px;
}

.distrobutor_list ul li .align_left {
    float: left;
}

.distrobutor_list ul li .align_right {
    float: right;
    max-width: 200px;
    width: 100%;
}

.distrobutor_list ul li .align_right p span {
    margin-right: 10px;
    color: #ab3586;
    width: 13px;
    display: inline-block;
    text-align: center;
}

.distrobutor_list ul li .align_right p {
    font-size: 13px;
    color: #848183;
    margin-bottom: 5px;
}

.distrobutor_list ul::-webkit-scrollbar-track {
    background-color: #dadada;
}

.distrobutor_list ul::-webkit-scrollbar {
    width: 6px;
    background-color: #dadada;
}

.distrobutor_list ul::-webkit-scrollbar-thumb {
    background-color: #868686;
}

.ft_img_overlay {
    position: relative;
}


/*-----
.ft_img_overlay:after {
    background: url(/assets/images/banner_after.png) no-repeat center top;
    position: absolute;
    content: "";
    width: 100%;
    height: 78px;
    top: 0;
    left: 0;
}

------*/
.main_menu_left{ position: relative; z-index: 9992;}
header:after {
    background: url(/assets/images/banner_after.png) no-repeat center bottom;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: -48px;
    left: 0;
    background-size: 100%;
    /* background-position: 0 -12px;    
    /* display: none; */
    z-index: 9991;
}

.modal {
    z-index: 9999;
}


/* ================================================= Why Litegait=======================================
   ========================================================================================================== */

.litegait_video img {
    width: 100%;
}

.litegait_video {
    position: relative;
}

.litegait_video .cap_text {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    text-align: center;
}

.litegait_video .cap_text span {
    color: #fff;
    opacity: 0.7;
    font-size: 110px;
}

.litegait_video .cap_text h2 {
    margin-top: 0;
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 43px;
    line-height: 70px;
    margin-bottom: 20px
}

.panel-default>.panel-heading a:after {
    float: right;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.litegait_accordian {
    padding: 100px 0 95px;
    background: #f9f9f8;
}

.litegait_accordian #accordion {
    max-width: 755px;
    margin: 0 auto;
}

.litegait_accordian .panel-heading {
    padding: 0;
    border-radius: 0;
}

.litegait_accordian .panel-title {
    color: #0f243e;
}

.litegait_accordian .panel-title a {
    display: block;
    padding: 10px 15px;
    background: #f4f4f4;
}

.litegait_accordian .panel-group .panel {
    border-radius: 0;
}

.litegait_accordian .panel-body p {
    font-size: 16px;
    color: #0f243e;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}


/* ================================================= Product Page =======================================
   ========================================================================================================== */

.product_page {
    padding: 100px 0 85px;
    background: #f9f9f8;
}

/* .product_page2,
.product-detail-page,
#content>.container {
    padding: 100px 0 85px;
} */

.product_page2.headerbanner {
    padding-top: 0px;
}

.product_page .product_search_slider,
.product_page .select_product_outer {
    padding: 0;
}

.product_search_slider:after,
.product_page:after {
    clear: both;
    display: block;
    content: "";
}

.product_list_btn {
    clear: both;
}

.product_page .select_product_slider .item {
    padding: 0;
    margin-bottom: 30px;
}


/* .product_page h2 {
    font-size: 25px;
    color: #1c2e63;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
} */

.product_page p {
    font-weight: 400;
}

.product_grid_select {
    float: left;
    width: 60%;
}

.product_grid_icon:after {
    clear: both;
    display: block;
    content: "";
}

.product_grid_icon .show_number {
    float: right;
    margin-top: 6px;
}

.product_grid_icon {
    margin: 50px 0 25px;
}

.product_sort_select_outer {
    display: inline-block;
    max-width: 505px;
    width: 100%;
}

.product_sort_select_outer label {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #223e99;
    text-transform: uppercase;
    font-weight: 400;
}

.product_sort_select {
    display: inline-block;
    margin-right: 10px;
    max-width: 360px;
    width: 100%;
}

.product_number_select {
    display: inline-block;
    max-width: 130px;
    width: 100%;
}

.product_sort_select_outer select {
    font-size: 12px;
    color: #808080;
    border: 1px solid #ccc;
    border-radius: 0px;
    background: #fff;
    display: inline-block;
}

.product_sort_select select {
    max-width: 285px;
    width: 100%;
}

.product_number_select select.form-control {
    max-width: 70px;
    width: 100%;
}

.select_product_outer .crouserl_img:before {
    display: none;
}

.crouserl_img ul {
    margin: 0;
    padding: 0 15px 0 0;
    min-height: 100px;
}

.crouserl_img ul li {
    list-style: none;
    margin: 0 0 5px;
    padding: 0 0 0 15px;
    font-size: 12px;
    color: #2b2a2a;
    background: url(/assets/images/product_caption_list_icon.jpg) no-repeat left top 10px;
    line-height: 24px;
}

/* .crousel_img {
    overflow: hidden;
    height: 250px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
} */
.crousel_img {
    overflow: hidden;
    height: 220px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(0,0,0,0.1); */
}

.select_product_slider .item .new.pink {
    background: #ab3585;
}

.select_product_slider .item .new.pink:after {
    border-bottom: 31px solid #ab3585
}

.product_list_btn {
    padding: 0 15px;
    text-align: center;
}

.product_list_btn a {
    background: #102747;
    font-size: 12px;
    color: #fff;
    padding: 10px 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 2px solid #102747;
}

.product_list_btn a:hover {
    background: #fff;
    color: #102747;
}

.summer_sale_product {
    padding: 55px 0;
    background: #fbec63;
}

.summer_sale_product img {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.summer_sale_product h2 {
    font-size: 24px;
    color: #424242;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.summer_caption {
    display: inline-block;
    padding-top: 15px;
}

.summer_content {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
}

.cat_dis {
    /* min-height: 50px;
    max-height: 50px;
    overflow: hidden; */
    position: absolute;
    width: calc(100% - 20px);
    z-index: 2;
}

.cat_dis p {
    background: url(/assets/images/product_caption_list_icon.jpg) no-repeat left top 10px;
    font-size: 13px;
    color: #2b2a2a;
    padding: 0 0 6px 15px;
    overflow: hidden;
}


/* ================================================= Gallery Page =======================================
   ========================================================================================================== */

.gallery_outer {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 42px;
    position: relative;
}

.gallery_outer .view_icon {
    position: absolute;
    background: #010067;
    width: 56px;
    height: 56px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    display: block;
    font-size: 26px;
    padding-top: 8px;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
}

.gallery_outer img {
    width: 100%;
}

.gallery_outer h6 {
    background: #f9f9f9;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #4e4e4e;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 10px;
}

.gallery_outer ul {
    margin: 0;
    padding: 0;
    display: block;
    background: rgba(1, 0, 103, 0.65);
    padding: 10px 15px 25px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

.gallery_outer:hover ul {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.gallery_outer ul li {
    list-style: none;
    margin: 0 0 9px;
    padding: 0 0 0 20px;
    font-size: 14px;
    color: #fff;
    background: url(/assets/images/gallery_list_bg.png) no-repeat left top 4px;
}

.gallery_video {
    position: relative;
}

.gallery_outer:hover .view_icon {
    background: #ab3585;
}

.gallery_video a {
    text-align: center;
    color: #fff;
    border-radius: 50%;
    display: block;
    padding-top: 8px;
    position: absolute;
    top: 50%;
    font-size: 50px;
    line-height: 20px;
    padding: 0;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
}


/* ================================================= Product Detail Page =======================================
   ========================================================================================================== */

.left_sidebar {
    background-color: #f9f9f9;
    padding: 10px 0 12px 0;
    position: relative;
}

.left_sidebar h5 {
    font-size: 17px;
    color: #1d2e64;
    font-weight: 600;
    padding: 6px 12px 15px 12px;
    margin: 0px;
}

.left_sidebar ul {
    margin: 0px 0 15px 0;
    padding: 0px;
    list-style: none;
}

.left_sidebar ul li a:hover,
.left_sidebar ul li a.active {
    background-color: #ab3585;
}

.left_sidebar ul li a.active {
    background-color: #ab3585;
}

.left_sidebar ul li a {
    font-size: 14px;
    color: #232323;
    font-weight: 500;
    display: block;
    padding: 6px 13px;
}

.left_sidebar ul li a:hover,
.left_sidebar ul li.active a {
    /* color: #fff; */
}

.left_sidebar ul li a span {
    display: inline-block;
    padding: 0 10px 0 6px;
}

.boxline:after {
    width: 2px;
    height: 100%;
    position: absolute;
    left: -15px;
    content: "";
    background-color: #ab3585;
    top: 0;
}


/** /!!! Gallery !!!/**/

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightSlider:before,
.lightSlider:after {
    content: " ";
    display: table;
}

.lightSlider {
    overflow: hidden;
    margin: 0;
}

.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.lSSlideWrapper>.lightSlider:after {
    clear: both;
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform, height;
    transition-property: transform, height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
    position: relative;
}

.lSSlideWrapper .lSFade>* {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}

.lSSlideWrapper.usingCss .lSFade>* {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade>*.active {
    z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade>*.active {
    opacity: 1;
}


/** /!!! End of core css Should not edit !!!/**/


/* Pager */

.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}

.lSSlideOuter .lSPager.lSpg>li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg>li:hover a,
.lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #428bca;
}

.lSSlideOuter .media {
    opacity: 0.8;
}

.lSSlideOuter .media.active {
    opacity: 1;
}


/* End of pager */


/** Gallery */

.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}

#testimonialSlider .lSSlideOuter .lSPager.lSGallery li.active,
#testimonialSlider .lSSlideOuter .lSPager.lSGallery li:hover {
    opacity: 1 !important;
    margin-top: -20px !important;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}



.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before,
.lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}


/* End of Gallery*/


/* slider actions */

.lSAction>a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('/assets/images/nav-arrow.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}

.lSAction>a:hover {
    opacity: 1;
}

.lSAction>.lSPrev {
    background-position: 0 0;
    left: 10px;
}

.lSAction>.lSNext {
    background-position: -32px 0;
    right: 10px;
}

.lSAction>a.disabled {
    pointer-events: none;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */

.lSSlideOuter.vertical {
    position: relative;
}

.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}

.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}

.lSSlideOuter.vertical .lightSlider>* {
    width: 100% !important;
    max-width: none !important;
}


/* vertical controlls */

.lSSlideOuter.vertical .lSAction>a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}

.lSSlideOuter.vertical .lSAction>.lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}

.lSSlideOuter.vertical .lSAction>.lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}


/* vertical */


/* Rtl */

.lSSlideOuter.lSrtl {
    direction: rtl;
}

.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}

.lSSlideOuter.lSrtl .lightSlider,
.lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}

.lSSlideOuter .lightSlider>*,
.lSSlideOuter .lSGallery li {
    float: left;
}

.lSSlideOuter.lSrtl .lightSlider>*,
.lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}


/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }
    50% {
        left: -15px;
    }
    100% {
        left: 0;
    }
}

@keyframes rightEnd {
    0% {
        left: 0;
    }
    50% {
        left: -15px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0;
    }
}

@keyframes topEnd {
    0% {
        top: 0;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }
    50% {
        left: 15px;
    }
    100% {
        left: 0;
    }
}

@keyframes leftEnd {
    0% {
        left: 0;
    }
    50% {
        left: 15px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -15px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes bottomEnd {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -15px;
    }
    100% {
        bottom: 0;
    }
}

.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}

.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}

.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}

.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}

.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}

.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}


/*/  GRab cursor */

.lightSlider.lsGrab>* {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.lightSlider.lsGrabbing>* {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}

.product-gallery img {
    max-width: 100%;
}

.img-big {
    position: relative;
    border: 1px solid #d7dee6;
}

.cap {
    position: absolute;
    width: 100%;
    background-color: rgba(247, 247, 247, 0.8);
    text-align: center;
    padding: 10px;
    color: #000;
    top: 0;
    left: 0;
}

.lSPager a {
    padding: 3px;
    display: inline-block;
}

.lSPager a img {
    border: 1px solid #d7dee6;
}

.product-dis {
    position: relative;
    min-height: 300px;
    padding-bottom: 60px;
}

.product-dis p {
    font-size: 16px;
    /* color: #2b2a2a; */
    color: #000000;
    line-height: 26px;
    font-weight: 300;
}

.product-dis h5 {
    color: #ab3585;
    font-size: 20px;
    border-bottom: 1px solid #d2dae3;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.request_btn,
.request_btn:hover,
.request_btn:focus {
    background-color: #1d2e64;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.zoom-icon {
    position: absolute;
    bottom: 99px;
    right: 17px;
}

.pro-dis {
    border-bottom: 1px solid #d2dae3;
    border-top: 1px solid #d2dae3;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pro-dis h4 {
    color: #1c2e63;
    font-size: 16px;
    font-weight: 500;
}

.pro-dis p {
    font-size: 14px;
    font-weight: 400;
}

.specif h4 {
    color: #1c2e63;
    font-size: 16px;
    font-weight: 500;
}

.tr-bg {
    background-color: #f5f5f5
}

.table-outer {
    margin-top: 10px;
}

.table-outer a {
    color: #1c1ba0;
    font-weight: 400;
    font-size: 14px;
}

.table-outer strong {
    display: block;
    padding: 0 0 8px 0;
}

.dropdown-navs {
    background-color: #e6e6e6;
    border: 1px solid #cbcaca;
    padding: 6px 20px;
}

.dropdown-navs a {
    color: #4f4b4b;
}

.camp {
    color: #1d2e64;
    font-size: 13px;
    position: relative;
    top: 8px;
    right: 10px;
}

.device {
    background-color: #f5f5f5;
    padding: 26px 0;
}

.device h4 {
    color: #1c2e63;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 15px;
}

.device-slider-th {
    padding: 0 15px;
}


/*-----------Service Part Shop-------------*/

.product_grid_icon.service_part_sorting {
    margin-top: 0;
}

.product_grid_icon.service_part_sorting .show_number {
    font-size: 14px;
    color: #1c2e63;
}

.service_part_product .product_search_slider {
    padding: 0;
}

.select_product_outer.service_part_product {
    background: none;
    padding-bottom: 0;
}

.select_product_outer .select_product_slider .item {
    padding: 0;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
    margin-bottom: 50px;
    margin-left: 3px;
    margin-right: 3px;
}

.service_part_product .select_product_slider .item>.crouserl_img {
    padding: 0;
    border: 0
}

.service_part_product .select_product_slider .item>.crouserl_img img {
    max-width: 100%;
}

.service_part_product .crousel_img {
    margin: 0;
    background: #fff;
}

.product_content {
    padding: 15px;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

.product_content h4 a {
    font-size: 18px;
    margin: 0 0 6px;
    color: #ab3585;
}

.product_content .part_desc {
    margin: 0;
    padding: 0;
    min-height: 0px;
}

.product_content .part_desc p {
    margin: 0;
    padding: 0;
    list-style: none;
    background: none;
    font-size: 12px;
    color: #35343c;
    font-weight: 400;
    line-height: 22px;
}

.rate_cart {
    border-top: 1px solid #ebebeb;
    padding: 10px;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

.rate_cart a {
    float: right;
    font-size: 13px;
    color: #05030e;
    font-weight: 500;
}

.rate_cart a:hover {
    color: #ab3585;
}

.rate_cart a i {
    color: #ab3585;
    font-size: 15px;
    margin-right: 5px;
}

.rate_cart .price {
    font-size: 15px;
    color: #05030e;
    font-weight: 500;
}

.select_product_outer .select_product_slider .item:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.select_product_outer .select_product_slider .item:hover .product_content {
    background: #f6f6f6;
}

.select_product_outer .select_product_slider .item:hover .rate_cart {
    background: #f6f6f6;
}

.service_shop_sidebar h5 a {
    float: right;
    font-size: 12px;
    color: #ab3585;
    font-weight: 500;
}

.service_part_product .pagination_dev {
    margin-bottom: 20px;
    padding-top: 35px;
    border-top: 2px solid #e4e4e4;
}

.webinar-outer {
    text-align: center;
    color: #747679;
    font-size: 13px;
    /*max-height: 300px;
    overflow: hidden;
    min-height: 290px;*/
}
.continue_text{ max-height: 180px; overflow: auto;}
.continue_text p{ margin: 0px 0px;}
.webinar-outer p {
    text-align: center;
    color: #747679;
    font-size: 12px;
}

.webinar-outer h4 {
    font-weight: 500;
    font-size: 14px;
}

.img-webinar-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.img-webinar-box:after {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(71, 53, 133, 0.3);
    content: "";
}

.img-webinar-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.upcoming {
    background-color: #ab3585;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 0 6px 12px;
}

.webinars-list {
    width: 100%;
    padding-bottom: 20px;
}

.web_calendar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #efefef;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -15px;
    background-color: #fff;
    text-align: center;
    padding: 2px;
}

.webinars-img {
    width: 195px;
    height: 195px;
    float: left;
    padding-right: 15px;
}

.webinars-img .boximg {
    border: 1px solid #efefef;
    position: relative;
}

.webinars-img img {
    max-width: 100%;
}

.webinars-img span.ondemand {
    position: absolute;
    background: #ab3585;
    color: #FFF;
    -webkit-transform: rotate(90deg);
    padding: 5px;
    top: 27px;
    right: -28px;
}

.webinars-img span.ondemand:after {
    width: 0;
    content: "";
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 31px solid #ab3585;
    position: absolute;
    top: -2px;
    right: -14px;
}

.webinars-info {
    width: calc(100% - 195px);
    float: left;
    position: relative;
}

.web-info {
    border: 1px solid #efefef;
    padding: 15px 20px 20px 20px;
}

.web-info ul {
    margin: 0px 0 8px 0;
    padding: 0px;
    list-style: none;
}

.web-info ul li {
    position: relative;
    padding: 5px 0 7px 25px;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
}

.web-info ul li:nth-child(1) {
    font-weight: 400;
    font-size: 20px;
    color: #1c2e63;
}

.web-info ul li.datetime {
    font-weight: 400;
    font-size: 14px;
    color: #1c2e63;
}

.web-info ul li:nth-child(1) img {
    top: 14px;
}

.web-info ul li img {
    position: absolute;
    top: 8px;
    left: 0;
}

.pt-5 {
    padding-top: 25px;
}

.webinar-title {
    color: #284699;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 20px;
}

.extended {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.extended-sub {
    background-color: #fff;
    border: 1px solid #acadac;
    padding: 10px;
    position: relative;
}

.extended-sub>.titlebox {
    font-size: 30px;
    color: #231f20;
    text-align: center;
    line-height: 30px;
    padding: 20px 0 20px 0;
}

.unlimited {
    font-size: 20px;
    color: #231f20;
}

.unlimited p {
    padding-top: 15px;
    font-weight: 400;
}

.pricecheck {
    font-size: 30px;
    color: #111c24;
    padding-left: 38px;
    padding-bottom: 20px;
    position: relative;
    font-weight: 400;
}

.pricecheck input,
.input_checkbox_view{
    position: absolute;
    left: 0px;
    top: 8px;
    opacity: 0;
    width: 25px;
    height: 25px;
    z-index: 2;
}
.input_checkbox_view{ opacity: 1; border: 2px solid #111c24; border-radius: 3px; padding: 0px; margin: 4px 0px 0px; z-index: 0;}

.pricecheck strong {
    font-size: 36px;
    color: #111c24;
    font-weight: 400;
}

.pricecheck span {
    font-size: 18px;
    color: #111c24;
    display: block;
    padding-left: 20px;
}


/*------------*/

.webniar_outer .extended {
    margin-top: 0px;
}

.webniar_outer {
    padding-top: 50px;
}

.webniar_outer .align_left img {
    margin-bottom: 12px;
}

.webniar_outer .align_left h6 {
    font-size: 15px;
    color: #8e908f;
    margin: 0;
    font-weight: normal;
}

.webniar_outer .align_left h5 {
    font-size: 19px;
    color: #000000;
    margin: 5px 0;
}

.webniar_outer .align_left .desc_ {
    margin-top: 18px;
}

.webniar_outer .align_left .desc_ p {
    color: #000000;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    line-height: 22px;
}

.webniar_outer .align_right h2 {
    font-size: 29px;
    font-weight: 400;
    color: #000;
}

.date_wrap {
    margin: 55px 0 10px;
}

.date_wrap h4 {
    background: #17375e;
    color: #fff;
    margin: 0;
    padding: 12px;
    font-size: 22px;
    font-weight: 400;
}

.date_wrap h4 span {
    float: right;
}

.purchase_step {
    border-bottom: 2px solid #cacac8;
    border-top: 2px solid #cacac8;
    margin-bottom: 18px;
}

.purchase_step:after {
    clear: both;
    display: block;
    content: "";
}

.purchase_step .align_left {
    width: 30%;
    float: left;
}

.purchase_step .align_right {
    width: 70%;
    float: left;
    /* border-left: 2px solid #cacac8; */
}

.purchase_step .align_right ul {
    margin: 0;
    padding: 0;
}

.purchase_step .align_right ul li {
    list-style: none;
    margin: 12px 0;
    padding: 0 0 0 15px;
    font-size: 19px;
    color: #000;
}

.purchase_step .align_right ul li a {
    font-size: 17px;
    color: #fff;
    background: #17375e;
    padding: 1px 40px;
    border-radius: 18px;
    float: right;
}

.purchase_step .align_left h4 {
    font-size: 17px;
    color: #000;
    text-align: center;
    font-weight: 400;
}

.purchase_step .align_left h4 span {
    display: block;
    font-size: 23px;
    margin-top: 12px;
}

.webniar_outer .align_right h5 {
    font-size: 15px;
    color: #000000;
}

.webniar_outer .align_right p {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 22px;
}

.course_object_detail {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    line-height: 18px;
}

.course_object_detail li {
    margin: 0;
    padding: 0;
}

.webniar_outer .align_right select {
    width: 100%;
    padding: 2px 6px;
    border: 2px solid #d1d1cf;
}

.approved_state {
    padding: 0;
    margin: 0;
    border-top: 2px solid #d1d1cf;
    padding-top: 15px;
    margin-top: 15px;
}

.approved_state:after {
    clear: both;
    display: block;
    content: "";
}

.approved_state li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33.33%;
    float: left;
    font-size: 13px;
    color: #000;
}

.approved_state li span {
    display: block;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}

.scrolling_testi {
    background: url(/assets/images/webinar_bottom_banner.jpg) no-repeat center top;
    background-size: cover;
    padding: 15px;
    text-align: center;
    margin: 45px 0;
}

.scrolling_testi h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    padding: 100px 0 300px;
}

.loginpage {
    background-color: #fefefe;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
}

.loginpage .fields {
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #d8d8d8;
    box-shadow: none;
    height: 40px;
}

.loginpage label {
    font-weight: 400;
    color: #606060;
}

.btns .btn {
    background: #ab3585;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
    border: none;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
}

.forgot_remember_sec {
    width: 100%;
    float: left;
    padding: 0 0 20px 0;
}

.forgot_password {
    text-align: right;
    margin-left: auto;
}

a.forgot {
    display: inline-block;
    color: #ab3585;
    padding: 6px 0 0 0;
}

.sighup-account {
    text-align: center;
    padding: 15px 0 0 0;
}

.sighup-account a {
    color: #ab3585;
}

.myaddresses {
    border: 1px solid #d8d8d8;
    padding: 15px;
    position: relative;
    line-height: 26px;
    margin-bottom: 30px;
}

.myaddresses strong {
    font-weight: 600;
}

.edits {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 3px;
    margin: 6px;
}

.delete {
    position: absolute;
    top: 0;
    right: 40px;
    display: inline-block;
    padding: 3px;
    margin: 6px;
}

.moorder-outer {
    padding: 10px;
}

.item-block {
    position: relative;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -webit-transition: 0.4s ease all;
}

.overlay-block {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.overlay-block ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
}

.overlay-block ul li {
    padding: 5px;
    display: block;
    width: 100%;
}

.overlay-block ul li a {
    color: #fff;
    font-size: 14px;
    display: block;
    text-align: center;
}

.overlay-block ul li a:hover {
    color: #ab3585;
}

.main_menu .open>.dropdown-menu {
    display: none;
}

a.documentlink {
    color: #000;
    text-decoration: underline;
    text-transform: capitalize;
}

a.documentlink:hover {
    color: #ab3585;
}

.seminarlist .new_content a.news_btn {
    font-size: 17px;
    padding: 1px 10px;
    margin-top: 0px;
}


/* Update by 02/01/2020 */

@font-face {
    font-family: 'montrealregular';
    src: url('/assets/fonts/montreal-regular-webfont.woff2') format('woff2'), url('/assets/fonts/montreal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montrealbold';
    src: url('/assets/fonts/montreal-bold-webfont.woff2') format('woff2'), url('/assets/fonts/montreal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-1 {
    padding-top: 10px;
}

.pb-1 {
    padding-bottom: 10px;
}

.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-2 {
    padding-top: 20px;
}

.pb-2 {
    padding-bottom: 20px;
}

.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pt-3 {
    padding-top: 30px;
}

.pb-3 {
    padding-bottom: 30px;
}

.px-4 {
    padding-left: 40px;
    padding-right: 40px;
}

.py-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pt-4 {
    padding-top: 40px;
}

.pb-4 {
    padding-bottom: 40px;
}

.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-n1 {
    margin-left: -10px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-n1 {
    margin-right: -10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-n2 {
    margin-left: -20px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-n2 {
    margin-right: -20px;
}

.mx-n1 {
    margin-left: -10px;
    margin-right: -10px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-n1 {
    margin-top: -10px;
    margin-bottom: -10px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-n1 {
    margin-top: -10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-n1 {
    margin-bottom: -10px;
}

.mx-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-n2 {
    margin-left: -20px;
    margin-right: -20px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-n2 {
    margin-top: -20px;
    margin-bottom: -20px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-n2 {
    margin-top: -20px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-n2 {
    margin-bottom: -20px;
}

.mx-3 {
    margin-left: 30px;
    margin-right: 30px;
}

.mx-n3 {
    margin-left: -30px;
    margin-right: -30px;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-n3 {
    margin-top: -30px;
    margin-bottom: -30px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-n3 {
    margin-top: -30px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-n3 {
    margin-bottom: -30px;
}

.mx-4 {
    margin-left: 40px;
    margin-right: 40px;
}

.mx-n4 {
    margin-left: -40px;
    margin-right: -40px;
}

.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-n4 {
    margin-top: -40px;
    margin-bottom: -40px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-n4 {
    margin-top: -40px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-n4 {
    margin-bottom: -40px;
}

.subtitle {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.view_all_btn {
    text-align: left;
}

.blockquote_text {
    border-color: #4563c3;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    font-weight: 300;
}

.text_with_img {
    width: 45%;
    margin: 20px;
}

.education_banner img,
.education_img_block img {
    max-width: 100%;
    display: inline-block;
}

.chat_icon {
    background-image: url(/assets/images/chaticon.png) !important;
}

.includes_text_list {
    font-size: 16px;
    color: #000000;
    font-weight: 300;
    line-height: 30px;
    padding-left: 50px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

ul.includes_text_list li {
    list-style: unset;
    margin: unset;
    padding: unset;
    border-bottom: unset;
}

.education_text {
    background-color: #ffffff;
    padding: 40px 0px;
}

.education_text p {
    line-height: 30px;
}

.education_img_block { text-align: center; position: relative;}

.education_img_block .container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.education_img_title {
    font-family: 'montrealregular';
    font-size: 54px;
    color: #ffffff !important;
    line-height: normal;
}

.education_img_title small {
    display: block;
    font-size: 58%;
    color: #ffffff;
    padding-top: 15px;
}

.education_blog_text,
.education_lastblog_text {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 40px 0px 55px;
}

.education_lastblog_text {
    padding: 40px 0px;
}

.education_blog_text>.container {
    position: relative;
}

.education_blog_text>.container::after {
    width: 40%;
    height: 2px;
    background-color: #cdcfce;
    position: absolute;
    left: 50%;
    bottom: -15px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    content: '';
}

.dropdown-menu {
    z-index: 9999 !important;
}

.distributors_list{ border: 1px solid #dddddd;}
.distributors_list td{ border: 1px solid #dddddd; padding: 13px 15px;}

/* Custom Checkbox Box */
.custom_check{ height:22px; width:22px; display:inline-block; position:relative; cursor:pointer; line-height:22px;}
.custom_check input{ width:100%; height:100%; opacity: 0; position: absolute; top: 0; left: 0; cursor: pointer; margin: 0px 0px; z-index: 2;}
.custom_check .check_indicator{ height:100%; width:100%; position:absolute; top:0px; left:0px; background:#ffffff; border:1px solid #cccccc; border-radius:0px;}
.custom_check input:checked + .check_indicator:before{ width:7px; height:12px; position:absolute; left:6px; top:2px; border:solid #ab3585; border-width:0px 2px 2px 0px; -webkit-transform:rotate(45deg); transform:rotate(45deg); content:"";}

.distributors_block{ background-color: #fefefe; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;margin-bottom: 20px;}
/* Custom Checkbox Box */


.news_img{ width: 100%; height: 240px; display: flex; align-items: center; justify-content: center; border: 1px solid rgba(0,0,0,0.05); margin-bottom: 15px;}
.news_img img{ max-width: 100%; max-height: 100%;}
.news_continue_text{ height: 200px; overflow: auto;}





/* Custom fas-minu button */
.custom-fas-minusbutton {
    display: inline-flex;
    width: 15px;
    height: 15px;
    background-color: #ffffff !important;
    align-items: center;
    justify-content: center;
    color: #000000 !important;
    border-radius: 50%;
    font-size: 10px !important;
    /* padding: 2px 0px; */
    /* margin-left: 5px; */
    border: 1px solid #000;
}

.custom_whjitepache{
    white-space: nowrap;
}


/* .boxline em strong{ color: #ab3585;} */



/* .newsletterEmail .hbspt-form{
    display: flex;
    justify-content: center;
} */

/* .newsletterEmail .hs-fieldtype-text{ margin-bottom: 0px !important;}
.newsletterEmail .hbspt-form form{ min-width: 500px !important;;}
.newsletterEmail #label-email-1e0dded4-c48f-46c5-b7b6-975d2b299424{ color: #ffffff !important;;}
.newsletterEmail .actions{ padding: 0px 0px; margin: 15px 0px 0px !important;} */






.custom_dot_Style {
    width: 7px;
    height: 7px;
    border: 2px solid #ab3585;
    display: inline-block;
    margin: 4px 0;
}

.video video {
    width: 100%;
}
.custom_h2 {
    font-size: 23px;;
}
.para_strong {
    font-weight: 500;
}

.testimonial_outer .owl-buttons img {
    width: auto;
    height: auto;
}
.testimonial_outer .owl-buttons {
    position: absolute;
    bottom: 28px;
    width: 100%;
}
.testimonial_outer .owl-buttons .owl-next {float: right;}
.testimonial_outer .owl-buttons .owl-prev {float: left;}
.testimonial_outer .owl-theme .owl-controls {margin:0px}

.testimonial_outer .owl-theme .owl-controls {
    margin: 0px;
 
}

.testimonial_outer .owl-theme .owl-controls .owl-buttons div {
    z-index: 999;
    position: relative;
}
.distributercheckbox {
    max-width: 28px;
}

.testimonials.carousel-indicators .active{
    height: auto !important;
}