<app-pinkbar page="seminar"></app-pinkbar>

<div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>Request To Host Seminar <i>{{this.seminar.title}}</i></span></h2>
                        </div>
                        <p><b>Please fill out the information below and our customer service representatives will contact you as soon as possible.</b></p>
                		<div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="loginpage">

                    	<form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
		                    <div class="form-group">
		                        <label for="name">Name <span class="text-danger">*</span></label>
		                        <!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
		                        <input type="text" class="form-control" name="name" [(ngModel)]="quoteForm.name" #name="ngModel" required />
		                        <div *ngIf="f.submitted && name.invalid" class="text-danger">
		                            <div *ngIf="name.errors.required">Name is required</div>
		                        </div>
		                    </div>
		                   
		                    <div class="form-group">
		                        <label for="email">Email <span class="text-danger">*</span></label>
		                        <input type="text" class="form-control" name="email" [(ngModel)]="quoteForm.email" #email="ngModel" required email />
		                        <div *ngIf="f.submitted && email.invalid" class="text-danger">
		                            <div *ngIf="email.errors.required">Email is required</div>
		                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
		                        </div>
		                    </div>                    

					      	<div class="form-group">
						        <label for="phone">Phone <span class="text-danger">*</span></label>
						        <input id="phone" class="form-control" name="phone" placeholder="Enter Your Phone Number" [(ngModel)]="quoteForm.phone" #phone="ngModel" required minlength="10">

						        <div *ngIf="f.submitted && phone.invalid" class="text-danger">
									<div *ngIf="phone.errors.required"> Phone is required.</div>
									<div *ngIf="phone.errors.minlength"> Phone must be at least 10 characters long.</div> 
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="phone">Address <span class="text-danger">*</span></label>
						        <textarea id="address" class="form-control" name="address" placeholder="Enter Your Address" [(ngModel)]="quoteForm.address" #address="ngModel" required rows="5"> </textarea>

						        <div *ngIf="f.submitted && address.invalid" class="text-danger">
									<div *ngIf="address.errors.required">Address is required.</div>							
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="phone">Message <span class="text-danger">*</span></label>
						        <textarea id="comments" class="form-control" name="comments" placeholder="Enter Your Message" [(ngModel)]="quoteForm.message" #message="ngModel" required rows="5"> </textarea>

						        <div *ngIf="f.submitted && message.invalid" class="text-danger">
									<div *ngIf="message.errors.required"> Your Message is required.</div>							
						        </div>
					      	</div>	      	
		                    
		                    <div class="btns">
		                        <button class="btn btn-primary">Submit</button>
		                    </div>
		                    <div class="sighup-account">
                                <a routerLink="/seminar/{{this.seminar.slug}}">Back to Seminar Page</a>
                            </div>
		                </form> 
                        
                    </div>


                </div>


            </div>

        </div>
    </div>