 <div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>My Orders</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                    <app-leftbar></app-leftbar>
                </div>
                <div class="col-sm-9">
                    <div class="loginpage moorder-outer">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>                                    
                                        <th>Order No.</th>
                                        <th>Webinar</th>
                                        <th>Date</th>                                    
                                        <th>Speaker</th>                                    
                                        <th>Link</th>                                    
                                        <th>Post Test</th>                                    
                                        <th>Handout</th>                                    
                                        <th>Certificate</th>                                    
                                        <th>Contact Hours</th>                                    
                                    </tr>
                                </thead>

                                <tr *ngIf="this.orders && this.orders.length==0">
                                <td colspan="6">No Order Found!</td>
                                </tr>
                                <tbody>
                                    <ng-container *ngFor="let order of this.orders;let i=index">  
                                        <ng-container *ngFor="let item of order.order_product">   
                                            <tr *ngIf="item.type=='webinar' && item.webinar_id">   
                                            <td>#{{order.order_id}}</td>                             
                                                <td class="titlelink"><a *ngIf="item.type=='webinar'" routerLink="/webinar/{{item.webinar_id.slug}}" target="_blank">{{item.webinar_id.title}}</a></td> 
                                            

                                            <td>{{item.webinar_id[item.datetime] | date: 'MMMM d, y h:mm a':getTiemzone(item.webinar_id[item.datetime])}} {{getTiemzone(item.webinar_id[item.datetime])}}</td>
                                            <td><a routerLink="/instructor/{{item.webinar_id.speaker_id[0].slug}}" target="_blank">{{item.webinar_id.speaker_id[0].name}}</a></td>
                                            <td><a href="{{item.webinar_id.url}}" target="_blank">Webinar</a></td>

                                            <td><a *ngIf="item.webinar_id.post_test" href="{{item.webinar_id.post_test}}" target="_blank">Post Test</a>
                                                <span *ngIf="!item.webinar_id.post_test">-</span>  
                                            </td>
                                            <td><a *ngIf="item.webinar_id.handout" href="{{item.webinar_id.handout}}" target="_blank">Handout</a>
                                                <span *ngIf="!item.webinar_id.handout">-</span>  
                                            </td>
                                            <td>
                                             
<a *ngIf="item.webinar_id.is_pdf == 1" routerLink="/webinar-certificate/{{item.webinar_id._id}}/{{this.user.user_id}}" target="_blank">Certificate</a>
                                               

                                            
                                            </td>
                                            <td>{{item.webinar_id.contact_hours}}</td>
                                            </tr> 
                                        </ng-container>                                   
                                    </ng-container>                                
                                </tbody>
                            </table>
                         </div>
                    </div>


                </div>


            </div>

        </div>
    </div>