 <div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead" *ngIf="this.order">
                            <h2><span>Order Details of #{{this.order.order_id}}</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                   <app-leftbar></app-leftbar>
                </div>
                <div class="col-sm-9">            			
                    <div class="loginpage moorder-outer" *ngIf="this.order">

                        <ol class="progtrckr" data-progtrckr-steps="4">
                            <li [ngClass]="{'progtrckr-done': this.order.status >= 1,'progtrckr-todo': this.order.status < 1}">Order Submitted</li>
                            <li [ngClass]="{'progtrckr-done': this.order.status >= 2,'progtrckr-todo': this.order.status < 2}">Confirmed</li>
                            <li [ngClass]="{'progtrckr-done': this.order.status >= 3,'progtrckr-todo': this.order.status < 3}">Shipped</li>
                            <li [ngClass]="{'progtrckr-done': this.order.status >= 4,'progtrckr-todo': this.order.status < 4}">Delivered</li>
                        </ol>
                        <br/><br/>                        

                        <table width="100%" class="table table-bordered table-hover table-striped">
                        	<tr>
                        		<td width="20%">Order ID</td>
                        		<td>:</td>
                        		<td>#{{this.order.order_id}}</td>
                        	</tr>
                        	<tr>	
                        		<td width="20%">Total</td>
                        		<td>:</td>
                        		<td>${{this.order.total}}</td>
                        	</tr>                        	
                        	<tr>	
                        		<td width="20%">Payment Method</td>
                        		<td>:</td>
                        		<td>{{this.order.payment_method}}</td>
                        	</tr>
                        	<tr>	
                        		<td width="20%">Payment ID#</td>
                        		<td>:</td>
                        		<td>{{this.order.payment_id}}</td>
                        	</tr>
                        	<tr>	
                        		<td width="20%">Shipment Method</td>
                        		<td>:</td>
                        		<td>{{this.order.ship_method}}</td>
                        	</tr>
                        	<tr>	
                        		<td width="20%">Ship ID#</td>
                        		<td>:</td>
                        		<td>{{this.order.ship_id}}</td>
                        	</tr>
                        	<tr>	
                        		<td width="20%">Order Product</td>
                        		<td>:</td>
                        		<td>
                        			<table class="table table-bordered table-hover table-striped">
                        				<tr>
											<th>Sr.No</th>
											<th>Type</th>
											<th>Name</th>
											<th>Price</th>
											<th>Qty</th>
											<th>Total</th>
										</tr>                       				
                        				<tr *ngFor="let item of order.order_product; let i = index ">
                        					<td>{{i+1}}</td>
                        					<td>{{item.type}}</td>
                        					<td>
                        						<a *ngIf="(item.type=='product') && (item.part_id!=null) " routerLink="/product/{{item.product_id.slug}}" target="_blank">{{item.product_id.name}}</a>
                                        		<a *ngIf="item.type=='part'" routerLink="/part/{{item.part_id.slug}}" target="_blank">{{item.part_id.name}}</a>
                                        		<ng-container *ngIf="(item.type=='webinar') && (item.webinar_id!=null)">
                                                  <a routerLink="/webinar/{{item.webinar_id.slug}}" target="_blank">{{item.webinar_id.title}} ({{item.webinar_id[item.datetime] | date: 'MMMM d hh:mm a z'}})
                                                  
                                                    </a>
                                                    <br>
                                                    <span *ngIf="item.webinar_id.certificate">Certificate : <strong>  {{ item.webinar_id.certificate }} </strong><br></span>
                                                    
                                                    <span *ngIf="item.webinar_id.handout">Handout : <strong> {{ item.webinar_id.handout }}</strong> <br></span>
                                                    
                                                    <span *ngIf="item.webinar_id.handout">Post Test : <strong> {{ item.webinar_id.post_test }}</strong>
                                                        </span>
                                                </ng-container>                                        	
                                        		<a *ngIf="item.type=='seminar'" routerLink="/seminar/{{item.seminar_id.slug}}" target="_blank">{{item.seminar_id.title}} ({{item.seminar_id.date_time | date: 'MMMM d hh:mm a z'}})</a>
                        					</td>
                        					<td>${{item.price}}</td>
                        					<td>{{item.qty}}</td>
                        					<td>${{item.total}}</td>
                        				</tr> 
                        			</table>

                        		</td>
                        	</tr>
                        	<tr *ngIf="this.order.order_address" >	
                        		<td width="20%">Billing Address</td>
                        		<td>:</td>
                        		<td *ngIf="this.order.order_address?.billing_fname;else billingaddempty" [innerHTML]="this.order.order_address?.billing_fname+' '+this.order.order_address?.billing_lname+'<br/>'+
                        			this.order.order_address?.billing_add1+'<br/>'+                        			
                        			this.order.order_address?.billing_city+' '+this.order.order_address?.billing_state+'<br/>'+
                        			this.order.order_address?.billing_country+' '+this.order.order_address?.billing_zipcode+'<br/>'+this.order.order_address?.billing_phone+'<br/>'+this.order.order_address?.billing_email+'<br/>' "></td>
                                    <ng-template #billingaddempty><td>NO DATA</td></ng-template>
                        	</tr>                        	
                        	<tr  *ngIf="this.order.order_address" >
                        		<td width="20%">Shipping Address</td>
                        		<td>:</td>
                        		<td *ngIf="this.order.order_address?.shipping_fname;else shippingaddempty" [innerHTML]="this.order.order_address?.shipping_fname+' '+this.order.order_address?.shipping_lname+'<br/>'+
                        			this.order.order_address?.shipping_add1+'<br/>'+                        			
                        			this.order.order_address?.shipping_city+' '+this.order.order_address?.shipping_state+'<br/>'+
                        			this.order.order_address?.shipping_country+' '+this.order.order_address?.shipping_zipcode+'<br/>'+this.order.order_address?.shipping_phone+'<br/>'+ this.order.order_address?.shipping_email+'<br/>'"></td>
                                <ng-template #shippingaddempty><td>NO DATA</td></ng-template>
                        	</tr>
                        </table>
							
                    </div>


                </div>


            </div>

        </div>
    </div>