<ngx-loading-bar></ngx-loading-bar>
<ng-container *ngIf="isLoginRoute != 'webinar-certificate'">
<app-header></app-header>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<flash-messages></flash-messages>			
		</div>
	</div>
</div>
</ng-container>
<router-outlet></router-outlet>
<ng-container *ngIf="isLoginRoute != 'webinar-certificate'">
<app-footer></app-footer>
</ng-container>
