<app-pinkbar page="faq"></app-pinkbar>

<div id="content" *ngIf="!this.slug">
    <div class="container"> 
    	<div class="pagehead"><h2><span>Frequently asked questions (FAQ)</span></h2></div>

        <div class="product_grid_icon grid_view_icon">
         
           <div class="product_grid_select">
                <!--<div class="view_icon_outer"><span>View By </span> <a href="#"><i class="fas fa-th"></i></a><a href="#" class="active"><i class="fas fa-list"></i></a></div>-->

                <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
                <div class="product_sort_select" style="width: 40%">
                    <label>Search by</label>
                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
                </div>                       
            </div>                                         
        </div>
        <div class="news_content">
        	<ng-container *ngFor="let category of this.categories | stringfilter: {name: keyword} : false : filterMetadata | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">        	
	        	<div class="col col-xs-3 faqheadding">
                
					<!-- <a routerLink="/faqs/category/{{category.slug}}" class="ing" tooltip="{{category.childstr}}">{{category.name}}</a>   -->
					<a routerLink="/faqs/category/{{category.slug}}" class="ing"><b>{{category.name}}</b></a>  
					<ul class="faq_links" *ngIf="category.childstr">
						<li *ngFor="let childvalue of childStringToArray(category.childstr)"><a routerLink="/faqs/category/{{category.slug}}/" [fragment]="convertToSlug(childvalue)">{{childvalue}}</a></li>
					</ul>		
	        	</div>
        	</ng-container>	      
            
        </div>        
    </div>            
</div>

<div id="content" *ngIf="this.pagetype == 'category' && this.slug != '' ">
    <div class="container"> 
    	<div class="pagehead"><h2><span>Frequently asked questions (FAQ)</span></h2></div>
        <div class="product_grid_icon grid_view_icon">
           <div class="product_grid_select">
                <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
                <div class="product_sort_select" style="width: 40%">
                    <label>Search by</label>
                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
                </div>                       
            </div>                                         
        </div>
        <div class="news_content">
        	<div *ngIf="getLength(this.categories)== 0"> No data Found!</div>

        	<ng-container *ngFor="let category of this.categories | keyvalue ">        	
	        	<!--<div class="col col-xs-4 " *ngIf="category.value.childs>=1">-->
	        	<div class="col col-xs-4" *ngIf="convertToSlug(category.value.name) == this.fragment">
	        		<h3>{{category.value.name}}</h3>
	        		<ng-container *ngFor="let faq of this.faqData | stringfilter: {question: keyword, answer: keyword} : false : filterMetadata | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }"> 
		        		<div class="col col-xs-12 faqheadding" style="margin-bottom: 10px" *ngIf="faq.category.indexOf(category.key) !== -1">
			        		<a routerLink="/faqs/faq/{{faq._id}}" class="ing" style="font-size: 15px;padding: 7px;text-align: left" >{{faq.question}}</a>
				   		 </div>
			   		</ng-container>
	        	</div>
                <div class="col col-xs-4" *ngIf="!this.fragment">
                    <h3>{{category.value.name}}</h3>
                    <div style="height: 210px; overflow: auto;">
                        <ng-container *ngFor="let faq of this.faqData | stringfilter: {question: keyword, answer: keyword} : false : filterMetadata | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }"> 
                            <div class="col col-xs-12 faqheadding" style="margin-bottom: 10px" *ngIf="faq.category.indexOf(category.key) !== -1">
                                <a routerLink="/faqs/faq/{{faq._id}}" class="ing" style="font-size: 15px;padding: 7px;text-align: left">{{faq.question}}</a>
                            </div>
                        </ng-container>
                     </div>
                </div>
        	</ng-container>
        </div>        
    </div>            
</div>


<div id="content" *ngIf="this.pagetype=='faq' && this.slug!=''">
    <div class="container">
		<div class="pagehead"><h2><span>{{this.faqData.question}}</span></h2></div>
		<div class="news_content">
			<div class="col col-xs-4" *ngIf="this.related!=''">
        		<h3>Related Article</h3>
        		<ng-container *ngFor="let item of this.related "> 
	        		<div class="faqheadding">
		        		<a routerLink="/faqs/faq/{{item._id}}" class="ing" >{{item.question}}</a>
			   		 </div>
		   		</ng-container>			        		
			</div>
    		<div class="col" [class.col-xs-8]="this.related!=''" [innerHTML]="this.faqData.answer | safeHtml"></div>
	   	</div>			   	 
		       		                                  
    </div>            
</div>