<app-pinkbar page="login"></app-pinkbar>

<div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span><i class="fa fa-lock"></i>&nbsp;Secure Sign in</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-12">
                    <div class="loginpage" style="float:left;width: 100%;">
						<div class="col-sm-6 leftcol">
							<h3 class="subhead">Returning Customer</h3>
							<form [formGroup]="userForm" #formDir="ngForm">     	

								<div class="form-group">
									<label for="email">Email</label>
									<input id="email" class="form-control fields" formControlName="email"  placeholder="Enter Your Email" required/>

									<div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
										<div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
										<div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
										<div *ngIf="userForm.controls.email.errors.isEmailUnique">This email has been registered already</div>     		   
									</div>	        
								</div>      	

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" class="form-control fields" formControlName="password" placeholder="Enter Password" required >

									<div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
										<div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
										<div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
									</div>
								</div>

								<div class="forgot_remember_sec">
									<div class="pull-right"><a  routerLink="/forgot-password" class="forgot">Forgot password?</a> </div>
								</div> 

								<div *ngIf="this.error" class="text-danger">
									{{this.error}}<br/>
								</div>

								<div class="btns">    	
									<button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Login</button>
									<!--&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>-->
								</div>

								<div class="sighup-account">
									Don’t have an account yet? <a routerLink="/register">Sign Up</a>
								</div>
			
							</form>
						</div>
						<div class="col-sm-6">
						<h3 class='subhead'>No Account Yet!</h3>
						<p>Checkout as a Guest. Plus, you can create account next time.</p>
						<br/><br/>
						<p class='btns'><a class="btn btn-default" routerLink='/checkout-as-guest'>Checkout as Guest</a></p>
						</div>
                        
                    </div>


                </div>


            </div>

        </div>
    </div>