<div class="row" *ngIf="this.testimonials?.length > 0">
	<div class="col-xs-12">
		
		<div class="page_testimonail_slider">
		    <div class="owl-carousel newslist">
		    	<div class="item" *ngFor="let testimonial of this.testimonials">		  			
		          	<div class="caption">
		          		<div class="client-testimonial">
		          		<img src="{{env.serverUrl+env.galleryDir+this.testimonial.image}}" />
		          	</div>
		            	<h1 *ngIf="testimonial.facility !=''">{{testimonial.facility}}</h1>
		            	<!--<h1 *ngIf="!testimonial?.facility || (testimonial.facility =='' && testimonial.name !='')">{{testimonial.name}}</h1>-->
		              	<p class="first">{{testimonial.feedback}}</p>		              
		          	</div>
		  		</div>
		    </div>
		</div>

	</div>  
</div>
