
    <div class="contact_us">

        <div class="container">
            <h4>Contact Us</h4>
            <div class="row">
                <div class="col-sm-6">
                        <form [formGroup]="userForm" #formDir="ngForm">   
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <!-- <input type="text" class="form-control" placeholder="First name"> -->

                                    <input id="first_name" class="form-control " formControlName="first_name"  placeholder="Enter Your First Name" required/>

                                    <div *ngIf="userForm.controls.first_name.invalid && (userForm.controls.first_name.dirty || userForm.controls.first_name.touched)" class="text-danger">
                                        <div *ngIf="userForm.controls.first_name.errors.required"> First Name is required.</div>
                                    </div>          



                                    </div>
                                    <div class="col-xs-6">
                                        <!-- <input type="text" class="form-control" placeholder="Last name"> -->

                                        <input id="last_name" class="form-control " formControlName="last_name"  placeholder="Enter Your Last Name" required/>

                                        <div *ngIf="userForm.controls.last_name.invalid && (userForm.controls.last_name.dirty || userForm.controls.last_name.touched)" class="text-danger">
                                            <div *ngIf="userForm.controls.last_name.errors.required"> Last Name is required.</div>
                                        </div>          
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" placeholder="Email address"> -->
                                    <input id="email" class="form-control" formControlName="email"  placeholder="Enter Your Email" required/>
                                    <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
                                        <div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
                                        <div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
                                    </div>
                            </div>
                            <div class="form-group">
                           <!--      <select class="form-control">
                                    <option>Denmark</option>
                                    <option>Denmark</option>
                                    <option>Denmark</option>
                                    <option>Denmark</option>
                                </select> -->
                                    <input id="address" class="form-control " formControlName="address"  placeholder="Address" />

                        <!--            <div *ngIf="userForm.controls.address.invalid && (userForm.controls.address.dirty || userForm.controls.address.touched)" class="text-danger">
                                        <div *ngIf="userForm.controls.address.errors.required"> Address is required.</div>
                                    </div>    -->       
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message"   id="message"  formControlName="message"  placeholder="Message" required></textarea>

                                <div *ngIf="userForm.controls.message.invalid && (userForm.controls.message.dirty || userForm.controls.message.touched)" class="text-danger">
                                    <div *ngIf="userForm.controls.message.errors.required"> Message is required.</div>
                                </div>   




                            </div>
                            <button type="submit" class="btn" value="Submit"  [disabled]="userForm.invalid" (click)="sendContactEmail()">Submit</button>

                        </form>
                    </div>
                <div class="col-sm-6">
                    <div class="contact_detail">
                        <h5>LiteGait Headquarters</h5>  
                        <p class="icon">PO Box 3141 <span class="bullet_css"></span> Tempe AZ 85280</p>
                        <!-- <p class="icon"></p> -->
                        <p class="icon"><span><i class="fas fa-phone" style="font-size: 10px;"></i></span>480.829.1727</p>
                        <p><span><i class="fas fa-envelope" style="font-size: 10px;"></i></span>HQ@LiteGait.com</p>
                        <h5>Sales Inquiries (Domestic/International)</h5>
                        <p class="icon"><span><i class="fas fa-phone" style="font-size: 10px;"></i></span>480.829.1727</p>
                        <p><span><i class="fas fa-envelope" style="font-size: 10px;"></i></span>Sales@LiteGait.com</p>
                        <ul>
                            <li><a href="mailto:Sales@LiteGait.com">Sales</a>&nbsp;<span class="bullet_css"></span>&nbsp;<a href="mailto:education@LiteGait.com">Education</a>&nbsp;<span class="bullet_css"></span>&nbsp;<a href="mailto:Service@LiteGait.com">Service</a></li>
                            <li><a href="mailto:Shipping@LiteGait.com">Shipping</a>&nbsp;<span class="bullet_css"></span>&nbsp;<a href="mailto:Billing@LiteGait.com">Billing</a>&nbsp;<span class="bullet_css"></span>&nbsp;<a href="mailto:r&d@LiteGait.com">R & D</a></li>
                            <li><a href="mailto:Marketing@LiteGait.com">Marketing</a>&nbsp;<span class="bullet_css"></span>&nbsp;<a href="mailto:Shareholder@LiteGait.com">Shareholder</a></li>
                            <!-- <li><a href="#">Phone number</a></li>
                            <li><a href="#">E-mail</a></li>  -->
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="distributor_sec" *ngIf="slug != 'contact-us'">
        <div class="container">
            <!-- <h3>Distributor list In - <span>{{this.regionData.name}}</span></h3> -->
            <h3>Distributors</h3>
            <div class="distrobutor_list">
                <ul>
                	<li *ngFor="let distributor of this.distributorData">
                        <div class="align_left">
                            <h5>{{distributor.name}}</h5>
                           	<div [innerHTML]="distributor.address | nl2br"></div>
                        </div>
                        <div class="align_right">
                            <p *ngIf="distributor.authorized==1"><span><i class="fas fa-chart-pie"></i></span>Authorized</p>
                            <p *ngIf="distributor.exclusive==1"><span><i class="fas fa-star"></i></span>Exclusive</p>
                            <p *ngIf="distributor.certified==1"><span><i class="fas fa-bookmark"></i></span>Certified Distributor</p>
                            <p *ngIf="distributor.independent==1"><span><i class="fas fa-universal-access"></i></span>Independent</p>
                        </div>
                    </li>                     
                </ul>
            </div>
        </div>
    </div>


