<app-pinkbar page="part" banner_image="{{this.banner_image}}"></app-pinkbar>

<div id="content" >
    <div class="product-detail-page">

        <div class="container">
            <div class="pagehead">
                <h2><span>{{this.part.name}}</span></h2>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                    <div class="left_sidebar">
                        <!--<h5>Product Models</h5>-->
                        <ul>
                            <li *ngFor="let category of this.categories" [class.active]="category.slug == this.slug">
                                <a routerLink="/{{this.type}}/{{category.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span> {{category.name}}</a>
                            </li>                       
                        </ul>
                        <!--<h5>Interested In</h5>-->
                        <ul>
                            <li *ngIf="this.type=='parts'"><a routerLink="/parts"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>All Parts</a> </li>
                            <li *ngIf="this.type=='parts'"><a routerLink="/accessories"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Accessories</a> </li>
                            <li *ngIf="this.type=='accessories'"><a routerLink="/accessories"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>All Accessories</a> </li>
                            <li *ngIf="this.type=='accessories'"><a routerLink="/parts"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Parts</a> </li>
                            
                            <li *ngIf="this.type=='parts'"><a href="https://meetings.hubspot.com/joel144/device-check" target="_blank"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Schedule a Service Call</a> </li>
                            <li *ngIf="this.type=='parts'"><a routerLink="/page/service-contact-us"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Create a Service Ticket</a> </li>
                            
                            <!--<li *ngIf="this.type=='parts'"><a routerLink="/request_service/part/{{this.part.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Schedule A Service</a> </li>-->
                            <!--<li *ngIf="this.type=='parts'"><a href="#"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Find a Dealer</a> </li>
                            <li *ngIf="this.type=='parts'"><a href="#"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Find a Unit Near Me</a> </li>
                            <li *ngIf="this.type=='parts'"><a href="#"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Rent this Device</a> </li> -->
                        </ul>
                    </div>
                </div>

                <div class="col-dm-12  col-md-9 boxline" *ngIf="this.part.name">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="item product-gallery">
                                <div class="clearfix">
                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                        <li attr.data-thumb="{{env.serverUrl+env.galleryDir+this.part.image}}">
                                            <div class="img-big"> <img src="{{env.serverUrl+env.galleryDir+this.part.image}}" />
                                                <div class="cap">{{this.part.name}}</div>
                                            </div>
                                        </li>
                                        <ng-container *ngIf="this.part.image_gallery!=''">
                                            <li *ngFor="let pimage of this.part.image_gallery" attr.data-thumb="{{env.serverUrl+env.galleryDir+pimage.image}}">
                                                <div class="img-big"> <img src="{{env.serverUrl+env.galleryDir+pimage.image}}" />
                                                    <div class="cap">{{this.part.name}}</div>
                                                </div>                                                
                                            </li>
                                        </ng-container>
                                        <li *ngIf="this.part.video && this.part.video.indexOf('vimeo') == -1" attr.data-thumb="{{env.serverUrl+env.galleryDir+'/video.png'}}">
                                            <div class="img-big"> 
                                            	<video width="100%" height="100%" controls>
													<source [src]="videoURL(this.part.video)" type="video/mp4">
												</video>												
                                            </div>
                                        </li>
                                        <li *ngIf="this.part.video && this.part.video.indexOf('vimeo') !== -1" attr.data-thumb="{{env.serverUrl+env.galleryDir+'/video.png'}}">
                                            <div class="img-big"> 
                                            	<iframe  [src]="vimeoURL(this.part.video)" width="100%" height="350px" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </li>                                        
                                    </ul>                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="product-dis" style="min-height: 300px;">
                                <h5>{{this.part.name}}</h5>
                                <div [innerHTML]="this.part.short_description | safeHtml"></div>                                
                                <span *ngIf="this.part.price_request==0"><span class="product_price">${{this.part.price}}</span><input type="button" value="Add to Cart" class="btn addcart request_btn" attr.data-id="{{this.part._id}}" attr.data-name="{{this.part.name}}" attr.data-price="{{this.part.price}}"attr.data-image="{{this.part.image}}" attr.data-slug="{{this.part.slug}}" attr.data-category="{{this.part.category._id}}" attr.data-ptype="{{this.part.type}}"/></span>
                                <span *ngIf="this.part.price_request==1"><a routerLink="/request_quote/part/{{this.part.slug}}"> <input type="button" value="Request a Quote" class="btn request_btn"/></a></span>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pro-dis">
                                <h4>Description</h4>
                                <div [innerHTML]="this.part.description | safeHtml"></div>                                
                            </div>
                        </div>
                                   
                    </div>   


                    <app-pagetestimonials *ngIf="this.part._id" page="part" id="{{this.part._id}}"></app-pagetestimonials>                                   

                </div> <!-- end col-md-9 boxline -->

            </div>
        </div> <!-- end product-detail container --> 

        <div class="device" *ngIf="this.part.related_product?.length>=1">
            <div class="container">
                <h4>Related Part:</h4>
                <div class="owl-carousel device-slider"> 
                    <div class="item text-center" *ngFor="let rproduct of this.part.related_product" style="overflow: hidden;">                            
                        <a routerLink="/part/{{rproduct.slug}}">                                                                     
                            <div class="device-slider-th"><img src="{{env.serverUrl+env.galleryDir+rproduct.image}}" alt="" title="{{rproduct.name}}"/></div>
                            <!--<h6>{{rproduct.name}}</h6>-->
                        </a>
                    </div>
                    <!--<div class="item text-center">
                        <div class="device-slider-th"> <img src="assets/images/th_01.jpg" alt="" /></div>
                    </div>-->
                </div>
            </div>
        </div> <!-- end device -->

    </div> <!-- end product-detail-page -->
</div>

