

<app-pinkbar page="product" banner_image="{{this.banner_image}}"></app-pinkbar>

<div id="content">
    <div class="product-detail-page">

        <div class="container">
            <div class="pagehead">
                <h2 *ngIf="this.category"><span>{{this.category.name}}</span></h2>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                    <div class="left_sidebar">
                        <h5>Interested In</h5>
                        <ul>
                            <li><a routerLink="/parts"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span> Parts</a> </li>
                            <li><a routerLink="/accessories"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Accessories</a> </li>
                            <!-- <li *ngIf="this.product.schedule_service==1"><a routerLink="/request_service/product/{{this.product.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Schedule A Service</a> </li> -->
                            <li><a href="#"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Find a Dealer</a> </li>
                            <li><a href="#"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Find a Unit Near Me</a> </li>
                            <li><a href="#"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Rent this Device</a> </li>
                        </ul>
                    </div>
                </div>

                <div class="col-dm-12  col-md-9 boxline">
       
                
                    <div class="product_grid_icon grid_view_icon">
                     
                       <div class="product_grid_select">
                            <!--<div class="view_icon_outer"><span>View By </span> <a href="#"><i class="fas fa-th"></i></a><a href="#" class="active"><i class="fas fa-list"></i></a></div>-->

                            <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
                            <div class="product_sort_select" style="width: 40%">
                                <label>Search by</label>
                                <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
                            </div>
                            <div class="product_sort_select" style="width: 40%">
                                <label>Sort by</label>
                                <select class="form-control" [(ngModel)]="orderByType">                        
                                    <option [ngValue]="false">Part Name:  A to Z</option>
                                    <option [ngValue]="true">Part Name:  Z to A</option>                        
                                </select>
                            </div>            
                        </div>                   
                        <!-- <span class="show_number"> Showing {{ (this.p - 1) * this.itemsPerPage + 1 }} - {{ this.p * this.itemsPerPage }} of {{ this.filterMetadata.count }} items</span> -->            
                        <span class="show_number view_icon_outer"> <a  href="javascript:void(0);" [ngClass]="!show?'active':''" (click)="onbtnClick('grid')"><i class="fas fa-th"></i></a><a  href="javascript:void(0);"  [ngClass]="show?'active':''"   (click)="onbtnClick('list')"><i class="fas fa-list"></i></a></span>
                    </div>           
                
                    <div class="select_product_outer service_part_product">

                        <p *ngIf="this.products == ''">No Product Found!</p>     
                     
     
                        <div class="accessory_cotent">        
                        <div class="row" *ngIf="show">
                            <div class="col-sm-12">
                                <ul class="accessory_list">
                                    <li    *ngFor="let product of this.products | stringfilter: {name: keyword, short_description: keyword, sno: keyword} : false : filterMetadata | orderBy:'position' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">
                                        <div class="accessory_image">
                                           <a routerLink="/product/{{product.slug}}"> <img src="{{env.serverUrl+env.galleryDir+product.image}}" alt="" /> </a>
                                        </div>
                                        <div class="accessory_content">
                                           <a routerLink="/product/{{product.slug}}"> <h5> {{product.name}}</h5></a>

                                            <div  *ngIf="product.short_description"  class="part_desc" [innerHTML]="product.short_description | safeHtml"> </div>
                                            <div   *ngIf="!product.short_description && product.description"  class="part_desc"   [innerHTML]="(product.description.length>75)? (product.description | striphtml | slice:0:75)+'...':(product.description | striphtml)"> </div>

                                            <p class="price"  *ngIf="product.price_request==0">${{product.price| number : '1.2-2'}}</p>

                                            <a  routerLink="/product/{{product.slug}}" class="read_btn a_btn">Read more</a>

                                            <a  routerLink="/product/{{product.slug}}" *ngIf="product.price_request==1" class="accessory_buy_btn a_btn">  Request Quote</a>

                                            <input  *ngIf="product.price_request==0" type="button" value="Buy Now" class="addcart accessory_buy_btn" attr.data-id="{{product._id}}" attr.data-name="{{product.name}}" attr.data-price="{{product.price}}"attr.data-image="{{product.image}}" attr.data-slug="{{product.slug}}" data-ptype="product"/>
                                        </div>
                                    </li>
                                </ul>
                           </div>
                        </div>   

                        <div class="row"  *ngIf="!show">
                            <div class="col-sm-12 product_search_slider select_product_slider">
                                <div class="col-xs-6 col-sm-6 col-md-4" *ngFor="let product of this.products | stringfilter: {name: keyword, short_description: keyword, sno: keyword} : false : filterMetadata | orderBy:'position' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">
                                    <div class="item">
                                        <div class="crouserl_img">
                                            <div class="crousel_img">
                                               <a routerLink="/product/{{product.slug}}">  <img src="{{env.serverUrl+env.galleryDir+product.image}}" alt="" /> </a>
                                            </div>
                                            <div class="product_content">
                                                <h4><a routerLink="/product/{{product.slug}}">{{product.name}}</a></h4>
                                                <div *ngIf="product.short_description" class="part_desc" [innerHTML]="product.short_description | safeHtml"> </div>
                                                <div  *ngIf="!product.short_description && product.description"  class="part_desc"  [innerHTML]="(product.description.length>15)? (product.description | striphtml | slice:0:15)+'...':(product.description | striphtml)"> </div>
                                                
                                            </div>
                                            <div class="rate_cart" *ngIf="product.price_request==0">
                                                <span class="price">${{product.price| number : '1.2-2'}}</span>
                                                <a href="javascript:void(0);" style="padding-top: 2px; "  class="addcart a_btn" attr.data-id="{{product._id}}" attr.data-name="{{product.name}}" attr.data-price="{{product.price}}"attr.data-image="{{product.image}}" attr.data-slug="{{product.slug}}" data-ptype="product"><i class="fas fa-cart-plus"></i> Add to cart</a>
                                            </div>
                                            <div class="rate_cart" *ngIf="product.price_request==1">
                                                <span class="price">&nbsp;</span>
                                                <a routerLink="/product/{{product.slug}}" class="a_btn"><i class="fas fa-mail-bulk"></i> Request Quote</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        </div>
                        <pagination-controls (pageChange)="p = $event" class="pagination_dev"></pagination-controls>            

                    </div> <!-- end select_product_outer -->
                
                </div> <!-- end col-md-9 boxline -->

            </div>
        </div> <!-- end product-detail container -->



    </div> <!-- end product-detail-page -->


</div>





























<!--
<app-pinkbar page="product" banner_image="{{this.banner_image}}"></app-pinkbar>
<div class="product_page">
    <div class="container">         
        <div class="pagehead"><h2><span>{{this.category.name}}</span></h2></div>
        <p>{{this.category.short_description}}</p>
            
        <div class="product_grid_icon grid_view_icon">
         
           <div class="product_grid_select">
                

                <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
                <div class="product_sort_select" style="width: 40%">
                    <label>Search by</label>
                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
                </div>
                <div class="product_sort_select" style="width: 40%">
                    <label>Sort by</label>
                    <select class="form-control" [(ngModel)]="orderByType">                        
                        <option [ngValue]="false">Product Name:  A to Z</option>
                        <option [ngValue]="true">Product Name:  Z to A</option>                        
                    </select>
                </div>            
            </div>                   
            <span class="show_number"> Showing {{ (this.p - 1) * this.itemsPerPage + 1 }} - {{ this.p * this.itemsPerPage }} of {{ this.filterMetadata.count }} items</span>            
        </div>
            
            
        <div class="select_product_outer">     
         
        	<div class="product_search_slider select_product_slider">
                
              	<div class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let product of this.products | stringfilter: {name: keyword, short_description: keyword} : false : filterMetadata | orderBy:'name' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">
               		<div class="item"> 
		                <div class="crouserl_img">
		                   	<a routerLink="/product/{{product.slug}}">
			                   
			                    <h6>{{product.name}}</h6>
                                <div class="cat_dis" [innerHTML]="product.short_description | safeHtml"></div>		                     	
			                    <div class="crousel_img"><img src="{{env.serverUrl+env.galleryDir+product.image}}" alt="" /></div>
		                    </a>
		                </div>
              		</div>
            	</div> 

            </div>             

            <pagination-controls (pageChange)="p = $event" class="pagination_dev"></pagination-controls>            

        </div> 

    </div>   
</div>

-->