<app-pinkbar page="seminar"></app-pinkbar>
<div id="content">
    <div class="product-detail-page">
        <div class="container"> 

        	<div class="col-xs-12 seminartop" [innerHTML]="this.seminarTopText.body"></div>           

            <div class="row pt-5 webniar_outer">
                <div class="col-smm-12 col-md-3">
                    <app-elp></app-elp>
                </div>

                <div class="col-sm-12  col-md-9">

                    <div class="row">
                    	<div class="col-md-4 align_left" *ngIf="this.seminar.speaker_id">
                    		<!--<div class="col-md-12 align_center">
                    			<a routerLink="/request_host_seminar/{{this.seminar.slug}}" class="btn request_seminar_host">Register For This Seminar</a>
                    		</div> -->
                    		<ng-container *ngFor="let speaker of this.seminar.speaker_id">
	                    		<img src="{{env.serverUrl+env.galleryDir+speaker.image}}" />
	                    		<h6>Instructor:</h6>
								<h5><a routerLink="/instructor/{{speaker.slug}}">{{speaker.name}}</a></h5>
								<h6><i>{{speaker.tag_line}}</i></h6>
	                   			<div class="desc_" [innerHTML]="speaker.bio | safeHtml"></div>
                   			</ng-container>
                    	</div>
                    	<div class="col-md-8 align_right">
                    		<h2>{{this.seminar.title}}</h2>
                    		<h5 *ngIf="this.seminar.subtitle !=''">{{this.seminar.subtitle}}</h5>

                    		<div class="date_wrap">
                    			<h4 style="float: left;width: 100%;"><span *ngIf="this.seminar.date_time" style="float: left">{{this.seminar.date_time | date: 'MMMM d hh:mm a':'+0530'}} EDT</span>
                    				<span *ngIf="this.seminar.price>=1">${{this.seminar.price}}</span>
                    				<span *ngIf="this.seminar.price==0">Free</span>
                    			</h4>
                    		</div>
                    		
                    		<div class="purchase_step" *ngIf="this.seminar.date_time">                    			
                    			<div class="align_right" style="width: 100%">
                    				<ul>
                    					<!--<li><span>{{this.seminar.location}}</span> <a href="javascript:void(0)" class="btn addcart" attr.data-id="{{this.seminar._id}}" attr.data-name="{{this.seminar.title}}" attr.data-price="{{this.seminar.price}}" attr.data-image="{{(this.seminar.speaker_id)?this.seminar.speaker_id[0].image:''}}" attr.data-slug="{{this.seminar.slug}}" data-ptype="seminar"  attr.check_plan="{{this.user.elp_plan}}"   (click)="purchase_by_plan()" >purchase</a></li>-->
                    					<li><span [innerHTML]="this.seminar.location | nl2br"></span> <a href="javascript:void(0)" class="btn addcart" attr.data-id="{{this.seminar._id}}" attr.data-name="{{this.seminar.title}}" attr.data-price="{{this.seminar.price}}" attr.data-image="{{(this.seminar.speaker_id)?this.seminar.speaker_id[0].image:''}}" attr.data-slug="{{this.seminar.slug}}" data-ptype="seminar">Register</a><br/></li>
                    				</ul>
                    			</div>
                    		</div>

                    		<div class="purchase_step" *ngIf="!this.seminar.date_time">                    			
                    			<div class="align_right" style="width: 100%">
                    				<ul>
                    					<li><a routerLink="/request_host_seminar/{{this.seminar.slug}}">Request</a><br/></li>
                    				</ul>
                    			</div>
                    		</div>
                    		
                    		<h5>Course Descriptions</h5>
                    		<div [innerHTML]="this.seminar.description | safeHtml"></div>                   		
                    		
                    	</div>
                    	
                    </div>

                    <app-pagetestimonials *ngIf="this.seminar._id" page="seminar" id="{{this.seminar._id}}"></app-pagetestimonials>
                </div>


            </div>


		</div> <!-- end  container -->
    </div> <!-- end  product-detail-page -->
</div> <!-- end content -->
