<div id="content">
    <div class="container">
    	<div class="row" >
	    	<div class="pagehead"><h2><span>Product Information</span></h2></div>
	    	<div class="col-xs-12">		    	     
		        <div class="gallery_content">	           	
		            <div class="gallery_content">		                
		                <div class="row" >
			                <div class="news_content gallery_page_listview">	
			                	<ul>		                		
		                		<ng-container *ngFor="let product of this.products">

					                <li *ngIf="product.slug == this.slug">
				                		<div class="col-xs-9 text-justify">
						                   	<div class="news_image gall_image" style="width: 20%;text-align: left">
						                        <img src="{{env.serverUrl+env.galleryDir+product.service_image}}" style="height:120px;" *ngIf="product.service_image && product.service_image!=''"/>
						                        <img src="{{env.serverUrl+env.galleryDir+product.image}}" style="height:120px;" *ngIf="!product.service_image || product.service_image==''"/>
						                    </div>
						                    <div class="new_content" style="width:100%">
						                       <a routerLink="/service/product/{{product.slug}}"><h4>{{product.name}}</h4></a>
						                        <p [innerHTML]="product.service_description" *ngIf="product.service_description && product.service_description!=''"></p>
						                        <p [innerHTML]="product.description | striphtml | slice:0:400" *ngIf="!product.service_description || product.service_description==''"></p>
						                    </div>	
						                </div>
						                <div class="col-xs-3 text-right">
						                	<h4 class="pagehead">Quick options:-</h4>
						                	<ng-container *ngFor="let document of this.documents">						                			
						                		<ng-container *ngIf="document.product_id==product._id">
						                			<ng-container *ngFor="let keys of getKeys(document)">						                			
							                			<div *ngIf="document[keys]!='' && keys!='product_datasheet' && keys!='product_datasheet_name'">
															<a href="{{env.serverUrl+env.galleryDir+document[keys]}}" class="documentlink" target="_blank">{{showKeys(keys)}}</a>
														</div>
														</ng-container>	
													<ng-container *ngFor="let item of document.product_datasheet;let j = index;let last = last;">
                                	 						<div><a href="{{env.serverUrl+env.galleryDir+item}}" class="documentlink" target="_blank">{{this.document.product_datasheet_name[j]}}</a></div>
                                	 					</ng-container>									
						                		</ng-container>	
						                	</ng-container>
											<div><a routerLink="/parts/product/{{product.slug}}" class="documentlink">Parts</a></div>
											
											<div *ngIf="product.parts?.length >= 1 && product.parts[0].type=='accessories'"><a routerLink="/accessories/product/{{product.slug}}" class="documentlink">Accessories</a></div>
											
						                	<div><a routerLink="/page/service-contact-us" class="documentlink" >Contact Support</a></div>
						                </div>    					                    					                   
					                </li> 
					            </ng-container>
					           	</ul>
					        </div>
		                </div>              
		                
		            </div>     
		        </div> <!-- end gallery_content -->
	    	</div>	    	   	
    	</div>
    </div>       	   
</div>