<div id="content">
    <div class="container">

    	<div class="pagehead"><h2><span>Checkout</span></h2></div>

    	<div class="row" >
    		<div class="col-xs-8"> 
                <form [formGroup]="billingForm" #formDir="ngForm">
    			<div class="pagehead2">Billing Address</div>
    			<div class="col-xs-12 billing_addr">
                    
                    <div class="row"> 
        				<div class="form-group col-sm-6">
        					<label for="billing_fname">First Name <span class="text-danger">*</span></label>		
        					<input class="form-control" placeholder="First Name" id="billing_fname" formControlName="billing_fname">
                            <div *ngIf="billingForm.controls.billing_fname.touched && billingForm.controls.billing_fname.invalid && billingForm.controls.billing_fname.errors.required" class="text-danger">First Name is required.</div>                            
    					</div>
    					<div class="form-group col-sm-6">
        					<label for="billing_lname">Last Name</label>		
        					<input class="form-control" placeholder="Last Name" id="billing_lname" formControlName="billing_lname" >
    					</div> 
                    </div>

                    <div class="row"> 
        				<div class="form-group col-sm-6"> 
        					<label for="billing_phone">Phone <span class="text-danger">*</span></label>		
        					<input class="form-control" placeholder="Phone" id="billing_phone" formControlName="billing_phone">
                            <div *ngIf="billingForm.controls.billing_phone.touched && billingForm.controls.billing_phone.invalid && billingForm.controls.billing_phone.errors.required" class="text-danger">Phone is required.</div>                            
    					</div>
    					<div class="form-group col-sm-6">
        					<label for="billing_email">Email <span class="text-danger">*</span></label>		
        					<input class="form-control" placeholder="Email" id="billing_email" formControlName="billing_email">
                            <div *ngIf="billingForm.controls.billing_email.touched && billingForm.controls.billing_email.invalid && billingForm.controls.billing_email.errors.required" class="text-danger">Email is required.</div>
    					</div> 
                    </div>

					<div class="row"> 
                        <div class="form-group col-sm-12">
        					<label for="billing_addr1">Street Address <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Street Address Line 1" id="billing_addr1" formControlName="billing_addr1">
                            <div *ngIf="billingForm.controls.billing_addr1.touched && billingForm.controls.billing_addr1.invalid && billingForm.controls.billing_addr1.errors.required" class="text-danger">Address Line 1 is required.</div>
                            <br/>
        					<input class="form-control" placeholder="Street Address Line 2" id="billing_addr2" formControlName="billing_addr2">
    					</div>
                    </div>

                    <div class="row">     
    					<div class="form-group col-sm-6">
							<label for="billing_city">Country <span class="text-danger">*</span></label>	
							<select formControlName="billing_country" class="form-control" (change)="onChangeCountry($event.target.value)">
								<option value="">Select country...</option> 
								<option *ngFor="let country of this.countryData" [value]="country.iso2">{{country.name}}</option>
							  </select>
							  <div *ngIf="billingForm.controls.billing_country.touched && billingForm.controls.billing_country.invalid && billingForm.controls.billing_country.errors.required" class="text-danger">Country is required.</div>
        					
    					</div>
    					<div class="form-group col-sm-6">
        					<label for="billing_state">State <span class="text-danger">*</span></label>		
							<select formControlName="billing_state" class="form-control" (change)="onChangeState($event.target.value)">
								<option value="">Select state...</option> 
								<option *ngFor="let state of this.states" [value]="state.state_code">{{state.name}}</option>
							  </select>
                            <div *ngIf="billingForm.controls.billing_state.touched && billingForm.controls.billing_state.invalid && billingForm.controls.billing_state.errors.required" class="text-danger">State is required.</div>
    					</div>
                    </div>
                    <div class="row">      
    					<div class="form-group col-sm-6">
        					<label for="billing_city">City <span class="text-danger">*</span></label>		
        					<input class="form-control" placeholder="City" id="billing_city" formControlName="billing_city">
                            <div *ngIf="billingForm.controls.billing_city.touched && billingForm.controls.billing_city.invalid && billingForm.controls.billing_city.errors.required" class="text-danger">City is required.</div>
						</div>
				
						
    					<div class="form-group col-sm-6">
        					<label for="billing_zip">Zipcode <span class="text-danger">*</span></label>		
        					<input class="form-control" placeholder="Zipcode" id="billing_zipcode" formControlName="billing_zipcode">
                            <div *ngIf="billingForm.controls.billing_zipcode.touched && billingForm.controls.billing_zipcode.invalid && billingForm.controls.billing_zipcode.errors.required" class="text-danger">Zip Code is required.</div>
                             <div *ngIf="billingForm.controls.billing_zipcode.touched && billingForm.controls.billing_zipcode.invalid && billingForm.controls.billing_zipcode.errors.pattern" class="text-danger">Zipcode Not valid.</div>
    					</div> 
                    </div>       				
    			</div>	
    			<br/><br/>
    			<div class="pagehead2"  *ngIf="show_shipping">Shipping Address</div>
    			<div class="col-xs-12 shipping_addr" *ngIf="show_shipping">

    				<div class="row"> 
                        <div class="form-group col-sm-12">                            
                            <input type="checkbox" class="form-control1" id="same_as_billing" (click)="sameAsBilling()" style="width: 16px;height: 16px;vertical-align: sub;">&nbsp;
                           	<label for="shipping_fname">Same As Billing</label>       
                        </div>
                         
                    </div>
                    
                    <div class="shippingdiv"> 
                    <div class="row"> 
                        <div class="form-group col-sm-6">
                            <label for="shipping_fname">First Name <span class="text-danger">*</span></label>       
                            <input class="form-control" placeholder="First Name" id="shipping_fname" formControlName="shipping_fname">
                            <div *ngIf="billingForm.controls.shipping_fname.touched && billingForm.controls.shipping_fname.invalid && billingForm.controls.shipping_fname.errors.required" class="text-danger">First Name is required.</div>
                            
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="shipping_lname">Last Name</label>       
                            <input class="form-control" placeholder="Last Name" id="shipping_lname" formControlName="shipping_lname">
                        </div> 
                    </div>

                     <div class="row"> 
        				<div class="form-group col-sm-6">
        					<label for="shipping_phone">Phone <span class="text-danger">*</span></label>		
        					<input class="form-control" placeholder="Phone" id="shipping_phone" formControlName="shipping_phone">
                            <div *ngIf="billingForm.controls.shipping_phone.touched && billingForm.controls.shipping_phone.invalid && billingForm.controls.shipping_phone.errors.required" class="text-danger">Phone is required.</div>                            
    					</div>
    					<div class="form-group col-sm-6">
        					<label for="shipping_email">Email <span class="text-danger">*</span></label>		
        					<input class="form-control" placeholder="Email" id="shipping_email" formControlName="shipping_email">
                            <div *ngIf="billingForm.controls.shipping_email.touched && billingForm.controls.shipping_email.invalid && billingForm.controls.shipping_email.errors.required" class="text-danger">Email is required.</div>
    					</div> 
                    </div>

                    <div class="row"> 
                        <div class="form-group col-sm-12">
                            <label for="shipping_addr1">Street Address <span class="text-danger">*</span></label>       
                            <input class="form-control" placeholder="Street Address Line 1" type="text" id="shipping_addr1" formControlName="shipping_addr1">
                            <div *ngIf="billingForm.controls.shipping_addr1.touched && billingForm.controls.shipping_addr1.invalid && billingForm.controls.shipping_addr1.errors.required" class="text-danger">Address Line 1 is required.</div>
                            <br/>
                            <input class="form-control" placeholder="Street Address Line 2" id="shipping_addr2" formControlName="shipping_addr2">
                        </div>
                    </div>

                    <div class="row">     
                        <div class="form-group col-sm-6">
							<label for="shipping_country">Country <span class="text-danger">*</span></label>        
							<!-- <input class="form-control" placeholder="Country" id="shipping_country" formControlName="shipping_country"> -->


							<select formControlName="shipping_country" class="form-control" (change)="onChangeCountry($event.target.value)" >
								<option value="">Select country...</option> 
								<option *ngFor="let country of this.countryData" [value]="country.iso2">{{country.name}}</option>
							  </select>
                            <div *ngIf="billingForm.controls.shipping_country.touched && billingForm.controls.shipping_country.invalid && billingForm.controls.shipping_country.errors.required" class="text-danger">Country is required.</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="shipping_state">State <span class="text-danger">*</span></label>        
							<!-- <input class="form-control" placeholder="State" id="shipping_state" formControlName="shipping_state"> -->

							<select formControlName="shipping_state" class="form-control" (change)="onChangeState($event.target.value)">
								<option value="">Select state...</option> 
								<option *ngFor="let state of this.states" [value]="state.state_code ">{{state.name}}</option>
							  </select>

                            <div *ngIf="billingForm.controls.shipping_state.touched && billingForm.controls.shipping_state.invalid && billingForm.controls.shipping_state.errors.required" class="text-danger">State is required.</div>
                        </div>
                    </div>
                    
                    <div class="row">      
                        <div class="form-group col-sm-6">
                            <label for="shipping_city">City <span class="text-danger">*</span></label>      
                            <input class="form-control" placeholder="City" id="shipping_city" formControlName="shipping_city">
                            <div *ngIf="billingForm.controls.shipping_city.touched && billingForm.controls.shipping_city.invalid && billingForm.controls.shipping_city.errors.required" class="text-danger">City is required.</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="shipping_zipcode">Zipcode <span class="text-danger">*</span></label>        
                            <input class="form-control" placeholder="Zipcode" id="shipping_zipcode" formControlName="shipping_zipcode">
                            <div *ngIf="billingForm.controls.shipping_zipcode.touched && billingForm.controls.shipping_zipcode.invalid && billingForm.controls.shipping_zipcode.errors.required" class="text-danger">Zip Code is required.</div>
                             <div *ngIf="billingForm.controls.shipping_zipcode.touched && billingForm.controls.shipping_zipcode.invalid && billingForm.controls.shipping_zipcode.errors.pattern" class="text-danger">Zipcode Not valid.</div>
                        </div> 
                    	</div>
                    </div>
    				
    			</div>

                <div class="col-xs-12 btns text-right"> 
                    <button type="submit" class="btn btn-success"  (click)="submitAddressForm()">Continue</button>
                </div>

                </form>                
    		</div>
    		<div class="col-xs-4">
				<div class="pagehead2">Order Summary</div> 
				<table class="order_info">
					<tr><th>Product</th><th>Total</th></tr>
					<tr class="item" *ngFor="let cartitem of this.cart.items"> 
						<td>{{cartitem.name}}</td>
						<td>${{cartitem.total}}</td>
					</tr>
					<tr><th>Sub Total</th><th>${{this.cart.subtotal}}</th></tr>
					<tr *ngIf="this.cart.discount > 0"><th>Discount {{this.cart.discountcode}} Applied</th><th>${{this.cart.discount}}</th></tr>
					<tr><th>Total</th><th>${{this.cart.total}}</th></tr>
				</table>
				<div class="col-xs-12 text-center" style="padding: 0px">
					<div class="pagehead2">Coupon Code</div>
					<div class="form-group">
						<!--<label class="control-label col-sm-4" for="email">Coupon Code?</label>-->
						<div class="col-sm-12">					
							<div class="input-group input-group-sm">
								<input class="form-control" placeholder="Enter Coupon Code" name="couponCode" id="couponcode" value="{{this.couponCode}}" [(ngModel)]="this.couponCode">
								<span class="input-group-btn">
									<button type="button" class="btn btn-success btn-lrg ajax gen_code" (click)="applyCoupon()"><i class="fa fa-refresh"></i>&nbsp; Apply</button>
								</span>
							</div>
							<span class="col-sm-12 text-left text-success couponmsg" style="padding-left: 0px;">{{this.couponSuccessMsg}}</span>	
							<span class="col-sm-12 text-left text-danger couponmsg" style="padding-left: 0px;">{{this.couponErrorMsg}}</span>	
						</div>
					</div>
				</div>	
    		</div>
    	</div>

    </div>	
</div>  
