<div class="slider">
    <div class="featured_image">
        <img src="assets/images/blog_banner.jpg" alt="" />
    </div>
</div>

<app-pinkbar></app-pinkbar>

<div id="content">
    <div class="container"> 
    	<div class="pagehead" *ngIf="slug==null"><h2><span>Our Blogs</span></h2></div>
        <div class="news_content" *ngIf="slug==null">            
            <ul>
                <li *ngFor="let blog of this.blogData | paginate: { itemsPerPage: 10, currentPage: p }" >
                   	<div class="news_image">
                        <img src="{{env.serverUrl+env.galleryDir+blog.image}}" alt="" style="max-width:300px;max-height:300px"/>
                    </div>
                    <div class="new_content">
                        <h4>{{blog.title}}</h4>
                        <p>{{blog.short_description}}</p>
                        <a routerLink="/blog/{{blog._id}}" class="read_btn">Read More...</a>
                        <!--<a routerLink="/blog/{{blog._id}}" class="news_btn">View More</a>-->
                    </div>
                </li>               
            </ul>
            <pagination-controls (pageChange)="p = $event" class="pagination_dev"></pagination-controls>
            <!--<div class="view_all">
                <a href="#">View All News </a>
            </div>-->
        </div>

        <div class="news_content" *ngIf="slug!=null">
        	<h2><span>{{this.blogData.title}}</span> </h2>
        	<div class="news_content">
        		<div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <img src="{{env.serverUrl+env.galleryDir+this.blogData.image}}" style="max-width:300px;max-height:300px"/>                        
                    </div>
                    <div [innerHTML]="this.blogData.content | safeHtml"></div>
		            <br/><div class="view_all col-xs-12 col-sm-12 col-md-12">
		                <a routerLink="/blogs">View All Blog </a>
		            </div>
                </div>    
        	</div>                                                            
        </div>
    </div> 
</div>